<div id="carga_filtro">
		<div id="grafico_efectividad_porcion"></div>
		<div id="grafico_efectividad_porcion_dos"></div>


	<script  type="text/javascript" charset="utf-8">
			// Grafico Uno
			google.charts.load('current', {packages: ['corechart']});
			function drawEfectividad() {
					// Define the chart to be drawn.
					var data = google.visualization.arrayToDataTable([
							//Define Estados
							['Estados de lectura', 'Meses', { role: 'annotation'}],
					<% if !@efectividadPorcion.blank? %>
						<% @efectividadPorcion.each do |efectividad| %>
								['<%= efectividad[0]%>',  <%= efectividad[3].to_i%>, '<%= efectividad[3]%> %' ],
						<% end %>
					<%else%>
							['0',  0,'0'],
					<% end %>
					]);
					var options = {
							colors: ['#084165']};

					// Instantiate and draw the chart.
					var chart = new google.visualization.ComboChart(document.getElementById('grafico_efectividad_porcion'));
					chart.draw(data, options);
			}
			google.charts.setOnLoadCallback(drawEfectividad);
			// Grafico Uno
			function drawEfectividad2() {
					// Define the chart to be drawn.
					var data = google.visualization.arrayToDataTable([
							//Define Estados
							['Estados de lectura', 'Meses', { role: 'annotation'}],
					<% if !@efectividadPorcion.blank? %>
						<% @efectividadPorcion.each do |efectividad| %>
								['<%= efectividad[0]%>',  <%= efectividad[1].to_i%>, '<%= efectividad[1]%> ' ],
						<% end %>
					<%else%>
							['0',  0,'0'],
					<% end %>
					]);
					var options = {
							colors: ['#03A678']};

					// Instantiate and draw the chart.
					var chart = new google.visualization.ColumnChart(document.getElementById('grafico_efectividad_porcion_dos'));
					chart.draw(data, options);
			}
			google.charts.setOnLoadCallback(drawEfectividad2);

	</script>


</div>
