<div id="carga_zonas">
	<% if !@zonas.nil?  %>
		<%=select_tag "zona", options_from_collection_for_select(@zonas, "id", "nombre"),:onchange => "cargarLectores();",:prompt=> "Todas", :class => "custom-select custom-select-sm"%>
	<%else%>
	  	<select id="zona" class="custom-select custom-select-sm" ><option value="">Todas</option>></select>
	<%end%>
</div>

<!-- Agregar Metodos CargaEmpleados CargaPorciones -->
<script type="text/javascript">
	function cargarLectores() {
		var zona = document.getElementById("zona").value;
		$.ajax({
    	url: "<%=url_for :controller => 'lec_reporte_resumen_general_lecturas',:action => 'carga_lectores' %>",
			data: 'zona=' + encodeURIComponent(zona),
    	cache: false,
      success: function(data) {}
        })
	}
</script>
