<title>Resumen General Efectividad</title>
<div class="container-fluid">
	<ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to '<i class="fas fa-home"></i>'.html_safe, { :action => "index", :controller => :dashboard }%></span></li>
    <li class="breadcrumb-item">Lectura </li>
    <li class="breadcrumb-item">Reportes </li>
    <li class="breadcrumb-item active">Resumen General Efectividad</li>
	</ol>
	<br>
<div class="buscador">
	<div class="row">
		<div class="col-md-2">
			<label for="">Región:</label>
				<%=select_tag "region", options_from_collection_for_select(@regiones, "id", "nombre"), :prompt=> "Seleccionar", :class => "custom-select custom-select-sm" , :onchange => 'cargarZonas();'%>
			</div>
			<div class="col-md-2">
				<label for="">Zonal:</label>
				<%= render 'carga_zonas' %>
			</div>
			<div class="col-md-1">
				<label for="">Año:</label><br>
				<%= select_year(2020,{start_year: 2020, end_year: 2040},{ :class => "custom-select custom-select-sm",:onchange => "cargarPorciones();"})%>
			</div>
			<div class="col-md-3">
				<label for="">Operador Medidor:</label>
				<%= render 'carga_lectores' %>
			</div>
			<div class="col-md-1">
				<button type="button" onclick="cargarEfectividad();" class="btn-buscar btn-circle btn-lg"><span class="fas fa-magnify"></span> </button>
			</div>
	</div>
</div>
<br>
<div class="container-fluid">
	<%= render 'carga_filtro'%>
</div>

<script type="text/javascript">
	function cargarEfectividad(){
		var zona    = document.getElementById("zona").value;
		var ano = document.getElementById("date_year").value;
		var lector = document.getElementById("lector").value;
		$.ajax({
      url: "<%=url_for :controller => 'lec_reporte_resumen_general_lecturas',:action => 'carga_filtro' %>",
    	data: 'zona=' + encodeURIComponent(zona)+ "&" +
						'lector=' + encodeURIComponent(lector)+ "&" +
						'ano=' + encodeURIComponent(ano),
      cache: false,
      success: function(data) {}
    })
	}

	function cargarZonas() {
		var region = document.getElementById("region").value;
		$.ajax({
    	url: "<%=url_for :controller => 'lec_reporte_resumen_general_lecturas',:action => 'carga_zonas' %>",
      data: 'region=' + encodeURIComponent(region),
      cache: false,
      success: function(data) {}
    })
  }

	$(function(){
		$('.pagination a').attr('data-remote', 'true')
	});

</script>
