<div id="exportar_csv">
 <% if !@mensaje.blank? %>
  <script type="text/javascript">
    alert("El Archivo csv comenzara a descargarse en algunos segundos");
    carga_filtro();
  </script>
 <% end %>
</div>