<div id="carga_porciones">
	<% if !@porciones.nil?  %>
		<%=select_tag "porcion", options_from_collection_for_select(@porciones, "id", "codigo"), 
		 :prompt=> "Todos" , :class => "custom-select custom-select-sm"%>
	<%else%>
	  	<select  id="porcion" class="custom-select custom-select-sm" ><option value="">Todos</option>></select>
	<%end%>
</div>	

