<div id="carga_zonas">
	<% if !@zonas.nil?  %>
		<%=select_tag "zona", options_from_collection_for_select(@zonas, "id", "nombre"),:onchange => "cargarPorciones();cargarGraficos();cargarIndicadores();",:prompt=> "Todas", :class => "custom-select custom-select-sm", :multiple => "true"%>
	<%else%>
	  	<select id="zona" class="custom-select custom-select-sm" multiple ><option value="">Todas</option>></select>
	<%end%>
</div>

<script type="text/javascript">

	function cargarPorciones() {
		var zona = document.getElementById("zona").value;
		var ano = document.getElementById("date_year").value;
		var mes = document.getElementById("date_month").value;
		$.ajax({
    	url: "<%=url_for :controller => 'dashboard',:action => 'carga_porciones' %>",
			data: 'zona=' + encodeURIComponent(zona) + "&" +
					  'ano=' + encodeURIComponent(ano) + "&" +
						'mes=' +encodeURIComponent(mes),
      cache: false,
      success: function(data) {}
    })
	}
	
	function cargarPorcionesReparto() {
		var zona = document.getElementById("zona").value;
		var ano = document.getElementById("date_year").value;
		var mes = document.getElementById("date_month").value;
		$.ajax({
    	url: "<%=url_for :controller => 'dashboard',:action => 'carga_porciones_reparto' %>",
			data: 'zona=' + encodeURIComponent(zona) + "&" +
					  'ano=' + encodeURIComponent(ano) + "&" +
						'mes=' +encodeURIComponent(mes),
      cache: false,
      success: function(data) {}
    })
  }
</script>
