<div id="carga_porciones_reparto">
	<% if !@porcionesReparto.nil?  %>
		<%=select_tag "porcion_reparto", options_from_collection_for_select(@porcionesReparto, "id", "codigo"),:prompt=> "Todos", :onchange => "cargarGraficosReparto();", :class => "custom-select custom-select-sm"%>
	<%else%>
	  	<select id="porcion_reparto" class="custom-select custom-select-sm" ><option value="">Todos</option>></select>
	<%end%>
</div>
