<div id="carga_graficos_efectividad_porcion">
  <div id="grafico_efectividad_porcion"></div>
  <script  type="text/javascript" charset="utf-8">
  // Grafico Uno
  	google.charts.load('current', {packages: ['corechart']});
    function drawEfectividad() {
        var data = google.visualization.arrayToDataTable([
          ['Porciones', 'Mes Anterior', { role: 'annotation'},'Mes Actual',{ role: 'annotation'}],
              <% if !@efectividadPorcion.blank? %>
                <% @efectividadPorcion.each do |efectividad| %>
                    ['<%= efectividad[0]%>',  <%= efectividad[6].to_i%>, '<%= efectividad[6]%> %', <%= efectividad[3].to_i%>, '<%= efectividad[3]%> %' ],
                <% end %>
              <%else%>
                  ['0',0,'0', 0,'0'],
              <% end %>
              ]);
              var options = {
                colors: ['#6c757d', '#449450'],
                title: 'EFECTIVIDAD PORCIONES'};
              // Instantiate and draw the chart.
              var chart = new google.visualization.ColumnChart(document.getElementById('grafico_efectividad_porcion'));
              chart.draw(data, options);
          }
          google.charts.setOnLoadCallback(drawEfectividad);
      </script>
  </div>
