<div id="carga_indicadores_reparto">
  <div class="row">
    <div class="col-md-6">
      <div class="card-body indicadores">
        <!-- Total -->
        <% if !@pendientes.nil? %>
        Pendientes: <%= @pendientes%> 
        <%else%>
        Pendientes: 0 
        <%end%>   
      </div><br>
    </div>
    <div class="col-md-6">
      <div class="card-body indicadores">
        <!-- Total -->
        <% if !@entregas.nil? %>
        Entregados: <%= @entregas%>
        <%else%>
        Entregados: 0
        <%end%>   
      </div><br>
    </div>
  </div>
</div>
