<div id="carga_zonas_reparto">
	<% if !@zonas.nil?  %>
		<%=select_tag "zona_reparto", options_from_collection_for_select(@zonas, "id", "nombre"),:onchange => "cargarPorcionesReparto();",:prompt=> "Todas", :class => "custom-select custom-select-sm"%>
	<%else%>
	  	<select id="zona_reparto" class="custom-select custom-select-sm" ><option value="">Todas</option>></select>
	<%end%>
</div>

<script type="text/javascript">	
	function cargarPorcionesReparto() {
		var zona = document.getElementById("zona_reparto").value;
		var ano = document.getElementById("ano_reparto").value;
		var mes = document.getElementById("mes_reparto").value;
		$.ajax({
    	url: "<%=url_for :controller => 'dashboard',:action => 'carga_porciones_reparto' %>",
			data: 'zona=' + encodeURIComponent(zona) + "&" +
					  'ano=' + encodeURIComponent(ano) + "&" +
						'mes=' +encodeURIComponent(mes),
      cache: false,
      success: function(data) {}
    })
  }
</script>
