<div id="carga_graficos_asignacion_reparto">
  <div id="grafico_asignacion"></div>
  <br>
  <script type="text/javascript" charset="utf-8">
    // Grafico Uno
    google.charts.load('current', {packages: ['corechart']});

    function drawAsignacion() {
      // Define the chart to be drawn.
      var data = google.visualization.arrayToDataTable([
        //Define Estados
        [
          'Estados de lectura',
          'Vis', {
            role: 'annotation'
          },
          'Asig', {
            role: 'annotation'
          },
          'S/Asig', {
            role: 'annotation'
          }
        ],
        <% if !@asignacion.blank? %>
        <% @asignacion.each do |asignacion| %>
        [
          '<%= asignacion[0]%>',
          <%= asignacion[1].to_i%>,
          '<%= asignacion[1]%>',
          <%= asignacion[2].to_i%>,
          '<%= asignacion[2]%>',
          <%= asignacion[3].to_i%>,
          '<%= asignacion[3]%>'
        ],
        <% end %>
        <%else%>
        [
          '0',
          0,
          '0',
          0,
          '0',
          0,
          '0'
        ],
        <% end %>
      ]);
      var options = {
        colors: [
          '#084165', '#7f7f73', '#FF261C'
        ],
        title: 'Completitud'
      };

      // Instantiate and draw the chart.
      var chart = new google.visualization.ColumnChart(document.getElementById('grafico_asignacion'));
      chart.draw(data, options);
    }
    google.charts.setOnLoadCallback(drawAsignacion);
  </script>
</div>
