<div id="carga_indicadores">
  <div class="row">
    <div class="col-md-3">
      <div class="card-body indicadores">
        <!-- Total -->
       <div class="row">
        <div class="col-md-8">
          <center style="font-size: 15px;">Efectividad</center>
          <% if !@efectividad.blank? %>
           <center style="color: yellow;"><%= @efectividad%> %</center> 
          <%end%>
         </div>
         <div class="col-md-4">
           <i class="fas fa-chart-line" style="font-size:30px !important"></i>
         </div>
       </div>
      </div><br>
    </div>
    <div class="col-md-3">
      <div class="card-body indicadores">
        <!-- Total -->
        <div class="row">
          <div class="col-md-8">
            <center style="font-size: 15px;">Consumos máximos</center>
            <center style="color: yellow;"><%= @consumosMaximos%></center>
          </div>
          <div class="col-md-3">
            <i class="fas fa-angle-double-up" style="font-size:30px !important"></i>
          </div>
        </div>
      </div><br>
    </div>
    <div class="col-md-3">
      <div class="indicadores">
        <!-- Total -->
        <div class="row">
          <div class="col-md-8">
            <center style="font-size: 15px;">Consumos mínimos</center>
            <center style="color: yellow;"><%= @consumosMinimos%></center>     
          </div>
          <div class="col-md-4">
            <i class="fas fa-angle-double-down" style="font-size:30px !important"></i>
          </div>
        </div>
      </div><br>
    </div>
    <div class="col-md-3">
      <div class="indicadores">
        <!-- Total -->
        <div class="row">
          <div class="col-md-8">
            <center style="font-size: 15px;">Improcedencias</center>
            <center style="color: yellow;"><%= @improcedencias%></center>     
          </div>
          <div class="col-md-4">
            <i class="fas fa-exclamation-triangle" style="font-size:30px !important"></i>
          </div>
        </div>
      </div><br>
    </div>
  </div>
</div>
