<div id="carga_porciones">
	<% if !@porciones.nil?  %>
		<%=select_tag "porcion", options_from_collection_for_select(@porciones, "id", "codigo"),
			:prompt=> "Todos", :onchange => "cargarGraficos();cargarIndicadores();cargarRutas();", :class => "custom-select custom-select-sm",:multiple => "true"%>
	<%else%>
	  	<select id="porcion" class="custom-select custom-select-sm" multiple ><option value="">Todos</option>></select>
	<%end%>
</div>
