<div id="carga_graficos_efectividad">
    <div id="grafico_efectividad"></div>
    <br>
    <script  type="text/javascript" charset="utf-8">
        // Grafico Uno
        google.charts.load('current', {packages: ['corechart']});
        function drawEfectividad() {
            // Define the chart to be drawn.
            var data = google.visualization.arrayToDataTable([
                //Define Estados
                ['Estados de lectura', 'Efect', { role: 'annotation'} , 'Vis', { role: 'annotation'}],
            <% if !@efectividad.blank? %>
              <% @efectividad.each do |efectividad| %>
                  ['<%= efectividad[0]%>',  <%= efectividad[2].to_i%>,'<%= efectividad[2]%>', <%= efectividad[1].to_i%>, '<%= efectividad[1]%>' ],
              <% end %>
            <%else%>
                ['0',  0,'0', 0, '0' ],
            <% end %>
            ]);
            var options = {
                colors: ['#fa5000', '#084165'],
                title: 'VISITADO V/S EFECTIVO'};

            // Instantiate and draw the chart.
            var chart = new google.visualization.ColumnChart(document.getElementById('grafico_efectividad'));
            chart.draw(data, options);
        }
        google.charts.setOnLoadCallback(drawEfectividad);
    </script>
</div>
