<title>Dashboard | Abastible</title>
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-3">            
            <label>Región</label> <span class="fas fa-city"></span>
            <%=select_tag "region", options_from_collection_for_select(@regiones, "id", "nombre"), :onchange => 'cargarZonas();cargarGraficos();cargarIndicadores();',:class => "custom-select custom-select-sm", :multiple => "true"%>
          </div>
          <div class="col-md-2">
            
            <label>Zona</label> <span class="fas fa-city"></span>
            <%= render 'carga_zonas' %>
          </div>
          <div class="col-md-2">            
            <label for="">Mes</label> <span class="fas fa-calendar-alt"></span>
            <%= select_month(Date.today, {use_month_names: %w(Enero Febrero Marzo Abril Mayo Junio Julio Agosto Septiembre Octubre Noviembre Diciembre)},{:class => "custom-select custom-select-sm",:onchange =>"cargarPorciones();cargarGraficos();cargarIndicadores();", :multiple => "true"})%>         
          </div>
          <div class="col-md-2">                   
            <label for="">Año</label> <span class="fas fa-calendar-alt"></span>
            <%= select_year(Time.now.year,{start_year: 2020, end_year: Time.now.year},{ :class => "custom-select custom-select-sm",:onchange => "cargarPorciones();cargarGraficos();cargarIndicadores();" , :multiple => "true"})%>
          </div>
          <div class="col-md-2">            
            <label>Porción</label> <span class="fas fa-chart-pie"></span>
            <%= render 'carga_porciones' %>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <%= image_tag "logo_provider.png", size:"180x60"%>
      </div>
      <div class="col-md-12">
        <hr>
        <%= render 'carga_indicadores' %>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <%= render "carga_graficos_asignacion" %>
          </div>
          <div class="col-md-6">
            <%= render "carga_graficos_efectividad" %>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <%= render "carga_graficos_efectividad_porcion" %>
      </div>
    </div>
  </div>

 

<script type="text/javascript">
  function cargarIndicadores() {
    var region = document.getElementById("region").value;
    var zona = document.getElementById("zona").value;
    var porcion = document.getElementById("porcion").value;
    var ano = document.getElementById("date_year").value;
    var mes = document.getElementById("date_month").value;

    $.ajax({
      url: "<%=url_for :controller => 'dashboard',:action => 'carga_indicadores' %>",
      data: 'region=' + encodeURIComponent(region) + "&zona=" + encodeURIComponent(zona) + "&mes=" + encodeURIComponent(mes) + "&ano=" + encodeURIComponent(ano) + "&porcion=" + encodeURIComponent(porcion),
      cache: false,
      success: function (data) {}
    })
  }

  function cargarGraficos() {
    var region = document.getElementById("region").value;
    var zona = document.getElementById("zona").value;
    var porcion = document.getElementById("porcion").value;
    var ano = document.getElementById("date_year").value;
    var mes = document.getElementById("date_month").value;

    $.ajax({
      url: "<%=url_for :controller => 'dashboard',:action => 'carga_graficos_asignacion' %>",
      data: 'region=' + encodeURIComponent(region) + "&zona=" + encodeURIComponent(zona) + "&mes=" + encodeURIComponent(mes) + "&ano=" + encodeURIComponent(ano) + "&porcion=" + encodeURIComponent(porcion),
      cache: false,
      success: function (data) {}
    })

    $.ajax({
      url: "<%=url_for :controller => 'dashboard',:action => 'carga_graficos_efectividad' %>",
      data: 'region=' + encodeURIComponent(region) + "&zona=" + encodeURIComponent(zona) + "&mes=" + encodeURIComponent(mes) + "&ano=" + encodeURIComponent(ano) + "&porcion=" + encodeURIComponent(porcion),
      cache: false,
      success: function (data) {}
    })

    $.ajax({
      url: "<%=url_for :controller => 'dashboard',:action => 'carga_graficos_efectividad_porcion' %>",
      data: 'region=' + encodeURIComponent(region) + "&zona=" + encodeURIComponent(zona) + "&mes=" + encodeURIComponent(mes) + "&ano=" + encodeURIComponent(ano) + "&porcion=" + encodeURIComponent(porcion),
      cache: false,
      success: function (data) {}
    })
  }

  function cargarGraficosReparto() {
    var region = document.getElementById("region_reparto").value;
    var zona = document.getElementById("zona_reparto").value;
    var porcion = document.getElementById("porcion_reparto").value;
    var ano = document.getElementById("ano_reparto").value;
    var mes = document.getElementById("mes_reparto").value;

    $.ajax({
      url: "<%=url_for :controller => 'dashboard',:action => 'carga_indicadores_reparto' %>",
      data: 'region=' + encodeURIComponent(region) + "&zona=" + encodeURIComponent(zona) + "&mes=" + encodeURIComponent(mes) + "&ano=" + encodeURIComponent(ano) + "&porcion=" + encodeURIComponent(porcion),
      cache: false,
      success: function (data) {}
    })
   
  
    $.ajax({
      url: "<%=url_for :controller => 'dashboard',:action => 'carga_graficos_asignacion_reparto' %>",
      data: 'region=' + encodeURIComponent(region) + "&zona=" + encodeURIComponent(zona) + "&mes=" + encodeURIComponent(mes) + "&ano=" + encodeURIComponent(ano) + "&porcion=" + encodeURIComponent(porcion),
      cache: false,
      success: function (data) {}
    })

    $.ajax({
      url: "<%=url_for :controller => 'dashboard',:action => 'carga_graficos_efectividad_reparto' %>",
      data: 'region=' + encodeURIComponent(region) + "&zona=" + encodeURIComponent(zona) + "&mes=" + encodeURIComponent(mes) + "&ano=" + encodeURIComponent(ano) + "&porcion=" + encodeURIComponent(porcion),
      cache: false,
      success: function (data) {}
    })
  }

  function cargarZonas() {
    var region = document.getElementById("region").value;
    $.ajax({
      url: "<%=url_for :controller => 'dashboard',:action => 'carga_zonas' %>",
      data: 'region=' + encodeURIComponent(region),
      cache: false,
      success: function (data) {}
    })
  }

  function cargarZonasReparto() {
    var region = document.getElementById("region_reparto").value;
    $.ajax({
      url: "<%=url_for :controller => 'dashboard',:action => 'carga_zonas_reparto' %>",
      data: 'region=' + encodeURIComponent(region),
      cache: false,
      success: function (data) {}
    })
  }
</script>
