<div id="carga_rutas">
	<% if !@rutas.nil?  %>
	    <%=select_tag "ruta", options_from_collection_for_select(@rutas, "id", "codigo"), :prompt=> "Seleccione" , :class => "custom-select custom-select-sm"%>
	<%else%>
	  	<select id="ruta" class="custom-select custom-select-sm"><option value="">Seleccione</option>></select>
	<%end%>
</div>