<div id="carga_filtro">
	<div class="table-responsive-sm">
		<table class="table table-striped table-hover table-sm table-bordered animated fadeIn fast">
			<thead class="color-header-cambio">
				<tr>
					<th>Comuna</th>
					<th>Operador Medidor</th>
					<th>Unidad Lectura</th>
					<th>Instalación</th>
					<th>Cliente</th>
					<th>Medidor</th>
					<th>Ubicación Medidor</th>
					<th>Calle</th>
					<th>Numero</th>
					<th style="width:15%">Dirección</th>
					<th>Fecha Lectura</th>
					<th>Hora Visita</th>
					<th>Latitud</th>
					<th>Longitud</th>
					<th>
						<span class="fas fa-map-marker"></span></th>
				</tr>
			</thead>
			<tbody>
				<% if !@listaOrdenes.nil?%>
					<% @listaOrdenes.each do |l| %>
						<% if (l.gps_latitud.nil?) || (l.gps_longitud.nil?) %>
							<tr class="danger">
							<% else %>
								<tr>
								<% end %>
								<td>
									<b><%= l.comuna.nombre%></b>
								</td>
								<td><%= l.asignacion_lectura.empleado.nombre_completo%></td>
								<td>
									<b><%= l.rutum.codigo%></b>
								</td>
								<td style="color:#fa5000;">
									<b><%= l.instalacion.codigo%></b>
								</td>
								<td style="color:#fa5000;">
									<b><%= l.cliente.numero_cliente%></b>
								</td>
								<td style="color:#fa5000;">
									<b><%= l.medidor.numero_medidor%></b>
								</td>
								<td style="color:#fa5000;">
									<b><%= l.medidor.ubicacion_medidor%></b>
								</td>
								<td><%= l.cliente.calle%></td>
								<td><%= l.cliente.numero_domicilio%></td>
								<td><%= l.direccion%></td>
								<td>
									<b>
										<% if  !l.fecha_ejecucion.blank? %>
											<%= l.fecha_ejecucion.strftime("%e/%m/%Y ")%>
										<% end %>
									</b>
								</td>
								<td>
									<b>
										<% if  !l.fecha_ejecucion.blank? %>
											<%= l.fecha_ejecucion.strftime("%H:%M:%S")%>
										<% end %>
									</b>
								</td>
								<td><%= l.gps_latitud%></td>
								<td><%= l.gps_longitud%></td>
								<td>
									<% if (l.gps_latitud == 0.0) || (l.gps_longitud == 0.0) %>
										<button type="button" class="btn btn-sm btn-info" data-toggle="tooltip" data-placement="top" title="Sin Ubicación" disabled="disabled">
											<span class="fas fa-map-marker-off btn-circle" style="color:white"></span>
										</button>
									<%else%>
										<button onclick="verUbicacion('<%=l.id %>');" type="button" class="btn btn-info btn-sm btn-circle" data-toggle="tooltip" data-placement="top" title="Mostrar Ubicación">
											<span class="fas fa-map-marker" style="color:white"></span>
										</button>
									<% end %>
								</td>
							</tr>
						<% end %>
					<% end %>
				</tbody>
			</table>
		</div>
		<div class="justify-content-center align-items-center">
			<% if !@listaOrdenes.nil?%>
				<%= will_paginate @listaOrdenes, list_classes: %w(pagination align-center) %>
			<% end %>
		</div>
	</div>

	<div id="modal2">
		<div id="modalUbicacion" class="modal fade" role="dialog">
			<div class="modal-dialog modal-lg">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">
							<span class="fas fa-google-maps"></span>
							Ubicación Léctor
						</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<%= render 'lec_operaciones/ver_ubicacion' %>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">

		//tooltip mensajes en los botones
		$(document).ready(function () {
			$('[data-toggle="tooltip"]').tooltip();
		});

		//muestra modal con mapa de las ubicaciones del lector
		function verUbicacion(orden_id) {
			$.ajax({
				url: "<%=url_for :controller => 'lec_operaciones', :action => 'ver_ubicacion', :format => :js %>",
				data: 'orden_id=' + encodeURIComponent(orden_id),
				cache: false,
				success: function (data) {}
			})
			$('#modalUbicacion').modal();
			mapa();
		}
	</script>
