<title>Control de Coordenadas GPS</title>
<div class="container-fluid">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><%= link_to '<i class="fas fa-home"></i>'.html_safe, { :action => "index", :controller => :dashboard }%></span></li>
			<li class="breadcrumb-item">Cambio de Medidores </li>
			<li class="breadcrumb-item">Reportes </li>
		<li class="breadcrumb-item active">Control de Coordenadas  <small ><span class="badge badge-primary">GPS</span></small></li>
	</ol>
	<br>
	<div class="buscador-cambio_medidor">
			<div class="row">
				<div class="col-md-2">
					<label>Región</label>
					<%=select_tag "region", options_from_collection_for_select(@regiones, "id", "nombre"), :prompt=> "Seleccionar", :class => "custom-select custom-select-sm" , :onchange => 'cargarZonas();'%>
				</div>
				<div class="col-md-3">
					<label for="">Zonal:</label>
					<%= render 'carga_zonas' %>
				</div>
				<div class="col-md-1">
					<label for="">Mes:</label><br>
					<%= select_month(Date.today, {use_month_names: %w(Enero Febrero Marzo Abril Mayo Junio Julio Agosto Septiembre Octubre Noviembre Diciembre)},{:class => "custom-select custom-select-sm",:onchange => "cargarPorciones();"})%>
				</div>
				<div class="col-md-1">
					<label for="">Año:</label><br>
					<%= select_year(2020,{start_year: 2020, end_year: 2040},{ :class => "custom-select custom-select-sm",:onchange => "cargarPorciones();"})%>
				</div>
				<div class="col-md-2">
					<label for="">Porción:</label>
					<%= render 'carga_porciones' %>
				</div>
				<div class="col-md-2">
					<label for="">Ruta:</label>
					<%= render 'carga_rutas'%>
				</div>
				<div class="col-md-1">
					<button class="btn-buscar btn-circle btn-lg"  onclick="cargarOrdenes();"><span class="fas fa-magnify"></span></button>
				</div>
			</div>
		</div>
	<br>
	<!-- # > Botones e Información -->
	<div class="row">
		<div class="col-md-6 div-padding">
		</div>
		<div class="col-md-6">
			<b>Exportar:</b><br>
			<button onclick="exportarCsv();" class="btn btn-csv btn-sm">
				<span class="fas fa-file-excel"></span>CSV</button>
		</div>
	</div><br>
	<div class="container-fluid">
		<%= render 'carga_filtro' %>
	</div>
</div>

<%= render 'modulos_colors/cambio_medidor' %>


<script type="text/javascript">

	function cargarOrdenes(){
		var ruta = document.getElementById("ruta").value;
		var zona = document.getElementById("zona").value;
		var porcion = document.getElementById("porcion").value;
		$.ajax({
      url: "<%=url_for :controller => 'lec_reporte_control_coordenadas',:action => 'carga_filtro' %>",
			data: 'zona=' + encodeURIComponent(zona) + "&" +
						'ruta=' + encodeURIComponent(ruta) + "&" +
						'porcion' + encodeURIComponent(porcion),
      cache: false,
      success: function(data) {}
    })
	}

	// # Filtro Zonas
	function cargarZonas() {
  	/*Carga las porciones disponibles de una zona */
		var region = document.getElementById("region").value;
		$.ajax({
			url: "<%=url_for :controller => 'lec_reporte_control_coordenadas',:action => 'carga_zonas' %>",
			data: 'region=' + encodeURIComponent(region),
			cache: false,
			success: function(data) {}
		})
	}

	$(function(){
    	$('.pagination a').attr('data-remote', 'true')
	});

	function exportarCsv(){
		var ruta = document.getElementById("ruta").value;
		url = "<%=url_for :controller => 'lec_reporte_control_coordenadas',:action => 'exportar_csv' %>",
		location.href= url + '?ruta=' + encodeURIComponent(ruta);
	}

</script>
