<div id="carga_zonas">
	<% if !@zonas.nil?  %>
	    <%=select_tag "zona", options_from_collection_for_select(@zonas, "id", "nombre"), :prompt=> "Seleccione",  :onchange => 'cargarPorciones();cargarRutas();', :class => "custom-select custom-select-sm"%>
	<%else%>
	  	<select id="zona" class="custom-select custom-select-sm" ><option value="">Seleccione</option>></select>
	<%end%>
</div>

<script>
	// # Filtro Porciones
	function cargarPorciones() {
  	/*Carga las porciones disponibles de una zona */
		var zona = document.getElementById("zona").value;
		$.ajax({
			url: "<%=url_for :controller => 'lec_asignacion',:action => 'carga_porciones' %>",
			data: 'zona=' + encodeURIComponent(zona),
			cache: false,
			success: function(data) {}
		})
	}
</script>
