<title>Asignación de Ordenes de Lectura</title>
<div class="container-fluid">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><%= link_to '<i class="fas fa-home"></i>'.html_safe, { :action => "index", :controller => :dashboard }%></li>
		<li class="breadcrumb-item">Lecturas</li>
		<li class="breadcrumb-item">Operaciones</li>
		<li class="breadcrumb-item active">Asignación de Ordenes de Lectura</li>
	</ol>
	<br>
	<div class="buscador">
		<div class="row">
			<div class="col-md-2">
				<span class="fas fa-globe-americas"></span>
				<label>Región:</label>
				<%=select_tag "region", options_from_collection_for_select(@regiones, "id", "nombre"), :onchange => 'cargarZonas();', :prompt=> "Seleccione", :class => "custom-select custom-select-sm"%>
			</div>
			<div class="col-md-2">
				<span class="fas fa-city"></span>
				<label>Zonal:</label>
				<%= render "carga_zonas"%>
			</div>
			<div class="col-md-2">
				<span class="fas fa-chart-pie"></span>
				<label>Porción:</label>
				<%= render 'carga_porciones' %>
			</div>
			<div class="col-md-2">
				<span class="fas fa-calendar-alt"></span>
				<label>Proceso:</label>
				<%=select_tag "tipo_lectura", options_from_collection_for_select(@tipo_lectura, "id", "nombre"),:onchange => 'cargarRutas();', :class => "custom-select custom-select-sm"%>
			</div>
			<div class="col-md-2">
				<span class="fas fa-business-time"></span>
				<label>Estado de Orden:</label>
				<%=select_tag "estado_lectura", options_from_collection_for_select(@estados, "id", "nombre"),:onchange => 'cargarRutas();', :class => "custom-select custom-select-sm"%>
			</div>
			<div class="col-md-2">
				<button type="button" class="btn-buscar btn-circle btn-lg" onclick="cargarRutas();">
					<span class="fas fa-search "></span>
				</button>
			</div>
		</div>
	</div>

</div>
<br>
<div class="container-fluid">
	<%= render 'carga_rutas' %>
</div>

<script type="text/javascript">

	// # Cargar Rutas
	function cargarRutas() {
		var zona = document.getElementById("zona").value;
		var porcion = document.getElementById("porcion").value;
		var tipo_lectura = document.getElementById("tipo_lectura").value;
		var estado_lectura = document.getElementById("estado_lectura").value;
		$.ajax({
			url: "<%=url_for :controller => 'lec_asignacion',:action => 'carga_rutas' %>",
			data: 'zona=' + encodeURIComponent(zona) + "&porcion=" + encodeURIComponent(porcion) + "&estado_lectura=" + encodeURIComponent(estado_lectura) + "&tipo_lectura=" + encodeURIComponent(tipo_lectura),
			cache: false,
			success: function (data) {}
		})
	}
	// # Filtro Zonas
	function cargarZonas() {
		/*Carga las porciones disponibles de una zona */
		var region = document.getElementById("region").value;
		$.ajax({
			url: "<%=url_for :controller => 'lec_asignacion',:action => 'carga_zonas' %>",
			data: 'region=' + encodeURIComponent(region),
			cache: false,
			success: function (data) {}
		})
	}
	$(document).ready(function () {
		$('.bg-light').css({'cssText': 'background-color: #fa5000 !important; color: white;'});
	});
</script>
