<title>Reporte Horas Técnico</title>
<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to '<i class="fas fa-home"></i>'.html_safe, { :action => "index", :controller => :dashboard }%></span></li>
    <li class="breadcrumb-item">Corte y Reposición </li>
    <li class="breadcrumb-item">Operaciones </li>
    <li class="breadcrumb-item active">Reporte Horas Técnico</li>
  </ol>
  <br>
  <div class="buscador-corte-reposicion">
    <div class="row">
      <div class="col-md-2">
        <span class="fas fa-globe-americas"></span>
        <label>Región:</label>
        <select name="select" class="custom-select custom-select-sm">
          <option value="value1">Todos</option>
        </select>
      </div>
      <div class="col-md-2">
        <span class="fas fa-city"></span>
        <label>Zonal:</label>
        <select name="select" class="custom-select custom-select-sm">
          <option value="value1">Todos</option>
        </select>
      </div>
      <div class="col-md-2">
        <span class="fas fa-chart-pie"></span>
        <label>Porción:</label>
        <select name="select" class="custom-select custom-select-sm">
          <option value="value1">Todos</option>
        </select>
      </div>
      <div class="col-md-2">
        <span class="fas fa-calendar-alt"></span>
        <label>Proceso:</label>
        <select name="select" class="custom-select custom-select-sm">
          <option value="value1">Todos</option>
        </select>
      </div>
      <div class="col-md-2">
        <span class="fas fa-calendar-alt"></span>
        <label>Técnico:</label>
        <select name="select" class="custom-select custom-select-sm">
          <option value="value1">Todos</option>
        </select>
      </div>
      <div class="col-md-1">
        <button type="button" class="btn-circle btn-lg" onclick="cargarRutas();">
          <span class="fas fa-search "></span>
        </button>
      </div>
    </div>
  </div>
  <!-- Agregar carga filtro -->
</div>

<script type="text/javascript">
	$( document ).ready(function() {
		$('.bg-light').css({
			'cssText': 'background: linear-gradient(45deg, #FFD13C 0%, #a1c056 100%);'
    });
	});
</script>
