<div id="comunas">
	<% if !@comunas.nil?  %>
	    <%=select_tag "Comuna", options_from_collection_for_select(@comunas, "id", "nombre"), :prompt=> "Seleccione" , :class => "custom-select custom-select-sm"%>
	<%else%>
	  	<select name="Comuna" id="Comuna" class="custom-select custom-select-sm" ><option value="">Seleccione</option>></select>
	<%end%>
</div>	
