<div id="carga_regiones">
	<% if !@regiones.nil?  %>
		<%=select_tag "region", options_from_collection_for_select(@regiones, "id", "nombre"),
		:onchange => "cargarZonas();",
		:prompt=> "Seleccione", :class => "custom-select custom-select-sm"%>
	<%else%>
	  	<select id="region" class="custom-select custom-select-sm" ><option value="">Seleccione</option>></select>
	<%end%>
</div>

<!-- Agregar Metodos CargaEmpleados CargaPorciones -->
<script type="text/javascript">
	<%# Envia datos para Select Porciones %>
	function cargarZonas() {
		var region = document.getElementById("region").value;
		$.ajax({
    	url: "<%=url_for :controller => 'lec_filtros',:action => 'carga_zonas' %>",
      data: 'region=' + encodeURIComponent(region),
      cache: false,
      success: function(data) {}
    })
  }

	function cargarLectores() {
		var zona = document.getElementById("zona").value;
		$.ajax({
			url: "<%=url_for :controller => 'lec_filtros',:action => 'carga_lectores' %>",
			data: 'zona=' + encodeURIComponent(zona),
			cache: false,
			success: function(data) {}
		})
		}

</script>
