<div id="carga_porciones">
	<% if !@porciones.nil?  %>
		<%=select_tag "porcion", options_from_collection_for_select(@porciones, "id", "codigo"),
			:prompt=> "Todos", :onchange => "cargarRutas();", :class => "custom-select custom-select-sm"%>
	<%else%>
	  	<select id="porcion" class="custom-select custom-select-sm" ><option value="">Todos</option>></select>
	<%end%>
</div>
<script>

	function cargarRutas() {
		var porcion = document.getElementById("porcion").value;
		$.ajax({
    	url: "<%=url_for :controller => 'lec_filtros',:action => 'carga_rutas' %>",
      data: 'porcion=' + encodeURIComponent(porcion),
      cache: false,
      success: function(data) {}
    })
  }
</script>
