<div id="carga_zonas">
	<% if !@zonas.nil?  %>
		<%=select_tag "zona", options_from_collection_for_select(@zonas, "id", "nombre"),
		:onchange => "cargarPorciones();",
		:prompt=> "Todas", :class => "custom-select custom-select-sm"%>
	<%else%>
	  	<select id="zona" class="custom-select custom-select-sm" ><option value="">Todas</option>></select>
	<%end%>
</div>

<!-- Agregar Metodos CargaEmpleados CargaPorciones -->
<script type="text/javascript">
	function cargarPorciones() {
		var zona = document.getElementById("zona").value;
		var ano = document.getElementById("date_year").value;
		var mes = document.getElementById("date_month").value;
		$.ajax({
    	url: "<%=url_for :controller => 'lec_reporte_control_horas_terreno',:action => 'carga_porciones' %>",
			data: 'zona=' + encodeURIComponent(zona) + "&" +
					  'ano=' + encodeURIComponent(ano) + "&" +
						'mes=' +encodeURIComponent(mes),
      cache: false,
      success: function(data) {}
    })
  }
</script>
