<div id="carga_filtro">
	<% if !@listaOrdenes.nil?%>
	<!-- # > Botones e Información -->
	<div class="row">
		<div class="col-md-6 div-padding">
			<b>Totales:</b><br>
			<ul>
				<li>Cantidad de Ordenes: <%=@listaOrdenes.count%></li>
			</ul>
		</div>
		<div class="col-md-6">
			<b>Exportar:</b><br>
			<button onclick="exportarCsv();" class="btn btn-csv btn-sm">
				<span class="fas fa-file-excel"></span>CSV</button>
		</div>
	</div><br>
	<%end%>
	<div class="table-responsive-sm">
		<table class="table table-striped table-hover table-sm table-bordered animated fadeIn fast">
			<thead class="color-header">
				<tr>
					<th>Zona</th>
					<th>Porción</th>
					<th>Unidad Lectura</th>
					<th>Comuna</th>
					<th>Operador Medidor</th>
					<th>Instalación</th>
					<th>Cliente</th>
					<th>Medidor</th>
					<th>Ubicación Medidor</th>
					<th>Calle</th>
					<th>Numero</th>
					<th style="width:15%">Dirección</th>
					<th>Lectura Actual</th>
					<th>Clave Lectura</th>
					<th>Fecha Lectura</th>
					<th>Hora Visita</th>
					<th>Latitud</th>
					<th>Longitud</th>
					<th>
						<span class="fas fa-map-marker"></span></th>
				</tr>
			</thead>
			<tbody>
				<% if !@listaOrdenes.nil?%>
					<% @listaOrdenes.each do |orden| %>
						<% if (orden.gps_latitud.nil?) || (orden.gps_longitud.nil?) %>
							<tr class="danger">
							<% else %>
								<tr>
								<% end %>
								<td>
									<b><%= orden.rutum.porcion.zona.nombre%></b>
								</td>
								<td>
									<b><%= orden.rutum.porcion.codigo%></b>
								</td>
								<td>
									<b><%= orden.rutum.codigo%></b>
								</td>
								<td>
									<b><%= orden.comuna.nombre%></b>
								</td>
								<td><%= orden.asignacion_lectura.empleado.nombre_completo%></td>

								<td style="color:#fa5000;">
									<b><%= orden.instalacion.codigo%></b>
								</td>
								<td style="color:#fa5000;">
									<b><%= orden.cliente.numero_cliente%></b>
								</td>
								<td style="color:#fa5000;">
									<b><%= orden.medidor.numero_medidor%></b>
								</td>
								<td style="color:#fa5000;">
									<b><%= orden.medidor.ubicacion_medidor%></b>
								</td>
								<td><%= orden.cliente.calle%></td>
								<td><%= orden.cliente.numero_domicilio%></td>
								<td><%= orden.direccion%></td>
								<td>
									<%= orden.lectura_actual %>
								</td>

								<td>
									<%= orden.clave_lectura.nombre%>
								</td>

								<td>
									<b>
										<% if  !orden.fecha_ejecucion.blank? %>
											<%= orden.fecha_ejecucion.strftime("%e/%m/%Y ")%>
										<% end %>
									</b>
								</td>
								<td>
									<b>
										<% if  !orden.fecha_ejecucion.blank? %>
											<%= orden.fecha_ejecucion.strftime("%H:%M:%S")%>
										<% end %>
									</b>
								</td>
								<td><%= orden.gps_latitud%></td>
								<td><%= orden.gps_longitud%></td>
								<td>
									<% if (orden.gps_latitud == 0.0) || (orden.gps_longitud == 0.0) %>
										<button type="button" class="btn btn-sm btn-info" data-toggle="tooltip" data-placement="top" title="Sin Ubicación" disabled="disabled">
											<span class="fas fa-map-marker-off btn-circle" style="color:white"></span>
										</button>
									<%else%>
										<button onclick="verUbicacion('<%=orden.id %>');" type="button" class="btn btn-info btn-sm btn-circle" data-toggle="tooltip" data-placement="top" title="Mostrar Ubicación">
											<span class="fas fa-map-marker" style="color:white"></span>
										</button>
									<% end %>
								</td>
							</tr>
						<% end %>
					<% end %>
				</tbody>
			</table>
		</div>
		<div class="justify-content-center align-items-center">
			<% if !@listaOrdenes.nil?%>
				<%= will_paginate @listaOrdenes, list_classes: %w(pagination align-center) %>
			<% end %>
		</div>
	</div>

	<div id="modal2">
		<div id="modalUbicacion" class="modal fade" role="dialog">
			<div class="modal-dialog modal-lg">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">
							<span class="fas fa-google-maps"></span>
							Ubicación Léctor
						</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<%= render 'lec_operaciones/ver_ubicacion' %>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		//muestra modal con mapa de las ubicaciones del lector
		function verUbicacion(orden_id) {
			$.ajax({
				url: "<%= url_for :controller => 'lec_operaciones', :action => 'ver_ubicacion', :format => :js %>",
				data: 'orden_id=' + encodeURIComponent(orden_id),
				cache: false,
				success: function (data) {}
			})
			$('#modalUbicacion').modal();
			mapa();
		}
		
		$(function(){
    	$('.pagination a').attr('data-remote', 'true')
		});
	</script>
