<title>Resumen Visitas</title>
<div class="container-fluid">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><%= link_to '<i class="fas fa-home"></i>'.html_safe, { :action => "index", :controller => :dashboard }%></span></li>
			<li class="breadcrumb-item">Lectura </li>
			<li class="breadcrumb-item">Reportes </li>
		<li class="breadcrumb-item active">Resumen Visitas</li>
	</ol>
	<br>
	<div class="buscador">
			<div class="row">
				<div class="col-md-2">
					<label>Región:</label>
					<%=select_tag "region", options_from_collection_for_select(@regiones, "id", "nombre"), :prompt=> "Seleccionar", :class => "custom-select custom-select-sm" , :onchange => 'cargarZonas();'%>
				</div>
				<div class="col-md-2">
					<label for="">Zona:</label>
					<%= render 'carga_zonas' %>
				</div>
				<div class="col-md-1">
					<label for="">Mes:</label><br>
					<%= select_month(Date.today, {use_month_names: %w(Enero Febrero Marzo Abril Mayo Junio Julio Agosto Septiembre Octubre Noviembre Diciembre)},{:class => "custom-select custom-select-sm",:onchange => "cargarPorciones();"})%>
				</div>
				<div class="col-md-1">
					<label for="">Año:</label><br>
					<%= select_year(2020,{start_year: 2020, end_year: 2040},{ :class => "custom-select custom-select-sm",:onchange => "cargarPorciones();"})%>
				</div>
				<div class="col-md-2">
					<label for="">Porción:</label>
					<%= render 'carga_porciones' %>
				</div>
				<div class="col-md-1">
					<button class="btn-buscar btn-circle btn-lg"  onclick="cargarOrdenes();"><span class="fas fa-magnify"></span></button>
				</div>
			</div>
		</div>
	<br>

	<div class="container-fluid">
		<%= render 'carga_filtro' %>
	</div>
</div>



<script type="text/javascript">

	function cargarOrdenes(){
		var zona = document.getElementById("zona").value;
		var porcion = document.getElementById("porcion").value;
		var mes = document.getElementById("date_month").value;
	  var ano = document.getElementById("date_year").value;
		$.ajax({
      url: "<%=url_for :controller => 'lec_reporte_visitas',:action => 'carga_filtro' %>",
			data: 'zona=' + encodeURIComponent(zona) +
						"&mes=" + encodeURIComponent(mes) +
						"&ano=" + encodeURIComponent(ano) +
						'&porcion=' + encodeURIComponent(porcion),
      cache: false,
      success: function(data) {}
    })
	}

	// # Filtro Zonas
	function cargarZonas() {
  	/*Carga las porciones disponibles de una zona */
		var region = document.getElementById("region").value;
		$.ajax({
			url: "<%=url_for :controller => 'lec_reporte_visitas',:action => 'carga_zonas' %>",
			data: 'region=' + encodeURIComponent(region),
			cache: false,
			success: function(data) {}
		})
	}

	function exportarCsv(){
		$('.btn-csv').html("Exportando CSV...")
		$('.btn-csv').addClass('disabled');
		var region = document.getElementById("region").value;
		var zona = document.getElementById("zona").value;
		var porcion = document.getElementById("porcion").value;
		var mes = document.getElementById("date_month").value;
	  var ano = document.getElementById("date_year").value;
		url = "<%=url_for :controller => 'lec_reporte_visitas',:action => 'exportar_csv' %>",
		location.href= url + '?region=' + encodeURIComponent(region) +
												 '&zona=' + encodeURIComponent(zona) +
												 '&porcion' + encodeURIComponent (porcion) +
												 '&mes' + encodeURIComponent(mes) + 
												 '&ano' + encodeURIComponent(ano);
	}
	$(function(){
    $('.pagination a').attr('data-remote', 'true')
	});
</script>
