<title>Usuarios Agentes de Terreno</title>
	<!-- # > BreadCrumb Items -->
	<div class="card">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><%= link_to '<i class="fas fa-home"></i>'.html_safe, { :action => "index", :controller => :dashboard }%></span></li>
			<li class="breadcrumb-item">Catastros </li>
			<li class="breadcrumb-item active">Usuarios Agentes de Terreno</li>
		</ol>
	</div><br>
	<!-- # > Botones e Información-->	
	<div class="row">
		<div class="col-md-6 div-padding">
			<b>Totales:</b><br>
			<ul>
				<li>Usuarios Registrados: <%= @usuarios.count %></li>
			</ul>
		</div>
		<div class="col-md-3">
			<b>Exportar:</b><hr>
			<button class="btn btn-sm btn-csv">
				<span class="fas fa-file-excel"></span>CSV</button>
			<button class="btn btn-sm btn-pdf">
				<span class="fas fa-file-pdf"></span>PDF</button>
		</div>
	</div><br>
	<div class="alert alert-info" role="alert">
			<span class="fas fa-account-key"></span> Modificar contraseña <br>
	</div>
	<!-- Tabla contenido -->
	<div class="card">
		<div class="card-header"><span class="fas fa-account-multiple"></span> <b>Usuarios agentes de terreno</b> </div>
		<div class="card-body">
			<!-- # > Tabla Contenido -->	
			<div class="table-responsive-sm">
				<table class="table table-striped table-hover table-sm table-bordered">
					<thead>
						<tr>
							<th><center><span class="fas fa-settings"></span></center></th>
							<th>Nombre</th>
							<th>Empresa</th>
							<th>Perfil</th>
							<th>Rut Trabajador</th>
							<th>Nombre Usuario</th>
							<th> <span class="fas fa-android"></span></th>
						</tr>
					</thead>
					<tbody>
						<% @usuarios.each do |usuario| %>
							<tr>
								<td>
									<button onclick="modificarContrasena('<%= usuario.id %>');" class="btn btn-sm btn-info">
										<span class="fas fa-account-key" style="color:#ffffff"></span>
									</button>
								</td>
								<td>
									<% if !usuario.empleado.nil? %>
										<b>
											<%= usuario.empleado.nombre%>
											<%= usuario.empleado.apellido_paterno%>
											<%= usuario.empleado.apellido_materno%>
										</b>
									<% end %>
								</td>
								<td>
									<%if !usuario.empleado.nil? && !usuario.empleado.subempresa.blank?%>
										<%= usuario.empleado.subempresa.razon_social%>
									<% end %>
								</td>
								<td>
									<%= usuario.perfil.nombre %>
								</td>
								<td>
									<% if !usuario.empleado.nil? %>
										<b><%= usuario.empleado.rut%></b>
									<% end %>
								</td>
								<td><%= usuario.email %></td>
								<td class="text-mayus">
									<b>
									<% if !usuario.empleado.nil? %>
										<% if !usuario.empleado.equipo.nil? %>
											<%= usuario.empleado.equipo.mac.upcase %>
										<% end %>
									<%end%>
									</b>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
		<!-- # > Paginacion  -->
		<div class="row h-100 justify-content-center align-items-center">
			<%= will_paginate @usuarios, list_classes: %w(pagination align-center) %>
		</div>
	</div>

<!-- # > Modal Modificar Contraseña -->
<div id="modal_modificar_contrasena" class="modal fade" role="dialog">
		<div class="modal-dialog modal-lg">
			<!-- Modal content-->
			<div class="modal-content ">
				<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle"> <span class="fas fa-lock"></span> Modificar contraseña</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							 <span aria-hidden="true">&times;</span>
						</button>
					</div>
				<div class="modal-body">
					<div class="card">
						<div class="card-body">
							<%= render 'modificar_contrasena'%>
						</div>
					</div>
				</div>
				</div>
				<div class="modal-footer"></div>
			</div>
		</div>

<!-- # > Funciones Js -->
<script type="text/javascript">
	// # > ToolTips Mensajes Botones
  $(document).ready(function(){
  	$('[data-toggle="tooltip"]').tooltip();
	});
	// # > Exportar CSV
  function exportarCsv(){
  	url = "<%=url_for :controller => 'usuarios_agentes_terreno',:action => 'exportar_csv' %>",
    location.href= url;
	}
	// # > Exportar PDF
	function exportarPdf(){
  	url = "<%=url_for :controller => 'usuarios_agentes_terreno',:action => 'exportar_pdf', :format => :pdf %>",
    location.href= url;
	}
	// # > Modificar Constraseña
	function modificarContrasena(usuario_id) { 
		$('#modal_modificar_contrasena').modal('show');
    $.ajax({
    	url: "<%=url_for :controller => 'usuarios_agentes_terreno',:action => 'modificar_contrasena' %>",
			data: 'usuario_id=' + encodeURIComponent(usuario_id),
      cache: false,
      success: function(data) {}
    })
	}
</script>
