<div id="carga_ordenes">
  <% if !@ordenes.blank? %>
    <div class="row">
      <div class="col-md-6 div-padding">
        <b>Totales:</b><br>
        <ul>
          <li>Ordenes: <%= @ordenes.count %></li>
        </ul>
      </div>
      <div class="col-md-6">
        <!-- <b>Exportar:</b><br>
        <%= link_to 'Exportar CSV', analisis_improcedencias_csv_path, remote: true, class: 'btn btn-primary export-btn' %> -->
      </div>
    </div><br>
  <% end %>
        <div class="table-responsive">
          <table class="table table-striped table-hover table-sm table-bordered animated fadeIn fast">
            <thead class="color-header">
              <tr>
              <th colspan="4"><span class="fas fa-settings"></span> Operaciones</th>
              <th>Nº Cliente</th>
              <th>Nº Medidor</th>
              <th>Dirección</th>
              <th>U.L</th>
              <th>Consumo Mínimo</th>
              <th>Consumo Actual</th>
              <th>Consumo Máximo</th>
              <th>Lectura Anterior</th>
              <th>Lectura Actual</th>
              <th>Proceso</th>
              <th>Clave Lectura</th>
              <th>Lector</th>
              <th>Fecha</th>
            </tr>
            </thead>
            <% if !@ordenes.blank? %>
            <tbody>
              <% @ordenes.each do |orden_lectura| %>
                  <tr>
                    <td>
                      <% if !orden_lectura.fotografium.blank? %>
                      <button onclick="verFotografias('<%= orden_lectura.id%>');" style="background-color: blue !important; border: none;" type="button" class="btn-circle btn-success btn-sm" style="border:none" data-toggle="tooltip" data-placement="top" title="Fotografías">
                        <span class="fas fa-camera" style="color:white"></span>
                      </button>
                      <% else %>
                      <button  style="background-color: gray !important; border: none;" type="button" class="btn-circle btn-success btn-sm" disabled>
                        <span class="fas fa-camera-off" style="color:white"></span>
                      </button>
                      <% end %>
                    </td>
                    <td>
                      <button onclick="aprobarOrden('<%= orden_lectura.id%>');" style="background-color:green !important; border: none;" type="button" class="btn-circle btn-success btn-sm" style="border:none" data-toggle="tooltip" data-placement="top" title="Aprobar">
                        <span class="fas fa-check-square" style="color:white"></span>
                      </button>
                    </td>
                    <td>
                      <button onclick="modificarLectura('<%= orden_lectura.id%>');" style="background-color: #fa5000 !important; border: none;"  type="button" class="btn-circle btn-success btn-sm" style="border:none" data-toggle="tooltip" data-placement="top" title="Modificar Lectura">
                        <span class="fas fa-edit" style="color:white"></span>
                      </button>
                    </td>
                    <td>
                      <button onclick="enviarVerificacion('<%= orden_lectura.id%>');" style="background-color: red !important; border: none;" type="button" class="btn-circle btn-danger btn-sm" style="border:none" data-toggle="tooltip" data-placement="top" title="Verificar">
                         <span class="fas fa-trash" style="color:white;"></span>
                      </button>
                    </td>
                    <td class="text-azul"><%= orden_lectura.cliente.numero_cliente%></td>
                    <td class="text-orange"><%= orden_lectura.medidor.numero_medidor%></td>
                    <td><%= orden_lectura.direccion%></td>
                    <td><%= orden_lectura.rutum.codigo%></td>
                    <td><%= orden_lectura.consumo_minimo %></td>
                    <td><%= orden_lectura.consumo_actual %></td>
                    <td><%= orden_lectura.consumo_maximo %></td>
                    <td><%= orden_lectura.lectura_anterior %></td>
                    <td><input id="<%= orden_lectura.id %>" type="number" class="custom-select-sm" value="<%= orden_lectura.lectura_actual %>"></td>
                    <td><%= orden_lectura.tipo_lectura.nombre%></td>
                    <td><%= orden_lectura.clave_lectura.nombre%></td>
                    <td><%= orden_lectura.asignacion_lectura.empleado.nombre_completo%></td>
                    <% if !orden_lectura.fecha_ejecucion.nil? %>
                      <td><%= orden_lectura.fecha_ejecucion.strftime('%e/%m/%Y %I:%M:%S %p') %></td>
                    <% else %>
                      <td></td>
                    <% end %>
                  </tr>
              <% end%>
            <%else %>
              <tr>
                <center>
                  <td colspan="17" style="color: red"><h5>NO SE ENCONTRARON ORDENES DE LECTURA</h5></td>
                </center>
              </tr>
            </tbody>
          <%end%>
          </table>
        </div>
      </div>
      <div class="row h-100 justify-content-center align-items-center">
        <% if !@ordenes.nil?%>
          <%= will_paginate @ordenes %> <br>
        <% end %>
      </div>
      <br>
    </div>
  </div>
</div>
<!--  -->

<!-- Modal Fotografia -->
<div id="modal1">
	<div id="modalFotografia" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <!-- Modal content-->
    <div class="modal-content" >
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"> <span class="fas fa-camera"></span> Fotografías </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <%= render 'lec_operaciones/ver_fotografia' %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div id="modal2">
  <div id="modalUbicacion" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content"  >
        <div class="modal-body">
          <div class="card">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><%= link_to '<i class="fas fa-home"></i>'.html_safe, { :action => "index", :controller => :dashboard }%></span></li>
              <li class="breadcrumb-item">Lectura </li>
              <li class="breadcrumb-item">Operaciones </li>
              <li class="breadcrumb-item">Improcedencias</li>
              <li class="breadcrumb-item active">Ubicación Lectura</li>
            </ol>
          </div>
          <br>
          <%= render partial: 'lec_operaciones/ver_ubicacion' %>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" >Cerrar</button>
            <button type="button" class="btn btn-success  pull-left" onclick="mapa();">Refrescar Mapa</button>
          </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <%= render 'lec_mensajes_alerta/aprobar_orden' %>
</div>

<div class="container">
  <%= render 'lec_mensajes_alerta/modificar_lectura' %>
</div>

<div class="container">
    <%= render 'lec_mensajes_alerta/enviar_verificacion' %>
</div>



<script type="text/javascript">

  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });

  function verFotografias(orden_id){
    $.ajax({
      url:"<%=url_for :controller => 'lec_operaciones',:action => 'ver_fotografia' %>",
      data:'id_orden=' + encodeURIComponent(orden_id),
      success:function (data) {}
    })
    $('#modalFotografia').modal();
  }

  function verUbicacion(orden_id){
    $.ajax({
      url:"<%=url_for :controller => 'lec_operaciones', :action => 'ver_ubicacion', :format => :js %>",
      data:'orden_id=' + encodeURIComponent(orden_id),
      cache:false,
      success:function (data) {}
    })
    $('#modalUbicacion').modal();
    mapa();
  }

  function modificarLectura(orden_id){
    var lectura = document.getElementById(orden_id).value;
    $('#boton').attr("disabled", true);

      var analisis = 4;
      $.ajax({
        url:"<%=url_for :controller => 'lec_mensajes_alerta', :action => 'modificar_lectura' %>",
        data:'orden_id=' + encodeURIComponent(orden_id)+ "&" +
            'analisis=' + encodeURIComponent(analisis)+ "&" +
            'lectura=' + encodeURIComponent(lectura),
        cache:false,
        success:function (data) {}
      })
    }

  function enviarVerificacion(orden_id){
    var analisis = 4;
    $.ajax({
      url:"<%=url_for :controller => 'lec_mensajes_alerta', :action => 'enviar_verificacion' %>",
      data:'orden_id=' + encodeURIComponent(orden_id)+ "&" +
           'analisis=' + encodeURIComponent(analisis),
      cache:false,
      success:function (data) {}
    })
  }

  function aprobarOrden(orden_id){
    var analisis = 4;
    $.ajax({
	    url:"<%=url_for :controller => 'lec_mensajes_alerta',:action => 'aprobar_orden' %>",
	    data:'orden_id=' + encodeURIComponent(orden_id) + "&" +
           'analisis=' + encodeURIComponent(analisis),
	    cache:false,
	    success:function (data) {}
	  })
	}

</script>
