<title>Improcedencias</title>
<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to '<i class="fas fa-home"></i>'.html_safe, { :action => "index", :controller => :dashboard }%></span></li>
    <li class="breadcrumb-item">Lecturas</li>
    <li class="breadcrumb-item">Análisis Online</li>
    <li class="breadcrumb-item active">Improcedencias</li>
  </ol>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Información!</strong> Claves de Lectura,  Sin lectura efectiva
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="buscador">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-2">
            <label>Región:</label><br>
            <%= render 'lec_filtros/carga_regiones' %>
            <label>Zonal:</label><br>
            <%= render 'lec_filtros/carga_zonas' %>
          </div>
          <div class="col-md-2">
            <label>Porción:</label><br>
            <%= render 'lec_filtros/carga_porciones' %>
            <label>Unidad de lectura:</label>
            <%= render 'lec_filtros/carga_rutas' %>
          </div>
          <div class="col-md-3">
            <label>Lector:</label>
            <%= render 'lec_filtros/carga_lectores' %>
            <label>Clave Lectura:</label>
            <%=select_tag "clave", options_from_collection_for_select(@claves, "id", "nombre"), :prompt=> "Todas", :class =>"custom-select custom-select-sm"%>
          </div>
          <div class="col-md-4">
            <br>
            <button type="button" class="btn-buscar btn-circle btn-lg " onclick="cargarOrdenes();">
              <span class="fas fa-search"></span>
            </button>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div>
  <%= render 'carga_ordenes' %>
</div>

<script>
  function cargarOrdenes(){
    var region = document.getElementById("region").value;
    var zona = document.getElementById("zona").value;
    var porcion = document.getElementById("porcion").value;
    var ruta = document.getElementById("ruta").value;
    var lector = document.getElementById("lector").value;
    var clave = document.getElementById("clave").value;

    $.ajax({
      url:"<%=url_for :controller => 'lec_improcedencias',:action => 'carga_ordenes' %>",
      data:'region='+ encodeURIComponent(region) + "&" +
           'zona=' + encodeURIComponent(zona) + "&" +
           'porcion=' + encodeURIComponent(porcion) + "&" +
           'ruta=' + encodeURIComponent(ruta)+ "&" +
           'clave=' + encodeURIComponent(clave)+ "&" +
           'lector=' + encodeURIComponent(lector),
      cache:false,
      success:function (data) {}
    })
  }
</script>
