<title>Historico Corte y Reposición</title>
<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to '<i class="fas fa-home"></i>'.html_safe, { :action => "index", :controller => :dashboard }%></span></li>
    <li class="breadcrumb-item">Corte y Reposición </li>
    <li class="breadcrumb-item">Operaciones </li>
    <li class="breadcrumb-item active">Histórico de Trabajos</li>
  </ol>
  <br>
  <div class="buscador-corte-reposicion">
    <div class="row">
        <div class="col-md-2">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="Radios" id="exampleRadios1" value="1" checked="checked">
            <label class="form-check-label">
              Número Cliente
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="Radios" id="exampleRadios2" value="2">
            <label class="form-check-label">
              Número Medidor
            </label>
          </div>
        </div>
        <div class="col-md-4">
          <label>Ingrese Nº:
          </label>
          <input class="form-control input-sm" type="text" id="busqueda">
        </div>
        <div class="col-md-1">
          <button type="button" class="btn-circle btn-lg" onclick="cargarOrdenes();">
            <span class="fas fa-magnify"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Agregar carga filtro -->

<script type="text/javascript">
	$( document ).ready(function() {
		$('.bg-light').css({
			'cssText': 'background: linear-gradient(45deg, #FFD13C 0%, #a1c056 100%);'
    });
	});
</script>
