<div id="modificar_orden">
  <div class="row">
    <div class="col-md-5">
      <label>Nueva Lectura:</label><br>
      <input id="lectura_actual" type="number" class="form-control input-sm" required><br>
    
    </div>
    <div class="col-md-4">
      <label>Clave Lectura:</label><br>
      <%=select_tag "clave_lectura", options_from_collection_for_select(@claves, "id", "nombre"), :class => "custom-select custom-select-sm" %>
      <hr>
      <% if !@ordenLectura.nil? %>
      <button class="btn btn-danger btn-sm col-md-4" onclick="modificarOrdenLectura('<%= @ordenLectura.id %>')"> <span class="fas fa-edit"></span> Modificar </button>
      <% end%>
    </div>
  </div>
</div>

<script>
  function modificarOrdenLectura(orden_id){
    var lectura_actual = document.getElementById("lectura_actual").value;
    var clave_lectura = document.getElementById("clave_lectura").value;
    $.ajax({
      url: "<%=url_for :controller => 'lec_operaciones',:action => 'editar_orden' %>",
      data: 'lectura_actual=' + encodeURIComponent(lectura_actual) + 
            "&clave_lectura=" + encodeURIComponent(clave_lectura) + 
            "&orden_id=" + encodeURIComponent(orden_id),
      cache: false,
      success: function (data) {}
    })
    $('#modalModificar').modal('hide');
    cargarOrdenes();

  }

</script>