<div id="ver_ubicacion_cliente" class="ver_ubicacion_cliente">
		<div id="multi_markers_uno" style='height: 500px;'></div>
		<basdasd
			<div class="row">
				<div class="col-md-12">
					<b>Modificar Ubicación</b><hr>
					<label >Latitud:</label><br>
					<input id="latitud" type="text" class="form-control" value="<%=@latitud%>">
					<label>Longitud:</label><br>
					<input id="longitud" type="text" class="form-control" value="<%=@longitud%>">
					<label>Observación Recinto:</label>
					<% if !@cliente.nil? %>
						<textarea id="observacion" name="textarea" rows="10" cols="50" class="form-control"><%= @cliente.observacion_recinto %> </textarea><br>
					<% end %>
					<% if !@clienteID.nil? %>
						<input id="cliente" name="cliente" type="hidden" value="<%= @clienteID %>">
					<%end%>
					<hr>
					<button onclick="actualizarUbicacion()" class="btn btn-info">Actualizar</button>
					<button onclick="remplazarUbicacion()" class="btn btn-warning">Remplazar por ultima ubicación</button>
				</div>
			</div>
	</div>


	<script type="text/javascript">
		$( document ).ready(function() {
			mapaRecinto();
		});

		function sleep(ms) {
			return new Promise(resolve => setTimeout(resolve, ms));
		}

		function mapaRecinto(){
			sleep(5000);
			var handler = Gmaps.build('Google');
			handler.buildMap({ internal: {id: 'multi_markers_uno'}}, function(){
				var markers = handler.addMarkers(<%=raw @hash.to_json %>);
				var polylines = handler.addPolylines([<%=raw @hash.to_json %>],{ strokeColor: '#14CC82'});
				handler.bounds.extendWith(markers);
				handler.fitMapToBounds();
			});
		}

		function actualizarUbicacion(){
			var gps_latitud = document.getElementById("latitud").value;
			var gps_longitud = document.getElementById("longitud").value;
			var observacion = document.getElementById("observacion").value;
			var cliente = document.getElementById("cliente").value;
			$.ajax({
				url:"<%=url_for :controller => 'lec_operaciones',:action => 'actualizar_ubicacion', :format => :js %>",
				data:'cliente=' + encodeURIComponent(cliente)	 + "&" +
						 'latitud=' + encodeURIComponent(gps_latitud) +"&"+
						 'longitud=' + encodeURIComponent(gps_longitud) + "&" +
						 'observacion=' + encodeURIComponent(observacion),
				success:function (data) {}
			})
			mapaRecinto();
		}

		function remplazarUbicacion(){
			var gps_latitud = document.getElementById("latitud").value;
			var gps_longitud =document.getElementById("longitud").value;
			var cliente = document.getElementById("cliente").value;
			$.ajax({
				url:"<%=url_for :controller => 'lec_operaciones', :action => 'remplazar_ubicacion', :format => :js %>",
				data: 'cliente=' + encodeURIComponent(cliente) + "&" +
							'latitud=' + encodeURIComponent(gps_latitud) +
							'longitud=' + encodeURIComponent(gps_longitud),
				success:function(data){}
			})
			mapaRecinto();
		}

	</script>
