<div id="ver_fotografia">
	<% if !@lista_fotos.nil? %>
			<div class="row">
				<div class="col-md-6">
					<% @lista_fotos.each do |foto| %>
					<%= image_tag("https://s3.amazonaws.com/abastible.fastbilling/" + foto.archivo.to_s, size: '250x400', id: 'fotografia', class: 'img-responsive zoom') %>
				<% end %>
				</div>
				<div class="col-md-6">
						<% if !@orden_lectura.nil? %>
						<center>
							<b>Nº Medidor</b><br>
							<b><%=@orden_lectura.medidor.numero_medidor%></b>
						</center>
							<hr>
							<center>
								<b><%=@orden_lectura.direccion%></b><hr>
							</center>
							<div class="table-responsive">
									<table class="table table-striped table-hover table-sm table-bordered animated fadeIn fast">
										<thead class="color-header">
											<tr>
											<th>Consumo Mínimo</th>
											<th>Consumo Actual</th>
											<th>Consumo Máximo</th>
										</tr>
										</thead>
										<tbody>
											<tr>
												<th><%= @orden_lectura.consumo_minimo %></th>
												<th><%= @orden_lectura.consumo_actual %></th>
												<th><%= @orden_lectura.consumo_maximo %></th>
											</tr>
										</tbody>
									</table>
									<hr>
									<div class="table-responsive">
										<table class="table table-striped table-hover table-sm table-bordered animated fadeIn fast">
											<thead class="color-header">
												<tr>
												<th>Lectura Actual</th>
												<th>Lectura Anterior</th>
											</tr>
											</thead>
											<tbody>
												<tr>
													<th><%= @orden_lectura.lectura_actual %></th>
													<th><%= @orden_lectura.lectura_anterior %></th>
												</tr>
											</tbody>
										</table>
						<%end%>
					</div>
			</div>
			<hr>
			<center>
				<b>Fecha de Ejecución: </b><br>
				<%= @orden_lectura.fecha_ejecucion.strftime('%e/%m/%Y %I:%M:%S %p')  %>
			</center>
			<!-- <button class="btn btn-sm btn-danger rigth">Verificar Servicio</button> -->
		<%end%>
	<%if @lista_fotos.nil? %>
		<div class="col-md-12">
			<h3 style="color:orange"><center>No se Capturaron Fotografias</center></h3>
		</div>
	<% end %>
</div>


