<div id="carga_zonas">
	<% if !@zonas.nil?  %>
		<%=select_tag "zona", options_from_collection_for_select(@zonas, "id", "nombre"),
		:onchange => "cargarLectores();",
		:prompt=> "Seleccione", :class => "custom-select custom-select-sm"%>
	<%else%>
	  	<select id="zona" class="custom-select custom-select-sm" ><option value="">Seleccione</option>></select>
	<%end%>
</div>
