<div id="carga_lectores">
	<% if !@lectores.nil?  %>
	  <%= select_tag "lector", options_from_collection_for_select(@lectores, "id", "nombre_completo"), :prompt=> "Todos", :onchange=> 'cargarEfectividad();', :class => "custom-select custom-select-sm"%>
	<%else%>
	  <select  id="lector" class="custom-select custom-select-sm" ><option value="">Todos</option>></select>
	<%end%>
</div>	
