<div id="carga_filtro">
	<div class="table-responsive-sm">
		<table class="table table-striped table-hover table-sm table-bordered animated fadeIn fast">
			<thead class="color-header">
				<tr>
					<th>Porción</th>
					<th>Operador Medidor</th>
					<th>Unidad de lectura</th>
					<th>CTE Asignados</th>
					<th>CTE Efectivo</th>
					<th>CTE con Claves</th>
					<th>% Efectividad</th>
				</tr>
			</thead>
			<tbody>
				<% if !@lista.nil?%>
					<% @lista.each do |l| %>
						<tr>
							<td><b><%= l[0] %></b></td>
							<td><b><%= l[1] %></b></td>
							<td><b><%= l[2] %></b></td>
							<td><b><%= l[3] %></b></td>
							<td><b><%= l[4] %></b></td>
							<td><b><%= l[5] %></b></td>
							<td><b><%= l[6] %> % </b></td>											
						</tr>
					<% end %>
				<% end %>
			</tbody>
				<% if !@totales.blank? %>
					<tfooter>
						<tr class="bg-info text-white">
							<td style="font-size:16px !important;" colspan="3"><b class="pull-right">Totales:</b></td>
							<td style="font-size:18px;"><a class="badge badge-success" style="color: #ffffff !important;"><b><%= @totales[0]%></b></a></td>
							<td style="font-size:18px;"><a class="badge badge-success" style="color: #ffffff !important;"><b><%= @totales[1]%></b></a></td>
							<td style="font-size:18px;"><a class="badge badge-success" style="color: #ffffff !important;"><b><%= @totales[2]%></b></a></td>
							<td style="font-size:18px;"><a class="badge badge-success" style="color: #ffffff !important;"><b><%= @totales[3]%></b>%</a></td>
						</tr>
					</tfooter>
				<%end%>
			</table>
		</div>
	</div>
</div>

<div id="exportar_csv">
	<%= render 'exportar_csv' %>
</div>

<script>
	// Exportar Csv
	function exportarCsv(){
		var zona    = document.getElementById("zona").value;
		var lector = document.getElementById("lector").value;
		var mes = document.getElementById("date_month").value;
		var ano = document.getElementById("date_year").value;
		url = "<%=url_for :controller => 'lec_reporte_efectividad_lector', :action => 'exportar_csv' %>",
		location.href= url + '?zona=' + encodeURIComponent(zona) + 
												 '&lector=' + encodeURIComponent(lector)+
												 '&mes=' + encodeURIComponent(mes) +
												 '&ano=' + encodeURIComponent(ano);
	}
</script>
