<title>Efectividad por Lector</title>
<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to '<i class="fas fa-home"></i>'.html_safe, { :action => "index", :controller => :dashboard }%></span></li>
  <li class="breadcrumb-item">Lectura</li>
  <li class="breadcrumb-item">Reportes</li>
  <li class="breadcrumb-item active">Efectividad por Operador de Medidor</li>
</ol>
<br>
<div class="buscador">
  <div class="row">
    <div class="col-md-2">
      <label for="">Región:</label>
      <%=select_tag "region", options_from_collection_for_select(@regiones, "id", "nombre"), :prompt=> "Seleccionar", :class => "custom-select custom-select-sm" , :onchange => 'cargarZonas();'%>
    </div>
    <div class="col-md-2">
      <label for="">Zonal:</label>
      <%= render 'carga_zonas' %>
    </div>
    <div class="col-md-1">
      <label for="">Mes:</label><br>
      <%= select_month(Date.today, {use_month_names: %w(Enero Febrero Marzo Abril Mayo Junio Julio Agosto Septiembre Octubre Noviembre Diciembre)},{:class => "custom-select custom-select-sm",:onchange => "cargarPorciones();"})%>
    </div>
    <div class="col-md-1">
      <label for="">Año:</label><br>
      <%= select_year(2020,{start_year: 2020, end_year: 2040},{ :class => "custom-select custom-select-sm",:onchange => "cargarPorciones();"})%>
    </div>
    <div class="col-md-3">
      <label for="">Operador Medidor:</label>
      <%= render 'carga_lectores' %>
    </div>
    <div class="col-md-1">
      <button type="button" onclick="cargarEfectividad();" class="btn-buscar btn-circle btn-lg">
        <span class="fas fa-magnify"></span></button>
    </div>
  </div>
</div><br>
<!-- # > Botones e Información -->
<div class="row">
  <div class="col-md-6 div-padding"></div>
  <div class="col-md-6">
    <b>Exportar:</b><br>
    <button onclick="exportarCsv();" class="btn btn-csv btn-sm">
      <span class="fas fa-file-csv"></span>
      CSV
    </button>
  </div>
</div><br>
</div>

<div>
<%= render 'carga_filtro'%>
</div>

<script type="text/javascript">

function cargarZonas() {
  var region = document.getElementById("region").value;
  $.ajax({
    url: "<%=url_for :controller => 'lec_reporte_efectividad_lector',:action => 'carga_zonas' %>",
    data: 'region=' + encodeURIComponent(region),
    cache: false,
    success: function (data) {}
  })
}

function cargarEfectividad() {
  var zona = document.getElementById("zona").value;
  var lector = document.getElementById("lector").value;
  var mes = document.getElementById("date_month").value;
  var ano = document.getElementById("date_year").value;
  $.ajax({
    url: "<%=url_for :controller => 'lec_reporte_efectividad_lector',:action => 'carga_filtro' %>",
    data: 'zona=' + encodeURIComponent(zona) + "&mes=" + encodeURIComponent(mes) + "&ano=" + encodeURIComponent(ano) + "&lector=" + encodeURIComponent(lector),
    cache: false,
    success: function (data) {}
  })
}

function cargarLectores() {
  var zona = document.getElementById("zona").value;
  $.ajax({
    url: "<%=url_for :controller => 'lec_reporte_efectividad_lector',:action => 'carga_lectores' %>",
    data: 'zona=' + encodeURIComponent(zona),
    cache: false,
    success: function (data) {}
  })
}

$(function () {
  $('.pagination a').attr('data-remote', 'true')
});
</script>
