<div id="ordenes">
  <br>
  <div class="container-fluid row">
    <div class="col-md-4">
      <div class="buscador-repartos">
        <h5>Información:</h5><hr>
        <% if !@ordenRepartos.nil? %>
          <tr>
            <td>Nº Cliente:</td>
            <td></td>
            <td><%= @ordenRepartos.first.cliente.numero_cliente %></td>
          </tr><br>
          <td>Dirección:</td>
          <td></td>
          <td><%= @ordenRepartos.first.cliente.direccion_completa %></td>
          <tr><hr>
            <td>Nº Medidor:</td>
            <td></td>
            <td><%= @ordenRepartos.first.medidor.numero_medidor %></td>
          </tr><br>
          <tr>
            <td>Nº Medidor:</td>
            <td></td>
            <td><%= @ordenRepartos.first.medidor.ubicacion_medidor %></td>
          </tr><hr>
          <tr>
            <td>Nº Instalación:</td>
            <td></td>
            <td><%= @ordenRepartos.first.instalacion.codigo %></td>
          </tr><br>
        <% end %>

      </div>
    </div>
    <div class="col-md-8">
      <div class="table-responsive">
        <table class="table table-striped table-hover table-sm table-bordered animated fadeIn fast">
          <thead class="color-header-reparto">
            <tr>
              <th>Operador de Medidor</th>
              <th>Unidad de lectura</th>
              <th>Mes</th>
              <th>Fecha Ejecución</th>
              <th colspan="3">
                <span class="fas fa-settings"></span>
                Acciones</th>
            </tr>
          </thead>
          <% if !@ordenRepartos.nil? %>
            <% @ordenRepartos.each do |orden_lectura| %>
              <tbody>
                <tr>
                  <td><%= orden_lectura.asignacion_reparto.empleado.nombre_completo %></td>
                  <td><%= orden_lectura.ruta_reparto.codigo%></td>
                  <td><%= orden_lectura.ruta_reparto.mes %></td>
                  <td>
                    <b><%= orden_lectura.fecha_ejecucion.strftime("%H:%M:%S %d/%m/%Y") %></b>
                  </td>
                  <td>
                    <button onclick="verUbicacion('<%= orden_lectura.id%>');" class="btn btn-info btn-circle">
                      <span class="fas fa-map-marker"></span>
                    </button>
                  </td>
                </tr>
              </tbody>
            <% end%>
          <%end%>
        </table>
      </div>
    </div>
  </div>
  <br>
</div>

<!-- Modal Mostrar Ubicación -->
<div id="modal2">
  <div id="modalUbicacion" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header-reparto">
          <h5 class="modal-title" id="exampleModalLongTitle">
            <span class="fas fa-google-maps"></span>
            Ubicación Repartidor
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render 'carga_ubicacion' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <%= render 'lec_mensajes_alerta/enviar_verificacion' %>
</div>

<script type="text/javascript">

  // # > Mensajes de los botones
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
    $('.pagination a').attr('data-remote', 'true')
  });

  // # > Muestra la Ubicación del Lector
  function verUbicacion(ordenId) {
    $.ajax({
      url: "<%=url_for :controller => 'rep_historico_documentos', :action => 'carga_ubicacion', :format => :js %>",
      data: 'ordenId=' + encodeURIComponent(ordenId),
      cache: false,
      success: function (data) {}
    })
    $('#modalUbicacion').modal();
    mapa();
  }
</script>
