<title>Histórico de Documentos de un Cliente</title>
<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to '<i class="fas fa-home"></i>'.html_safe, { :action => "index", :controller => :dashboard }%></span></li>
    <li class="breadcrumb-item">Repartos</li>
    <li class="breadcrumb-item">Gestión Repartos</li>
    <li class="breadcrumb-item active">Histórico de Documentos de un Cliente</li>
  </ol>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Información!</strong> Busca todos Documentos por cliente o medidor
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
	<div class="buscador-repartos">
			<div class="row">
        <div class="col-md-2">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="Radios" id="exampleRadios1" value="1" checked>
            <label class="form-check-label">
              Número Cliente
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="Radios" id="exampleRadios2" value="2">
            <label class="form-check-label">
              Número Medidor
            </label>
          </div>
        </div>
				<div class="col-md-4">
					<label>Ingrese Nº: </label>
					<input class="form-control input-sm" type="text" id="busqueda">
				</div>
				<div class="col-md-1">
					<button type="button" class="btn-buscar btn-circle btn-lg" onclick="mostrarFiltro();">
						<span class="fas fa-magnify" ></span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div>
	<%= render 'carga_filtro'%>
</div>
</div>


<script type="text/javascript">

	function mostrarFiltro() {
      var rates = document.getElementsByName('Radios');
      var seleccion;
      for(var i = 0; i < rates.length; i++){
          if(rates[i].checked){
              seleccion = rates[i].value;
          }
      }
      var busqueda = document.getElementById("busqueda").value;
	  $.ajax({
	  	url:"<%=url_for :controller => 'rep_historico_documentos',:action => 'carga_filtro', :format => :js %>",
	  	data:'seleccion=' + encodeURIComponent(seleccion) + "&" +
           'busqueda=' + encodeURIComponent(busqueda),
	  	cache:false,
	    success:function (data) {}
	  })
	}
  $( document ).ready(function() {
		$('.bg-light').css({
			'cssText': ' background: #3388c6; background: -moz-linear-gradient(45deg, #fe5000 0%, #ed8b00 100%);background: -webkit-linear-gradient(45deg, #3388c6 0%, #a1c056 100%);background: linear-gradient(45deg, #3388c6 0%, #a1c056 100%);'
    });
	});
</script>
