<div id="carga_filtro">
	<br>
	<div class="table-responsive">
		<table class="table table-striped table-hover table-sm table-bordered animated fadeIn fast">
			<thead class="color-header">
				<tr>
					<th>Porción</th>
					<th>Ruta</th>
					<th>Secuencia</th>
					<th>Cliente</th>
					<th>Medidor</th>
					<th>Dirección</th>
					<th>Comuna</th>
					<th>Clave Lectura</th>
					<th>Nº Veces Improcedente</th>
				</thead>
				<tbody>
					<% if !@ordenes.nil?%>
						<% @ordenes.each do |orden_lectura| %>
							<tr>
								<% cliente = orden_lectura.cliente %>
									<td>
										<b><%= orden_lectura.rutum.porcion.codigo %></b>
									</td>
									<td>
										<b><%= orden_lectura.rutum.codigo %></b>
									</td>
									<td><%= orden_lectura.secuencia_lector%></td>
									<td><%= orden_lectura.cliente.numero_cliente %></td>
									<td><%= orden_lectura.medidor.numero_medidor %></td>
									<td>
										<b><%= orden_lectura.direccion %></b>
									</td>
									<td><%= orden_lectura.comuna.nombre %></td>
									<td><%= orden_lectura.clave_lectura.nombre %></td>
									<td style="font-size: 18px;"><%= cliente.orden_lectura.joins(:clave_lectura).where(clave_lecturas: {efectivo:false}, orden_lecturas:{verificacion: false}).count %></td>
								</tr>
							<% end %>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<script>
		function exportarCsv() {
			var zona = document.getElementById("zona").value;
			var clave = document.getElementById("clave").value;
			var mes = document.getElementById("date_month").value;
			var ano = document.getElementById("date_year").value;
			url = "<%=url_for :controller => 'lec_historico_improcedencias', :action => 'exportar_csv' %>",
			location.href = url + '?zona=' + encodeURIComponent(zona) + '&clave=' + encodeURIComponent(clave) + '&ano=' + encodeURIComponent(ano) + '&mes=' + encodeURIComponent(mes);
		}
	</script>
