<div id="carga_filtro">
	<br>
			<div class="table-responsive">
				<table class="table table-striped table-hover table-sm table-bordered animated fadeIn fast">
					<thead class="color-header-convenios">
						<tr>
							<th>Porción</th>
							<th>Ruta</th>
							<th>Nombre Operador</th>
							<th>Fecha Inicio</th>
							<th>Hora Inicio</th>
							<th>Fecha Termino</th>
							<th>Hora Termino</th>
							<th>Total Horas</th>
							<th>Total Asignación</th>
						</tr>
					</thead>
					<tbody>
						<% if !@lista.nil?%>
							<% @lista.each do |l| %>
								<tr>
									<td><b><%= l[0] %></b></td>
									<td><b><%= l[1] %></b></td>
									<td><%= l[2] %></td>
									<td><%= l[3] %></td>
									<td><%= l[4] %></td>
									<td><%= l[5] %></td>
									<td><%= l[6] %></td>
									<td><b><%= l[7] %></b></td>
									<td><b><%= l[8] %></b></td>
								</tr>
							<% end %>
						<% end %>
					</tbody>
				</table>
		</div>
	</div>
</div>

<script>
	function exportarCsv(){
		var zona    = document.getElementById("zona").value;
		var porcion = document.getElementById("porcion").value;
		var mes = document.getElementById("date_month").value;
		var ano = document.getElementById("date_year").value;
    url="<%=url_for :controller => 'lec_reporte_control_horas_terreno', :action => 'exportar_csv' %>",
    location.href= url + '?zona=' + encodeURIComponent(zona)+
												 '&porcion=' + encodeURIComponent(porcion)+
												 '&ano=' + encodeURIComponent(ano)+
												 '&mes=' + encodeURIComponent(mes);
  }
</script>
