<div id="carga_filtro">
	<br>
			<div class="table-responsive-sm">
				<table class="table table-striped table-hover table-sm table-bordered animated fadeIn fast">
					<thead class="color-header-reparto">
						<tr>
							<th>Porción</th>
							<th>Unidad de lectura</th>
							<th>Documentos Asignados</th>
							<th>Entregados</th>
							<th>% Efectividad</th>
						</tr>
					</thead>
					<tbody>
						<% if !@lista.nil?%>
							<% @lista.each do |l| %>
								<tr>
									<td><%= l[0] %></td>
									<td><b><%= l[1]%></b></td>
									<td><b><%= l[2] %></b></td>
									<td><b><%= l[3] %></b></td>
									<td><b><%= l[4] %> %</b></td>
								</tr>
							<% end %>
						<% end %>
					</tbody>
						<% if @totales[0] != 0 %>
							<tfooter >
									<tr class="bg-info text-white">
										<td style="font-size:16px; text-align: right;" colspan="2"><b>Total</b></td>
										<td style="font-size:16px;"><b><%= @totales[0]%></b></td>
										<td style="font-size:16px;"><b><%= @totales[1]%></b></td>
										<td style="font-size:16px;"><b><%= @totales[2]%></b> %</td>
									</tr>
							</tfooter>
						<%end%>
					</table>
		</div>
	</div>

<script>
		function exportarCsv(){
			var zona    = document.getElementById("zona").value;
			var porcion = document.getElementById("porcion").value;
			url = "<%=url_for :controller => 'rep_reporte_efectividad_porcion',:action => 'exportar_csv' %>",
			location.href= url + '?zona=' + encodeURIComponent(zona)+
													 '&porcion=' + encodeURIComponent(porcion);
	}
</script>
