<div id="carga_porciones">
	<% if !@porciones.nil?  %>
	  <%= select_tag "porcion", options_from_collection_for_select(@porciones, "id", "codigo"), :prompt=> "Seleccione" , :class => "custom-select custom-select-sm"%>
	<%else%>
	  <select id="porcion" class="custom-select custom-select-sm" ><option value="">Seleccione</option>></select>
	<%end%>
</div>	
 