<title>Coordenadas GPS</title>
<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to '<i class="fas fa-home"></i>'.html_safe, { :action => "index", :controller => :dashboard }%></span></li>
    <li class="breadcrumb-item">Gas Inicial</li>
    <li class="breadcrumb-item">Reportes </li>
    <li class="breadcrumb-item active">Coordenadas GPS</li>
  </ol>
  <br>
  <div class="buscador-gas_inicial">
    <div class="row">
      <div class="col-md-2">
        <span class="fas fa-globe-americas"></span>
        <label>Región:</label>
        <select name="select" class="custom-select custom-select-sm">
          <option value="value1">Todos</option>
        </select>
      </div>
      <div class="col-md-2">
        <span class="fas fa-city"></span>
        <label>Zonal:</label>
        <select name="select" class="custom-select custom-select-sm">
          <option value="value1">Todos</option>
        </select>
      </div>
      <div class="col-md-2">
        <span class="fas fa-chart-pie"></span>
        <label>Porción:</label>
        <select name="select" class="custom-select custom-select-sm">
          <option value="value1">Todos</option>
        </select>
      </div>
      <div class="col-md-2">
        <span class="fas fa-calendar-alt"></span>
        <label>Proceso:</label>
        <select name="select" class="custom-select custom-select-sm">
          <option value="value1">Todos</option>
        </select>
      </div>
      <div class="col-md-2">
        <span class="fas fa-calendar-alt"></span>
        <label>Técnico:</label>
        <select name="select" class="custom-select custom-select-sm">
          <option value="value1">Todos</option>
        </select>
      </div>
      <div class="col-md-1">
        <button type="button" class="btn-circle btn-lg" onclick="cargarRutas();">
          <span class="fas fa-search "></span>
        </button>
      </div>
    </div>
  </div>
  <!-- Agregar carga filtro -->
</div>

<script type="text/javascript">
	$( document ).ready(function() {
		$('.bg-light').css({
			'cssText': 'background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(225, 125, 125) 0%, rgb(168, 67, 44) 100%) repeat scroll 0% 0%'
    });
	});
</script>
