<div id="asignacion_parcial">
	<% if @completado == 0%>
		<script>
   		toastr.success('Asignación Completada');
      $('[data-toggle="tooltip"]').tooltip('dispose');
			$('#modalAsignacion');
			cargarTablaAsignacion('<%=@ruta_seleccionada_id%>', '<%=@lector_id%>');
		</script>
	<%end%>
	<% if @completado == 1%>
		<script>
        toastr.success('Asignación Completada');
        $('[data-toggle="tooltip"]').tooltip('dispose');
				$('#modalAsignacion').modal('hide');
				var tiempo = setTimeout(cargarRutas, 3000);
		</script>
	<%end%>
</div>