<div id="carga_rutas">
	<div class="table-responsive-sm">
		<table class="table table-striped table-hover table-sm table-bordered animated fadeIn" style="width:100%">
			<thead class="color-header-reparto">
				<tr>
					<th style="width:20%">Repartidor</th>
					<th style="width:11%"	>Acciones</th>
					<th>Porción</th>
					<th style="width:15%">Unidad de Reparto</th>
					<th>Clientes</th>
				</tr>
			</thead>
			<tbody>
				<% if @variable == 0 %>
					<% if !@lista.nil? %>
						<% @lista.each do |l| %>
							<tr>
								<td>
									<% if !@empleados.nil?  %>
                  <!-- Empleado + ruta  -->
                  <%=select_tag "empleado" + l[3].to_s, options_from_collection_for_select(@empleados, "id", "nombre_completo"),:prompt=> "Seleccione", :class => "custom-select custom-select-sm" %>
									<% else %>
										<select id="empleado" class="custom-select custom-select-sm">
											<option value="">Seleccione</option>
										</select>
									<% end %>
								</td>
								<td>
									<button class="btn btn-reparto btn-circle btn-sm" onclick="asignacionParcial('<%= l[3]%>');" data-toggle="tooltip" data-placement="bottom" title="Asignación Parcial" >
											<span class="fas fa-list-ol"></span>

									</button>
											<button class="btn btn-reparto btn-circle btn-sm" onclick="asignacionCompleta('<%= l[3]%>');"data-toggle="tooltip" data-placement="bottom" title="Asignación Completa">
													<span class="fas fa-check-circle"></span>
											</button>
										</td>
										<td><b><%= l[0]%></b></td>
										<td><b><%= l[1]%></b></td>
										<td><span class="badge badge-reparto"><%= l[2]%></span></td>
									</tr>
								<% end %>
							<% end %>
						<% end %>
						<%if @variable == 1 %>
							<% if !@lista.nil? %>
								<% @lista.each do |l| %>
									<tr>
										<td><b><%= l[2]%></b></td>
										<td>
											<button onclick="desasignacionParcial('<%= l[3]%>', '<%= l[4] %>');" data-toggle="tooltip" data-placement="bottom" title="Desasignación Parcial"  type="button" class="btn btn-danger btn-sm">
												<span  class="fas fa-checkbox-multiple-marked"></span>
											</button>
											<button onclick="desasignacionCompleta('<%= l[3]%>', '<%= l[4] %>');" data-toggle="tooltip" data-placement="bottom" title="Desasignación Completa" type="button" class="btn btn-danger btn-sm">
												<span class="fas fa-delete"></span>
											</button>
										</td>
										<td><b><%= l[0]%></b></td>
										<td><b><%= l[1]%></b></td>
										<td><span class="badge badge-primary"><%= l[6]%></span></td>
									</tr>
								<% end %>
							<% end %>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<!--
  Modal Asignación Parcial
-->
<div class="modal1">
  <div id="modalAsignacion" class="modal fade modalAsignacion" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header-reparto">
          <h5 class="modal-title">Dividir Ruta Reparto</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="modal-body">
          <%= render 'dividir_ruta_asignacion' %>
        </div>
        <div id="asignacion_parcial">
          <%= render 'asignacion_parcial' %>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
  Modal Desasignación Parcial
-->


<div class="modal2">
    <div id="modalDesasignacion" class="modal fade modalDesasignacion" role="dialog">
      <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header-reparto">
            <h5 class="modal-title">Dividir Ruta Reparto</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="modal-body">
            <%= render 'dividir_ruta_desasignacion' %>
          </div>
          <div id="asignacion_parcial">
            <%= render 'desasignacion_parcial' %>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--Muestran mensajes de asignacion completada -->
<div id="asignacion_completa_mensaje">
	<%= render 'asignacion_completa' %>
</div>

<!--Muestran mensajes de desasignacion completada -->
<div id="desasignacion_completa_mensaje">
	<%= render 'desasignacion_completa' %>
</div>

<script type="text/javascript">
    // # Asignaciones
    // # Asignacion Completa.
    function asignacionCompleta(ruta){
      var empleado = document.getElementById("empleado" + ruta).value;
      if($("#empleado" + ruta + " option:selected").val() == 0) {
          toastr.warning('Ups, Debe Seleccionar un Empleado');
        }
      else{
        $.ajax({
          url:"<%=url_for :controller => 'rep_asignacion',:action => 'asignacion_completa' %>",
          data:'ruta=' + encodeURIComponent(ruta)+ "&" +
               'empleado=' + encodeURIComponent(empleado),
          cache:false,
          success:function (data) {}
        })
      }
    }

    // # Asignaciones
    // # Dividir Ruta Asignacion.
    function asignacionParcial(ruta){
        var empleado = document.getElementById("empleado" + ruta ).value;
        if($("#empleado" + ruta + " option:selected").val() == 0) {
          toastr.warning('Ups, Debe Seleccionar un Empleado');
        }
        else {
            $.ajax({
                url:"<%=url_for :controller => 'rep_asignacion',:action => 'dividir_ruta_asignacion' %>",
                data:'ruta=' + encodeURIComponent(ruta)+ "&" +
                     'empleado=' + encodeURIComponent(empleado),
                cache:false,
                success:function (data) {}
            })
            $('#modalAsignacion').modal();
        }
    }

    // # Desasignaciones
    // # Desasignación completa.
    function desasignacionCompleta(empleado,ruta){
        $.ajax({
            url:"<%=url_for :controller => 'rep_asignacion',:action => 'desasignacion_completa' %>",
            data:'ruta=' + encodeURIComponent(ruta)+ "&" +
                'empleado=' + encodeURIComponent(empleado),
            cache:false,
            success:function (data) {}
        })
    }

    // # Desasignación
    // # Dividir Ruta Desasignación
    function desasignacionParcial(empleado, ruta){
        $.ajax({
          url:"<%=url_for :controller => 'rep_asignacion',:action => 'dividir_ruta_desasignacion' %>",
          data:'ruta=' + encodeURIComponent(ruta)+ "&" +
              'empleado=' + encodeURIComponent(empleado),
            cache:false,
          success:function (data) {}
        })
        $('#modalDesasignacion').modal();
        $('[data-toggle="tooltip"]').tooltip('dispose');
	  }


	  // Inici
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
</script>
