<div id="desasignacion_parcial">
	
	<% if @completado_uno == 0%>
		<script>	
			toastr.warning('Desasignación Completada');
			$('#modalDesasignacion'); 		
			cargarTablaDesasignacion('<%=@ruta_seleccionada_id%>', '<%=@lector_id%>');		
		</script>
	<%end%>

	<% if @completado_uno == 1 %>
		toastr.success('Asignación Completada');
		<script>
			toastr.warning('Desasignación Completada');
			$('#modalDesasignacion').modal('hide'); 				
			var tiempo = setTimeout(cargarRutas, 3000);
			$('[data-toggle="tooltip"]').tooltip('dispose');
		</script>
	<%end%>

</div>