<div id="asignacion_completa_mensaje">
	<% if !@totalOrdenes.nil?%>
        <script>
            toastr.success('Asignación Completada, Se asignaron: <%= @totalOrdenes%> Ordenes de Lectura');
            cargarRutas();
            $('[data-toggle="tooltip"]').tooltip('dispose');
        </script>
	<%end%>
</div>