<div id="desasignacion_completa">
	<% if !@totalOrdenes.nil?%>
		<script>
			toastr.success('Desasignación Completada, Se Desasignaron: <%= @totalOrdenes%> Ordenes de Lectura');
			cargarRutas();
			$('[data-toggle="tooltip"]').tooltip('dispose');
		</script>
	<%end%>
</div>