<div id="dividir_ruta_asignacion" >
	<br>
		<%= form_tag  :controller => 'cr_asignacion_ordenes', :action => 'asignacion_parcial', :method => 'post', :id => 'nueva_asignacion', :multipart => true do %>
			<div class="row">
					<div class="col-md-4">
						<li> <b>Empleado: </b>
							<% if !@lector.nil? %>
								<%= @lector.nombre_completo%>
								<%= hidden_field_tag "empleado_seleccionado",@lector.id, class: 'form-control input-sm'%>
							<% end %>
						</li>
						<li> <b>Unidad de Lectura: </b>
							<% if !@ruta_seleccionada.nil? %>
								<%= @ruta_seleccionada.codigo%>
								<%= hidden_field_tag "ruta_seleccionada",@ruta_seleccionada.id, class: 'form-control input-sm'%>
							<% end %>
						</li>
						<li> <b>Cantidad de Ordenes:</b>
							<% if !@ordenes_corte_reposicion.nil? %>
								<%= @ordenes_corte_reposicion.count%>
							<% end %>
						</li>
					</div>
					<div class="col-md-3">
						<label>Desde:</label>
						<input type="number" id="desde" class="custom-select custom-select-sm"><br>
						<label>Hasta:</label>
						<input type="number" id="hasta" class="custom-select custom-select-sm"><br><br>
						<button type="button" onclick="seleccionarOrdenes();" class="form-control btn btn-primary btn-sm"><span class="fas fa-cursor-pointer"></span>Seleccionar</button><br>
					</div>
					<div class="col-md-4">
						<b class="text-center">Acciones</b><hr>
						<button type="button" onclick="asignacion_parcial(0);" class="form-control btn btn-primary btn-sm"><span class="fas fa-content-save"></span> Asignar</button><br><br>
						<button type="button" onclick="asignacion_parcial(1);" class="form-control btn btn-primary btn-sm"><span class="fas fa-content-save"></span><span class="fas fa-exit-to-app"></span>Asignar y Salir</button><br>
					</div>
				</div>
				<br>
				<div class="tabla-responsive">
				<table class="table table-striped table-sm table-bordered table-hover" >
					<thead class="color-header-corte-reposicion">
						<tr>
							<th> -- </th>
							<th>Secuencia Lector</th>
							<th>Dirección</th>
							<th>Proceso</th>
							<th>Comuna</th>
						</tr>
					</thead>
					<tbody>
						<% if !@ordenes_corte_reposicion.nil? %>
							<% @ordenes_corte_reposicion.each do |orden_corte_reposicion|  %>
								<tr>
									<td><%= check_box_tag 'orden_ids', orden_corte_reposicion.id -%></td>
									<td><label><%= orden_corte_reposicion.secuencia%></label></td>
									<td><label><%= orden_corte_reposicion.direccion%></label></td>
									<td><label><%= orden_corte_reposicion.tipo_corte_reposicion.nombre%></label></td>
									<td><label><%= orden_corte_reposicion.comuna.nombre%></label></td>
								</tr>
							<% end %>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<% end %>
</div>

<!-- # > Funciones Js -->
<script type="text/javascript">

  // Boton Seleccionar ordenes
  function seleccionarOrdenes(){
		var desde =  parseInt(document.getElementById("desde").value) - 1;
    var hasta = parseInt(document.getElementById("hasta").value);
    var check = $(':checkbox')
    for (i = desde; i < check.length; i++){
      check[i].checked = false;
    }
    for (i = desde; i < hasta; i++){
      check[i].checked = true;
    }
  }

	function cargarTablaAsignacion(ruta,empleado){
		var tipo_corte_reposicion = document.getElementById("tipo_corte_reposicion").value;
		var proceso_corte_reposicion = document.getElementById("proceso_corte_reposicion").value;
		var estado_corte_reposicion = document.getElementById("estado_corte_reposicion").value;
    $.ajax({
			url:"<%=url_for :controller => 'cr_asignacion_ordenes',:action => 'dividir_ruta_asignacion' %>",
			data:'ruta=' + encodeURIComponent(ruta)+ '&' +
					 'tipo_corte_reposicion=' + encodeURIComponent(tipo_corte_reposicion) + '&' +
					 'proceso_corte_reposicion=' + encodeURIComponent(proceso_corte_reposicion) + '&' +
					 'estado_corte_reposicion=' + encodeURIComponent(estado_corte_reposicion) + '&' +
					 'empleado=' + encodeURIComponent(empleado),
			  cache:false,
			  success:function (data) {}
		  })
	  }

    //boton Asignacion Parcial
    function asignacion_parcial(id_boton_asignacion){
        var empleado = document.getElementById("empleado_seleccionado").value;
		    var ruta = document.getElementById("ruta_seleccionada").value;
		    var ordenes = new Array();
		    var box = $(':checkbox')
		    for (i = 0; i < box.length; i++){
			    if (box[i].checked == true && box[i].value != "selectAll" && box[i].value != "selectAll_uno" )
			    {
				    ordenes.push(box[i].value)
			    }
		    }
		    $.ajax({
			    url:"<%=url_for :controller => 'cr_asignacion_ordenes',:action => 'asignacion_parcial' %>",
			    data:'ruta=' + encodeURIComponent(ruta)+ "&" +
               'empleado=' + encodeURIComponent(empleado)+ "&" +
						   'ordenes=' + encodeURIComponent(ordenes)+ "&" +
						   'id_boton_asignacion=' + encodeURIComponent(id_boton_asignacion),
			    cache:false,
		    success:function (data) {}
		  })
	  }

    // CheckBox Seleecionar Todo
    $('#selectAll').click(function() {
        if (true) {
            $(':checkbox').each(function() {
                this.checked = true;
            });
        }
        else {
            $(':checkbox').each(function() {
                this.checked = false;
            });
        }
    });

    //Initialize tooltip component
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

    $(function(){
        $('.pagination a').attr('data-remote', 'true')
    });
</script>
