<div id="dividir_ruta_desasignacion">
  <%= form_tag  :controller => 'cr_asignacion_ordenes', :action => 'desasignacion_parcial', :method => 'get', :multipart => true do %>
  <div class="row">
      <div class="col-md-4">
        <li> <b>Empleado: </b>
          <% if !@lector.nil? %>
            <%= @lector.nombre_completo%> 
            <%= hidden_field_tag "empleado_seleccionado",@lector.id, class: 'form-control input-sm'%>
          <% end %> 
        </li>
        <li> <b>Unidad de Corte y Reposición: </b>
          <% if !@ruta_seleccionada.nil? %>
            <%= @ruta_seleccionada.codigo%>
            <%= hidden_field_tag "ruta_seleccionada",@ruta_seleccionada.id, class: 'form-control input-sm'%>
          <% end %>
        </li>
        <li> <b>Cantidad de Ordenes:</b> 
          <% if !@asignaciones.nil? %>
            <%= @asignaciones.count%>
          <% end %>
        </li>
      </div>
      <div class="col-md-3">
        <label>Desde:</label>
        <input type="number" id="desde_uno" class="custom-select custom-select-sm"><br>
        <label>Hasta:</label>
        <input type="number" id="hasta_uno" class="custom-select custom-select-sm"><br><br>
        <button type="button" onclick="seleccionarOrdenes();" class="form-control btn btn-danger btn-sm"><span class="fas fa-cursor-pointer"></span>Seleccionar</button><br>
      </div>
      <div class="col-md-4">
        <b class="text-center">Acciones</b><hr>
        <button type="button" onclick="desasignacion_parcial(0);" class="form-control btn btn-danger btn-sm"><span class="fas fa-content-save"></span> Desasignar</button><br><br>
        <button type="button" onclick="desasignacion_parcial(1);" class="form-control btn btn-danger btn-sm"><span class="fas fa-content-save"></span><span class="fas fa-exit-to-app"></span>Desasignar y Salir</button><br>
      </div>			
    </div> 
    <br>
    <div class="tabla-responsive">
      <table class="table table-hover table-sm table-striped table-bordered" >
        <thead class="color-header">
        <tr>
          <th> -- </th>
          <th>Correlativo Ruta</th>
          <th>Dirección Orden</th>
          <th>Tipo Corte Reposición</th>
          <th>Proceso</th>
          <th>Comuna</th>
        </tr>
        </thead>
        <tbody>
          <% if !@asignaciones.nil? %>
            <% @asignaciones.each do |a|  %>
              <tr>
                <td><%= check_box_tag 'orden_ids[]', a.orden_corte_reposicion.id -%></td>
                <td><%= a.orden_corte_reposicion.secuencia%></td>
                <td><%= a.orden_corte_reposicion.direccion%></td>
                <td><%= a.orden_corte_reposicion.tipo_corte_reposicion.nombre%></td>
                <td><%= a.orden_corte_reposicion.proceso_corte_reposicion.nombre%></td>
                <td><%= a.orden_corte_reposicion.comuna.nombre%></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>


<script type="text/javascript">

    // Boton Seleccionar ordenes
    function seleccionarOrdenes(){
        var desde =  parseInt(document.getElementById("desde_uno").value)-1;
        var hasta = parseInt(document.getElementById("hasta_uno").value);
        var check = $(':checkbox')
        for (i = desde; i < check.length; i++){
            check[i].checked = false;
        }

        for (i = desde; i < hasta; i++){
            check[i].checked = true;
        }
    }

    //Recarga Datos en Modal Desasignacion
    function cargarTablaDesasignacion(ruta,empleado, tipo_lectura){
	      $.ajax({
            url:"<%=url_for :controller => 'cr_asignacion_ordenes',:action => 'dividir_ruta_desasignacion' %>",
            data:'ruta=' + encodeURIComponent(ruta)+ "&" +
					       'tipo_lectura=' + encodeURIComponent(tipo_lectura) + "&" +
                 'empleado=' + encodeURIComponent(empleado),
            cache:false,
			      success:function (data) {}
	      })
	  }

	  //boton Desasignacion Parcial
    function desasignacion_parcial(id_boton_desasignacion){
	      var ordenes = new Array();
		    var box = $(':checkbox')
		    var empleado = document.getElementById("empleado_seleccionado").value;
        var ruta = document.getElementById("ruta_seleccionada").value;
        for (i = 0; i < box.length; i++){
            if (box[i].checked == true && box[i].value != "selectAll" && box[i].value != "selectAll_uno"  )
            {
                ordenes.push(box[i].value)
            }
		    }
        $.ajax({
            url:"<%=url_for :controller => 'cr_asignacion_ordenes',:action => 'desasignacion_parcial' %>",
			      data:'ruta=' + encodeURIComponent(ruta)+ "&" +
					       'empleado=' + encodeURIComponent(empleado)+ "&" +
					       'id_boton_desasignacion=' + encodeURIComponent(id_boton_desasignacion)+ "&" +
                 'ordenes=' + encodeURIComponent(ordenes),
            cache:false,
    	      success:function (data) {}
        })
    }

    $('#selectAll_uno').click(function() {
        // CheckBox Seleecionar Todo
        if (true) {
            $(':checkbox').each(function() {
                this.checked = true;
            });
        }
        else {
            $(':checkbox').each(function() {
                this.checked = false;
            });
        }
    });

    $(function(){
        $('[data-toggle="tooltip"]').tooltip()
        $('.pagination a').attr('data-remote', 'true')
        $('#superior').keypress(function(e){
            if(e.keyCode==13){
                seleccionUno();
            }
        });
    });

</script>