<title>Asignación de Ordenes de Corte y Reposición</title>
<div class="container-fluid">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><%= link_to '<i class="fas fa-home"></i>'.html_safe, { :action => "index", :controller => :dashboard }%></span></li>
	<li class="breadcrumb-item">Corte y Reposición
	</li>
	<li class="breadcrumb-item">Operaciones
	</li>
	<li class="breadcrumb-item active">Asignación de Ordenes de Corte y Reposición</li>
</ol>
<br>
<div class="buscador-corte-reposicion">
	<div class="row">
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-4">
					<span class="fas fa-globe-americas"></span>
					<label>Región:</label>
					<%=select_tag "region", options_from_collection_for_select(@regiones, "id", "nombre"), :onchange => 'cargarZonas();', :prompt=> "Seleccione", :class => "custom-select custom-select-sm"%>
				</div>
				<div class="col-md-4">
					<span class="fas fa-city"></span>
					<label>Zonal:</label>
					<%= render 'carga_zonas' %>
				</div>
				<div class="col-md-4">
					<span class="fas fa-chart-pie"></span>
					<label>Porción:</label>
					<%= render 'carga_porciones' %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<span class="fas fa-calendar-alt"></span>
					<label>Proceso:</label>
					<%=select_tag "proceso_corte_reposicion", options_from_collection_for_select(@procesos_corte_reposicion, "id", "nombre"), :prompt=> "Seleccione", :class => "custom-select custom-select-sm"%>
				</div>
				<div class="col-md-4">
					<span class="fas fa-calendar-alt"></span>
					<label>Tipo de Orden:</label>
					<%=select_tag "tipo_corte_reposicion", options_from_collection_for_select(@tipos_corte_reposicion, "id", "nombre"), :prompt=> "Seleccione", :class => "custom-select custom-select-sm"%>
				</div>
				<div class="col-md-4">
					<span class="fas fa-business-time"></span>
					<label>Estado de Orden:</label>
					<%=select_tag "estado_corte_reposicion", options_from_collection_for_select(@estados_corte_reposicion, "id", "nombre"), :prompt=> "Seleccione", :class => "custom-select custom-select-sm"%>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<br>
			<button type="button" class="btn-circle btn-lg" onclick="cargarRutas();">
				<span class="fas fa-search "></span>
			</button>
		</div>
	</div>
</div>

<br>
<%= render 'carga_rutas' %>

<script type="text/javascript">
	$(document).ready(function () {
		$('.bg-light').css({'cssText': 'background: linear-gradient(45deg, #FFD13C 0%, #a1c056 100%);'});
	});

	function cargarZonas() {
		var region = document.getElementById("region").value;
		$.ajax({
			url: "<%=url_for :controller => 'cr_asignacion_ordenes',:action => 'carga_zonas' %>",
			data: 'region=' + encodeURIComponent(region),
			cache: false,
			success: function (data) {}
		})
	}

	function cargarRutas() {
		var zona = document.getElementById("zona").value;
		var porcion = document.getElementById("porcion").value;
		var tipo_corte_reposicion = document.getElementById("tipo_corte_reposicion").value;
		var estado_corte_reposicion = document.getElementById("estado_corte_reposicion").value;
		var proceso_corte_reposicion = document.getElementById("proceso_corte_reposicion").value;
		$.ajax({
			url: "<%=url_for :controller => 'cr_asignacion_ordenes',:action => 'carga_rutas' %>",
			data: 'zona=' + encodeURIComponent(zona) + "&porcion=" + encodeURIComponent(porcion) + "&estado_corte_reposicion=" + encodeURIComponent(estado_corte_reposicion) + "&tipo_corte_reposicion=" + encodeURIComponent(tipo_corte_reposicion)+ "&proceso_corte_reposicion=" + encodeURIComponent(proceso_corte_reposicion),
			cache: false,
			success: function (data) {}
		})
	}
</script>
