<div class="field" id="contratistas">
  <%= label_tag "Contratistas:" %>
  <% if !@contratistas.nil?%>
    <%=select_tag "Contratista", options_from_collection_for_select(@contratistas, "id", "nombre"), :prompt=> "Seleccione",:class => "custom-select custom-select-sm" %>
  <% end %>
</div>
