<div class="field" id="subempresas">

</div>

<script type="text/javascript">

  function zonas()
  {
    /*Carga las porciones disponibles de una zona */
    var subempresa = document.getElementById("SubEmpresa").value;
    $.ajax({
        url:"<%=url_for :controller => 'inv_empleados',:action => 'carga_zonas' %>",
        data:'subempresa=' + encodeURIComponent(subempresa),
        cache:false,
        success:function (data) {
        }
    })
  }

</script>