<div id="carga_listado">
	<div class="col-md-3">
  	<%= link_to '<i class="fas fa-account-plus"></i> Agregar'.html_safe, new_inv_empleado_path, class: "btn btn-success" %>
  </div>
  <br>
  <div class="table-responsive container-fluid">
    <table class="table table-striped table-hover table-sm table-bordered animated fadeIn fast">
      <thead class="color-header">
        <tr>
          <th><span class="fas fa-settings"></span></th>
          <th>Nombres</th>
          <th>Apellido Paterno</th>
          <th>Apellido Materno</th>
          <th>Rut</th>
          <th>Nombre usuario</th>
          <th>Perfil</th>
          <th>Equipo</th>
          <th>Zonas</th>
          <th>Activo</th>
          <th>Ultima Conexión</th>
        </tr>
      </thead>
      <tbody>
        <% @empleados.each do |empleado| %>
          <tr>
            <td>
              <%#= link_to "Editar", edit_empleado_path(empleado.id) %>
              <button onclick="" class="btn btn-sm btn-editar">
                <i class="fas fa-account-remove"></i>
              </button>
              <button onclick="" class="btn btn-sm btn-eliminar">
                <i class="fas fa-account-edit"></i>
              </button>
            </td>
            <td><%= empleado.nombre %></td>
            <td><%= empleado.apellido_paterno %></td>
            <td><%= empleado.apellido_materno %></td>
            <td><%= empleado.rut %></td>
            <% if !empleado.usuario.nil? %>
              <td><%= empleado.usuario.email%></td>
              <td><%=empleado.usuario.perfil.nombre %></td>	
              <% if !empleado.equipo.nil? %>
                <td><%= empleado.equipo.mac%></td>
              <% else %>
                <td>NO DISPONIBLE</td>
              <% end %>
            <%else%>  
              <td></td>
              <td></td>
              <td></td>
            <%end%>
            <td>
              <% empleado.zona.each do |zona| %>
                <li><%= zona.nombre %></li>
              <% end %>
            </td>
            <td>SI</td>
            <% if !empleado.equipo.nil? %>
            <td><%=empleado.usuario.last_sign_in_at.strftime("%e-%m-%Y %H:%M:%S")%></td>	
            <% else %>
              <td></td>
            <%end%>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br>
    <!-- # > Paginacion  -->
    <div class="row h-100 justify-content-center align-items-center">
      <%= will_paginate @empleados, list_classes: %w(pagination align-center) %>
    </div>
  </div>
</div>

<script>
  $(function () {
  	$('.pagination a').attr('data-remote', 'true')
	});
</script>