<div id="modelos">
  <% if !@modelos.nil?  %>
  	<label>Modelos</label><br>
    <%=select_tag "Modelo", options_from_collection_for_select(@modelos, "id", "nombre"),
    :class => "custom-select custom-select-sm"%>
  <%else%>
  	<label>Modelos</label><br>
    <select name="Modelo" id="Modelo" class="custom-select custom-select-sm" ><option value="">Seleccione</option>></select><hr>
  <%end%>
</div>

