<title>Agregar Empleado</title>
<div class="container">
  <div class="row">
    <div class="col">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to '<i class="fas fa-home"></i>'.html_safe, { :action => "index", :controller => :dashboard }%></span></li>
        <li class="breadcrumb-item">Mantenedores</li>
        <li class="breadcrumb-item">Empleados</li>
        <li class="breadcrumb-item active">Agregar Empleados</li>
      </ol>
    </div>
  </div>
  <!-- Formulario Agregar Empleado -->
  <%= form_tag inv_empleados_path, :method => 'post' do %>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="buscador">
            <b>Datos Funcionario</b> <span class="fas fa-account-card-details">
          </div>
          <div class="card-body">
            <% if @empleado.nombre.nil? %>
              <div class="row">
                <div class="col-md-6">
                  <div class="field">
                    <%= label_tag :nombre, "Nombres:" %><br>
                    <%= text_field_tag :nombre, '', :required => true, :class => "custom-field custom-field-sm", :placeholder => "ej: juan pedro" %>
                  </div>
                  <div class="field">
                    <%= label_tag :apellido_paterno, "Apellido paterno:" %>
                    <%= text_field_tag :apellido_paterno, '', :required => true, :class => "custom-field custom-field-sm", :placeholder => "ej: Gonzalez" %>
                  </div>
                </div>               
                <div class="col-md-6">
                  <div class="field">
                    <%= label_tag :rut, "Rut:" %><br>
                    <%= text_field_tag :rut, '', :required => true, :class => "custom-field custom-field-sm", :placeholder => "10.000.000-k" %>
                  </div>
                  <div class="field">
                    <%= label_tag "Apellido materno" %>
                    <%= text_field_tag :apellido_materno, '', :required => true, :class => "custom-field custom-field-sm", :placeholder => "ej: Garcia" %>
                  </div>               
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <br>
        <div class="card">
          <div class="buscador">
            <b>Zonas</b> <span class="fas fa-crosshairs-gps">
          </div>
            <div class="col-md-12">
               <div id="zonas">
                <div class="col-md-12">
                 <% if !@zonas.nil? %>
                    <br>
                    <label><input type="checkbox" id="selectAll" value="selectAll"> </label>
                    <label>Seleccionar todo</label> <span class="fas fa-checkbox-multiple-marked-outline"></span></input>
                  <% end %>
                    <hr>
                      <%= label_tag "Zonas: " %><br>
                      <div class="form-row">
                        <% @zonas.each do |zona| %>
                          <div class="col-md-6 form-inline">
                              <label><%= check_box_tag 'zona_ids[]', zona.id -%></label>
                               <%= zona.codigo_nombre.capitalize-%>
                          </div>
                        <% end %>
                      </div>    
                      <br>          
                  </div>	
                  <br>
                </div>
                <!-- # > Funciones Js -->
                <script type="text/javascript">
                // CheckBox Seleecionar Todo
                $('#selectAll').click(function() {
                    if (this.checked) {
                      $(':checkbox').each(function() {
                        this.checked = true;                        
                      });
                    } 
                    else {
                      $(':checkbox').each(function() {
                        this.checked = false;                        
                      });
                    } 
                  });
                </script>
            </div>
        </div>
      </div>
      <!-- Fin Regiones -->
      <!-- Formulario de Usuario -->
      <br>
      <div class="col-md-6">
        <div class="card">
          <div class="buscador">
            <b>Datos Usuario </b> <span class="fas fa-account">
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-5">
                <div class="field">
                  <%= label_tag :email, "Nombre Usuario" %><br>
                  <%= text_field_tag :email, '', :required => true, :class => "custom-field custom-field-sm", :placeholder => "Ingrese nombre usuario ",:autocomplete => :off %>
                </div>
                <label for="">Perfil</label>
                <%= select_tag "Perfil", options_from_collection_for_select(Perfil.all, "id", "nombre"), :prompt => "Seleccione ", :class => "custom-select custom-select-sm", :onchange => 'equipos();' %>
              </div>
              
              <div class="col-md-5">
                <div class="field">
                  <%= label_tag :password, "Contraseña" %>
                  <%= password_field_tag :password, '', :required => true, :class => "custom-field custom-field-sm", :placeholder => "Ingrese contraseña", :autocomplete => :off%>          
                </div>
              </div>
              
              <div class="col-md-1">
                <br>
                <button onclick="mostrarContrasena();" data-toggle="tooltip" data-placement="top" title="Ver Contraseña" type="button" class="btn btn-primary btn-md">
                  <i class="fas fa-eye "></i>
                </button>
              </div>
            </div>
          </div>
        </div>      
        <br>
        <%= render 'carga_equipos' %>
        <br>
        <div class="actions float-right">
          <div class="btn-group" role="group" aria-label="...">
            <%= link_to '<i class="fas fa-backspace"></i> Volver'.html_safe, empleados_path, class: "btn btn-danger"%>
            <button type="submit" class="btn btn-primary"> Guardar
              <span class="fas fa-content-save"></span>
            </button>
        </div>
    </div>
  </div>
<% end %>
  
<!-- # > Funciones JS  -->
<script type="text/javascript">
  $(document).ready(function(){
    // Mensajes en los Botones
    $('[data-toggle="tooltip"]').tooltip();   
    // Mascara Inputs 
    // $('#rut').mask('00.000.000-0');
    // $('#email').val('');
    $('#password').val('');

	});
  // Render Panel Equipos
  function equipos() { 
    var perfil = document.getElementById("Perfil").value;
    $.ajax({
      url: "<%=url_for :controller => 'inv_empleados',:action => 'carga_equipos' %>",
      data: 'perfil=' + encodeURIComponent(perfil),
      cache: false,
      success: function (data) {}
    })
  }
  // Muestra el Input de la contraseña
  function mostrarContrasena(){
    var x = document.getElementById("password");
    if (x.type === "password") {
        x.type = "text";
    } else {
        x.type = "password";
    }
  }
</script>
