<title>Empleados</title>
<div class="container-fluid">
	<div class="row">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><%= link_to '<i class="fas fa-home"></i>'.html_safe, { :action => "index", :controller => :dashboard }%></span></li>
			<li class="breadcrumb-item">Inventarios</li>
	  	<li class="breadcrumb-item active">Empleados</li>
		</ol>
	</div>
	<br>
	<div class="buscador">
		<div class="row">
			<div class="col-md-2">
				<label for="">Perfiles:</label>
					<%=select_tag "perfil", options_from_collection_for_select(@perfiles, "id", "nombre"), :prompt=> "Todos", :class => "custom-select custom-select-sm" , :onchange => 'cargarListado();'%>
				</div>
				<div class="col-md-1">
					<button type="button" onclick="cargarListado();" class="btn-buscar btn-circle btn-lg">
						<span class="fas fa-magnify"></span></button>
				</div>
		</div>
	</div>
</div>
<br>
<%= render 'carga_listado' %>

<script type="text/javascript">
	//tooltip mensajes en los botones
	$(document).ready(function(){
		$('[data-toggle="tooltip"]').tooltip();   
	});

	function cargarListado(){
		var perfil = document.getElementById("perfil").value;
		$.ajax({
			url: "<%=url_for :controller => 'inv_empleados',:action => 'carga_listado' %>",
			data: 'perfil=' + encodeURIComponent(perfil),
			cache: false,
			success: function (data) {}
		})
	}
	$(function () {
  		$('.pagination a').attr('data-remote', 'true')
	});

</script>
