<title>Importar O.L</title>
  <!-- # > BreadCrumb -->
  <div class="card">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to '<i class="fas fa-home"></i>'.html_safe, { :action => "index", :controller => :dashboard }%></span></li>
      <li class="breadcrumb-item">Lecturas </li>
      <li class="breadcrumb-item">Catastros</li>
      <li class="breadcrumb-item"><%= link_to "Claves de lectura" %></li>
      <li class="breadcrumb-item active">Importar</li>
    </ol>
  </div>
  <br>
  <!-- # > Formulario Importar Lecturas -->
  <%= form_tag({controller: "lec_claves", action: "import"}, {:multipart => true, :method => :post}) do %>
    <div class="card">
      <div class="card-header">Importar Claves de lectura <span class="fas fa-file-plus"> </span></div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                Formatos soportados <b>CSV</b>
              </div>
              <div class="card-body">
                <%= file_field_tag :file , :accept => ".csv"%>
                <br>
                <button id="btn-submit" class="btn btn-info float-right col-md-2" disabled >
                  <span class="fas fa-database"></span> Importar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <%end%> <!-- Fin Formulario -->

<script type="text/javascript" charset="utf-8">
    $("#file").change(function(){
        $("#btn-submit").prop("disabled", this.files.length == 0);
    });
</script>
