<title>Claves de Lectura </title>
<div class="container-fluid">
	<div class="row" >
		<div class="col-md-12">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><%= link_to '<i class="fas fa-home"></i>'.html_safe, { :action => "index", :controller => :dashboard }%></span></li>
					<li class="breadcrumb-item">Lectura </li>
					<li class="breadcrumb-item">Catastros </li>
					<li class="breadcrumb-item active">Claves de lectura</li>
				</ol>
		</div>
	</div>
	<br>
	<!-- Información -->
	<div class="row">
		<div class="col-md-6 div-padding">
			<b>Totales:</b><hr>
			<ul>
				<li>Claves Regitradas: <%= @totalClaves  %></li>
			</ul>
		</div>
		<div class="col-md-3">
    <b>Exportar:</b><hr>
    <button class="btn btn-csv btn-sm" onclick="exportarCsv();">
      <span class="fas fa-file-excel"></span>CSV</button>
  </div>
	</div><br>
			<!-- # > Tabla Contenido -->
			<div class="table-responsive-sm ">
				<table class="table table-striped table-hover table-sm table-bordered">
					<thead class="color-header">
						<tr>
							<th>ID</th>
							<th>Código</th>
							<th>Clave Lectura</th>
              <th>Num. Fotografía</th>
							<th>Requerido</th>
							<th>Efectivo</th>
						</tr>
					</thead>
					<tbody>
						<% @clave_lecturas.each do |clave_lectura| %>
						<tr>
							<td><%= clave_lectura.id %></td>
							<td><b><%= clave_lectura.codigo%></b></td>
							<td><%= clave_lectura.nombre %></td>
              <td><%= clave_lectura.numero_fotografias %></td>
              <td>
              <b>
								<% if clave_lectura.requerido %>
									<input type="checkbox" checked>
									<% else%>
									<input type="checkbox" >
									<%end%>
							</b>
								</td>
								<td>
									<b>
										<% if clave_lectura.efectivo %>
											<input type="checkbox" checked>
										<% else%>
											<input type="checkbox" >
										<%end%>
									</b>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
<!-- # > Funciones Js -->
<script type="text/javascript">
	// # > ToolTips Mensajes Botones
  $(document).ready(function(){
  	$('[data-toggle="tooltip"]').tooltip();
	});
	// # > Exportar CSV
 	function exportarCsv(){
  	url = "<%=url_for :controller => 'lec_claves',:action => 'exportar_csv' %>",
    location.href= url;
	}
</script>
