<title>Importar Ordenes Gas Inicial</title>
<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to '<i class="fas fa-home"></i>'.html_safe, { :action => "index", :controller => :dashboard }%></span></li>
    <li class="breadcrumb-item">Gas Inicial</li>
    <li class="breadcrumb-item">Operaciones </li>
    <li class="breadcrumb-item active">Importar Ordenes Gas Inicial</li>
  </ol>
  <br>
  <div class="buscador-gas_inicial">
    <div class="row">

    </div>
  </div>
  <!-- Agregar carga filtro -->
</div>

<script type="text/javascript">
	$( document ).ready(function() {
		$('.bg-light').css({
			'cssText': 'background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(225, 125, 125) 0%, rgb(168, 67, 44) 100%) repeat scroll 0% 0%'
    });
	});
</script>
