<title>Histórico de Visitas</title>
<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to '<i class="fas fa-home"></i>'.html_safe, { :action => "index", :controller => :dashboard }%></span></li>
    <li class="breadcrumb-item">Cambio Medidores</li>
    <li class="breadcrumb-item">Históricos </li>
    <li class="breadcrumb-item active">Histórico de Visitas</li>
  </ol>
  <br>
  <div class="buscador-cambio_medidor">
    <div class="row">
      <div class="col-md-2">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="Radios" id="exampleRadios1" value="1" checked="checked">
          <label class="form-check-label">
            Número Cliente
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="Radios" id="exampleRadios2" value="2">
          <label class="form-check-label">
            Número Medidor
          </label>
        </div>
      </div>
      <div class="col-md-4">
        <label>Ingrese Nº:
        </label>
        <input class="form-control input-sm" type="text" id="busqueda">
      </div>
      <div class="col-md-1">
        <button type="button" class="btn-circle btn-lg" onclick="cargarOrdenes();">
          <span class="fas fa-magnify"></span>
        </button>
      </div>
    </div>
  </div>  
  </div>
  <!-- Agregar carga filtro -->
  <br>
  <div>
    <%= render 'carga_filtro' %>
  </div>
</div>

<script type="text/javascript">
	$( document ).ready(function() {
		$('.bg-light').css({
			'cssText': 'background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(152, 225, 125) 0%, rgb(44, 168, 92) 100%) repeat scroll 0% 0%'
    });
	});
</script>
