<title>Asignación de Cartera</title>
<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to '<i class="fas fa-home"></i>'.html_safe, { :action => "index", :controller => :dashboard }%></span></li>
    <li class="breadcrumb-item">Convenios</li>
    <li class="breadcrumb-item">Operaciones </li>
    <li class="breadcrumb-item active">Asignación de Cartera</li>
  </ol>
  <br>
  <div class="buscador-convenios">
    <div class="row">
      <div class="col-md-2">
        <span class="fas fa-google-maps"></span><label>Region:</label><br>
        <%=select_tag "region", options_from_collection_for_select(@regiones, "id", "nombre"), :onchange => "cargarZonas();", :prompt=> "Seleccione", :class =>"custom-select custom-select-sm"%>
      </div>
      <div class="col-md-2">
        <span class="fas fa-city"></span> <label>Zona:</label>
        <%= render 'carga_zonas' %>
      </div>
      <div class="col-md-2">
        <span class="fas fa-chart-pie"></span> <label>Porción:</label>
        <%= render 'carga_porciones' %>
      </div>
      <div class="col-md-2">
        <span class="fas fa-calendar-alt"></span> <label>Proceso:</label>
        <%=select_tag "proceso_convenio", options_from_collection_for_select(@procesoConvenios, "id", "nombre"), :onchange => "cargaRutas();", :class =>"custom-select custom-select-sm"%>
      </div>
      <div class="col-md-2">
        <span class="fas fa-filter"></span><label> Estado OT:</label>
        <%=select_tag "estado_convenio", options_from_collection_for_select(@estadoConvenios, "id", "nombre"), :onchange => "cargaRutas();", :class =>"custom-select custom-select-sm"%>
      </div>
      <div class="col-md-1">
        <button type="button" class="btn-circle btn-lg" onclick="cargarRutas();">
          <span class="fas fa-search "></span>
        </button>
      </div>
    </div>
  </div>
  <!-- Agregar carga filtro -->
</div>
<br>
<div id="contenido-tabla">
<%= render 'carga_rutas' %>
</div>

<%= render 'modulos_colors/convenios'%>

<script type="text/javascript">
  // # Filtro Zonas
	function cargarZonas() {
		/*Carga las porciones disponibles de una zona */
		var region = document.getElementById("region").value;
		$.ajax({
			url: "<%=url_for :controller => 'con_asignacion_ordenes',:action => 'carga_zonas' %>",
			data: 'region=' + encodeURIComponent(region),
			cache: false,
			success: function (data) {}
		})
	}
  // # Cargar Rutas
	function cargarRutas() {
		var zona = document.getElementById("zona").value;
		var porcion = document.getElementById("porcion").value;
		var proceso_convenio = document.getElementById("proceso_convenio").value;
		var estado_convenio = document.getElementById("estado_convenio").value;
		$.ajax({
			url: "<%=url_for :controller => 'con_asignacion_ordenes',:action => 'carga_rutas' %>",
			data: "zona=" + encodeURIComponent(zona) + 
            "&porcion=" + encodeURIComponent(porcion) + 
            "&estado_convenio=" + encodeURIComponent(estado_convenio) + 
            "&proceso_convenio=" + encodeURIComponent(proceso_convenio),
			cache: false,
			success: function (data) {}
		})
	}
</script>
