<title>Importar Ordenes de Lecturas</title>
<!-- # > BreadCrumb -->
<ol class="breadcrumb">
	<li class="breadcrumb-item"><%= link_to '<i class="fas fa-home"></i>'.html_safe, { :action => "index", :controller => :dashboard }%></li>
	<li class="breadcrumb-item">Cambio Medidor
	</li>
	<li class="breadcrumb-item">Importar
	</li>
	<li class="breadcrumb-item active">Importar Ordenes de Lectura</li>
</ol>
<br>
<!-- # > Formulario Importar Lecturas -->
<%= form_tag({controller: "lec_importar_ordenes_lecturas", action: "import_csv"}, {:multipart => true, :method => :post}) do %>
<div class="card">
	<div class="buscador">
		<h5>Formatos Soportados: CSV</h5><hr>
		<div class="row">
				<div class="card-body">
					<div class="custom-file">
						<%= file_field_tag :file, :class => "custom-file-input", :lang => "es"%>
					  <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
					</div>
					<hr>
					<%= button_tag(:class => "btn btn-importar float-right col-md-4") do %>
					<span class="fas fa-database"></span>
					Importar a DB
				<% end %>
			</div>
		</div>
	</div>
<%end%>
<!-- # > Funciones JS -->
<script>
function comprueba_extension(formulario, archivo) {
extensiones_permitidas = new Array(".gif", ".jpg", ".doc", ".pdf");
mierror = "";
if (!archivo) {
	//Si no tengo archivo, es que no se ha seleccionado un archivo en el formulario
	mierror = "No has seleccionado ningún archivo";
} else {
	//recupero la extensión de este nombre de archivo
	extension = (archivo.substring(archivo.lastIndexOf("."))).toLowerCase();
	//alert (extension); compruebo si la extensión está entre las permitidas
	permitida = false;
	for (var i = 0; i < extensiones_permitidas.length; i++) {
		if (extensiones_permitidas[i] == extension) {
			permitida = true;
			break;
		}
	}
	if (!permitida) {
		mierror = "Comprueba la extensión de los archivos a subir. \nSólo se pueden subir archivos con extensiones: " + extensiones_permitidas.join();
	} else {
		//submito!
		alert("Todo correcto. Voy a submitir el formulario.");
		formulario.submit();
		return 1;
	}
}
//si estoy aqui es que no se ha podido submitir
alert(mierror);
return 0;
}
</script>
