<div id="carga_filtro">
	<br>
			<div class="table-responsive">
				<table class="table table-striped table-hover table-sm table-bordered animated fadeIn fast">
					<thead class="color-header">
						<tr>
							<th>Número Cliente</th>
							<th>Número Medidor</th>
							<th>Porción</th>
							<th>Ruta</th>
							<th>Nombre Operador</th>
							<th>Fecha Ejecución</th>
							<th>Fecha Modificación</th>
							<th>Modificada por</th>
							<th>Lectura Anterior</th>
							<th>Lectura Modificada</th>
							<th>Clave Lectura Anterior</th>
							<th>Clave Lectura Actual</th>
						</tr>
					</thead>
					<tbody>
						<% if !@asignaciones.nil?%>
							<% @asignaciones.each do |asignacion| %>
								<tr>
									<td><b><%= asignacion.orden_lectura.cliente.numero_cliente %></b></td>
									<td><b><%= asignacion.orden_lectura.medidor.numero_medidor %></b></td>
									<td><b><%= asignacion.orden_lectura.rutum.porcion.codigo %></b></td>
									<td><b><%= asignacion.orden_lectura.rutum.codigo %></b></td>
									<td><b><%= asignacion.orden_lectura.asignacion_lectura.empleado.nombre_completo %></b></td>
									<td><b><%= asignacion.orden_lectura.fecha_ejecucion.strftime("%e/%m/%Y %H:%M:%S") %></b></td>
									<td><b><%= asignacion.fecha_modificacion.strftime("%e/%m/%Y %H:%M:%S") %></b></td>
									<td><b><%= asignacion.empleado.nombre_completo %></b></td>
									<td><b><%= asignacion.lectura_actual %></b></td>
									<td><b><%= asignacion.orden_lectura.lectura_actual %></b></td>
									<% if !asignacion.orden_lectura.clave_lectura.nil?%>
										<td><b><%= asignacion.orden_lectura.clave_lectura.nombre%></b></td>
									<% else %>
									<td>Sin Cambios</td>
									<% end %>
									<% if !asignacion.clave_lectura.nil?%>
										<td><b><%= asignacion.clave_lectura.nombre %></b></td>
									<% else %>
									<td>Sin Cambios</td>

									<%end%>
								</tr>
							<% end %>
						<% end %>
					</tbody>
					</table>
		</div>
	</div>
</div>

<script>
	function exportarCsv(){
		var zona    = document.getElementById("zona").value;
		var porcion = document.getElementById("porcion").value;
		var mes = document.getElementById("date_month").value;
		var ano = document.getElementById("date_year").value;
    url="<%=url_for :controller => 'lec_reporte_efectividad_porcion', :action => 'exportar_csv' %>",
    location.href= url + '?zona=' + encodeURIComponent(zona)+
												 '&porcion=' + encodeURIComponent(porcion)+
												 '&ano=' + encodeURIComponent(ano)+
												 '&mes=' + encodeURIComponent(mes);
  }
</script>
