<div id="cambio_medidor">
  <script type="text/javascript">
    $( document ).ready(function() {
      $('.bg-light').css({
        'cssText': 'background: linear-gradient(45deg, rgb(152, 225, 125) 0%, rgb(44, 168, 92) 100%)'
        });
    });
  </script>
</div>
