<div id="convenios">
  <script type="text/javascript">
    $( document ).ready(function() {
      $('.bg-light').css({
        'cssText': 'background: linear-gradient(45deg, #009cff 0%, #003c61 100%);'
        });
    });
  </script>
</div>
