<div class="main">
	<div class="container">
		<center>
			<div class="middle">
				<div id="login">
					<fieldset class="clearfix">
						<%=yield%>
					</fieldset>
				<div class="clearfix"></div>
				<div class="clearfix"></div>
			</div> <!-- end login -->
			<div class="logo">	
				<%= image_tag "abastible_logo.svg", size:"200x200"%>
				<div class="clearfix"></div>
			</div>
		</div>
	</center>
	</div>
</div>