<div class="form-signin">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <br> 
  <%= f.text_field :email, placeholder: "Usuario" %>
    <%= f.password_field :password, autocomplete: "off", placeholder: "Contraseña"%>
    <%= f.button "Ingresar", class:"btn btn-success", data: {disable_with:"<i class='fas fa-spinner fa-spin'></i> Ingresando"} %>
  <% end %>
</div>