<title>Claves de Corte y Reposición</title>
<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to '<i class="fas fa-home"></i>'.html_safe, { :action => "index", :controller => :dashboard }%></span></li>
    <li class="breadcrumb-item">Corte y Reposición </li>
    <li class="breadcrumb-item">Operaciones </li>
    <li class="breadcrumb-item active">Claves de Corte y Reposición</li>
  </ol>
  <br>
    
  <!-- Información -->
	<div class="row">
		<div class="col-md-6 div-padding">
			<b>Totales:</b><hr>
			<ul>
				<li>Claves Regitradas: <%= @clavesCorteReposicion.count  %></li>
			</ul>
		</div>
		<div class="col-md-3">
    <b>Exportar:</b><hr>
    <button class="btn btn-csv btn-sm" onclick="exportarCsv();">
      <span class="fas fa-file-excel"></span>CSV</button>
  </div>
	</div><br>
		<!-- # > Tabla Contenido -->
		<div class="table-responsive-sm ">
			<table class="table table-striped table-hover table-sm table-bordered">
				<thead class="buscador-corte-reposicion">
					<tr>
						<th>ID</th>
						<th>Código</th>
						<th>Clave Lectura</th>
						<th>Requerido</th>
            <th>Efectivo</th>
            <th>Activo</th>
					</tr>
				</thead>
				<tbody>
				<% @clavesCorteReposicion.each do |clave| %>
						<tr>
              <td><%= clave.id %></td>
              <td><%= clave.codigo %></td>
							<td><%= clave.nombre %></td>
              <td>
              <b>
								<% if clave.requerido %>
									<input type="checkbox" checked>
									<% else%>
									<input type="checkbox" >
									<%end%>
							</b>
								</td>
								<td>
									<b>
										<% if clave.efectivo %>
											<input type="checkbox" checked>
										<% else%>
											<input type="checkbox" >
										<%end%>
									</b>
                </td>
                <td>
									<b>
										<% if clave.activo %>
											<input type="checkbox" checked>
										<% else%>
											<input type="checkbox" >
										<%end%>
									</b>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
    </div>
  </div>

<script type="text/javascript">
	$( document ).ready(function() {
		$('.bg-light').css({
			'cssText': 'background: linear-gradient(45deg, #FFD13C 0%, #a1c056 100%);'
    });
	});
</script>
