<div id="carga_filtro">
	<br>
			<div class="table-responsive">
				<table class="table table-striped table-hover table-sm table-bordered animated fadeIn fast">
					<thead class="color-header">
						<tr>
							<th>Porción</th>
							<th>Ruta</th>
							<th>Total Asignación</th>
							<th>Dictada por Cliente</th>
							<th>% Dictada por Cliente </th>
						</tr>
					</thead>
					<tbody>
						<% if !@lista.nil?%>
							<% @lista.each do |l| %>
								<tr>
									<td><b><%= l[0] %></b></td>
									<td><b><%= l[1] %></b></td>
									<td><%= l[2] %></td>
									<td><b><%= l[3] %></b></td>
									<td><b><%= l[4] %>%</b></td>
								</tr>
							<% end %>
						<% end %>
					</tbody>
						<% if !@totales.blank? %>
							<tfooter >
									<tr class="bg-info text-white">
										<td style="font-size:18px;" colspan="2"><b class="pull-right">Totales:</b></td>
										<td style="font-size:18px;"><a class="badge badge-success" style="color: #ffffff !important;"><b><%= @totales[0]%></b></a></td>
										<td style="font-size:18px;"><a class="badge badge-success" style="color: #ffffff !important;"><b><%= @totales[1]%></b></a></td>
										<td style="font-size:18px;"><a class="badge badge-success" style="color: #ffffff !important;"><b><%= @totales[2]%>%</b></a></td>
									</tr>
							</tfooter>
						<%end%>
					</table>
		</div>
	</div>
</div>

<script>
	function exportarCsv(){
		var zona    = document.getElementById("zona").value;
		var porcion = document.getElementById("porcion").value;
		var mes = document.getElementById("date_month").value;
		var ano = document.getElementById("date_year").value;
    url="<%=url_for :controller => 'lec_reporte_efectividad_porcion', :action => 'exportar_csv' %>",
    location.href= url + '?zona=' + encodeURIComponent(zona)+
												 '&porcion=' + encodeURIComponent(porcion)+
												 '&ano=' + encodeURIComponent(ano)+
												 '&mes=' + encodeURIComponent(mes);
  }
</script>
