<title>Claves de Cambio de Medidor</title>
<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to '<i class="fas fa-home"></i>'.html_safe, { :action => "index", :controller => :dashboard }%></span></li>
    <li class="breadcrumb-item">Cambio Medidores</li>
    <li class="breadcrumb-item">Catastros </li>
    <li class="breadcrumb-item active">Claves de Cambio de Medidor</li>
  </ol>
  <br>
  	<!-- Información -->
	<div class="row">
		<div class="col-md-6 div-padding">
			<b>Totales:</b><hr>
			<ul>
				<li>Claves Regitradas: <%= @claveCambioMedidor.count  %></li>
			</ul>
		</div>
		<div class="col-md-3">
    <b>Exportar:</b><hr>
    <button class="btn btn-csv btn-sm" onclick="exportarCsv();">
      <span class="fas fa-file-excel"></span>CSV</button>
  </div>
	</div><br>
		<!-- # > Tabla Contenido -->
		<div class="table-responsive-sm ">
			<table class="table table-striped table-hover table-sm table-bordered">
				<thead class="color-header-cambio">
					<tr>
						<th>ID</th>
						<th>Código</th>
						<th>Clave Lectura</th>
						<th>Requerido</th>
            <th>Efectivo</th>
            <th>Activo</th>
					</tr>
				</thead>
				<tbody>
				<% @claveCambioMedidor.each do |clave_cambio| %>
						<tr>
              <td><%= clave_cambio.id %></td>
              <td><%= clave_cambio.codigo %></td>
							<td><%= clave_cambio.nombre %></td>
              <td>
              <b>
								<% if clave_cambio.requerido %>
									<input type="checkbox" checked>
									<% else%>
									<input type="checkbox" >
									<%end%>
							</b>
								</td>
								<td>
									<b>
										<% if clave_cambio.efectivo %>
											<input type="checkbox" checked>
										<% else%>
											<input type="checkbox" >
										<%end%>
									</b>
                </td>
                <td>
									<b>
										<% if clave_cambio.activo %>
											<input type="checkbox" checked>
										<% else%>
											<input type="checkbox" >
										<%end%>
									</b>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>

<script type="text/javascript">
	$( document ).ready(function() {
		$('.bg-light').css({
			'cssText': 'background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(152, 225, 125) 0%, rgb(44, 168, 92) 100%) repeat scroll 0% 0%'
    });
	});
</script>
