<div id="carga_ordenes">
  <% if !@ordenes.blank? %>
    <div class="row">
      <div class="col-md-6 div-padding">
        <b>Totales:</b><br>
        <ul>
          <li>Ordenes:
            <%= @ordenes.count %></li>
        </ul>
      </div>
      <div class="col-md-6">
          <!-- <b>Exportar:</b><br>
          <button onclick="exportarCsv()" class="btn btn-descargas btn-sm" disabled="disabled">
            <span class="fas fa-file-excel"></span>CSV</button>
          <button onclick="exportarPdf()" class="btn btn-descargas btn-sm" disabled="disabled">
            <span class="fas fa-file-excel"></span>PDF</button> -->
      </div>
    </div><br>
  <% end %>
  <div class="table-responsive">
    <table class="table table-striped table-hover table-sm table-bordered animated fadeIn fast">
      <thead class="color-header">
        <tr>
          <th>Nº Cliente</th>
          <th>Nº Medidor</th>
          <th>Dirección</th>
          <th>Ruta</th>
          <th>Proceso</th>
          <th>Fecha Asignación</th>
          <th>Módulo Análisis</th>
        </tr>
      </thead>
      <% if !@ordenes.blank? %>
        <tbody>
          <% @ordenes.each do |orden_lectura| %>
            <tr>
              <td class="text-azul"><%= orden_lectura.cliente.numero_cliente%></td>
              <td class="text-orange"><%= orden_lectura.medidor.numero_medidor%></td>
              <td><%= orden_lectura.direccion%></td>
              <td><%= orden_lectura.rutum.codigo%></td>
              <td><%= orden_lectura.tipo_lectura.nombre%></td>
              <% if orden_lectura.fecha_asignacion.blank?%>
                <td>ORDEN NO ASIGNADA</td>
              <%else%>
                <td><%= orden_lectura.fecha_asignacion.strftime("%d/%m/%Y %H:%M:%S")%></td>
              <%end%>
              <td>
                <% if orden_lectura.modulo_analisis == 1 %>
                  <span class="badge badge-success">Consumo Cero</span>
                <% end %>
                <% if orden_lectura.modulo_analisis == 2 %>
                  <span class="badge badge-danger">Consumo Mínimo</span>
                <% end %>
                <% if orden_lectura.modulo_analisis == 3 %>
                  <span class="badge badge-danger">Consumo Máximo</span>
                <% end %>
                <% if orden_lectura.modulo_analisis == 4 %>
                  <span class="badge badge-danger">Improcedencia</span>
                <% end %>
              </td>
            </tr>
          <% end%>
        <%else %>
          <tr>
            <center>
              <td colspan="17" style="color: red">
                <h5>NO SE ENCONTRARON ORDENES DE LECTURA</h5>
              </td>
            </center>
          </tr>
        </tbody>
      <%end%>
    </table>
  </div>
</div>
<div class="row h-100 justify-content-center align-items-center">
  <% if !@ordenes.nil?%>
    <%= will_paginate @ordenes %>
    <br>
  <% end %>
</div>
<br>

<script type="text/javascript">
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
