<div id="aprobar_orden">
	<% if @completado %>
		<!-- Carga Ordenes -->
		<div>
			<script>
				toastr.success('Orden de Trabajo Aprobada');
				cargarOrdenes();
				$('[data-toggle="tooltip"]').tooltip('dispose');
			</script>
		</div>
	<% end %>
</div>