<div id="enviar_verificacion">
	<% if @completado %>
		<!-- Carga Ordenes -->
		<div>
			<script>
				toastr.success('Orden de Trabajo Enviada a Verificación')
				cargarOrdenes();
				$('[data-toggle="tooltip"]').tooltip('dispose');
			</script>
		</div>
	<% end %>
</div>