<div id="modificar_lectura">
	<% if @completado %>
		<!-- Carga Ordenes -->
		<div>
			<script>
				toastr.success('Se ha modificado con exito la lectura');
				cargarOrdenes();
				$('[data-toggle="tooltip"]').tooltip('dispose');
			</script>
		</div>
	<% end %>
</div>