<div id="carga_filtro">
			<div class="table-responsive-sm">
				<table class="table table-striped table-hover table-sm table-bordered animated fadeIn fast">
					<thead class="color-header-reparto">
						<tr>
							<th>Comuna</th>
							<th>Operador Medidor</th>
							<th>Unidad Lectura</th>
							<th>Instalación</th>
							<th>Cliente</th>
							<th>Medidor</th>
							<th style="width:15%">Dirección</th>
							<th>Fecha Lectura</th>
							<th>Hora Visita</th>
							<th>Latitud</th>
							<th>Longitud</th>
							<th><span class="fas fa-map-marker"></span></th>
						</tr>
					</thead>
					<tbody>
						<% if !@listaOrdenes.nil?%>
							<% @listaOrdenes.each do |asignacion| %>
								<% if (asignacion.orden_reparto.gps_latitud.nil?) || (asignacion.orden_reparto.gps_longitud.nil?) %>
									<tr class="danger">
								<% else %>
									<tr>
								<% end %>
								<td><b><%= asignacion.orden_reparto.comuna.nombre%></b></td>
								<td><%= asignacion.empleado.nombre_completo%></td>
								<td><b><%= asignacion.ruta_reparto.codigo%></b></td>
								<td style="color:#fa5000;"><b><%= asignacion.orden_reparto.instalacion.codigo%></b></td>
								<td style="color:#fa5000;"><b><%= asignacion.orden_reparto.cliente.numero_cliente%></b></td>
								<td style="color:#fa5000;"><b><%= asignacion.orden_reparto.medidor.numero_medidor%></b></td>
								<td><%= asignacion.orden_reparto.domicilio%></td>
								<td>
									<b>
										<% if  !asignacion.orden_reparto.fecha_ejecucion.blank? %>
											<%= asignacion.orden_reparto.fecha_ejecucion.strftime("%e/%m/%Y ")%>
										<% end %>
									</b>
								</td>
								<td>
									<b>
										<% if  !asignacion.orden_reparto.fecha_ejecucion.blank? %>
											<%= asignacion.orden_reparto.fecha_ejecucion.strftime("%H:%M:%S")%>
										<% end %>
									</b>
								</td>
								<td><%= asignacion.orden_reparto.gps_latitud%></td>
								<td><%= asignacion.orden_reparto.gps_longitud%></td>
								<td>
									<button onclick="verUbicacion('<%= asignacion.orden_reparto.id %>')" class="btn btn-info btn-circle">
										<span class="fas fa-map-marker"></span>
									</button>
								</td>
							</tr>
						<% end %>
					<% end %>
				</tbody>
			</table>
	</div>
	<div class="justify-content-center align-items-center">
		<% if !@listaOrdenes.nil?%>
			<%= will_paginate @listaOrdenes, list_classes: %w(pagination align-center) %>
		<% end %>
	</div>
</div>


<div id="modal2">
  <div id="modalUbicacion" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header-reparto">
          <h5 class="modal-title" id="exampleModalLongTitle">
            <span class="fas fa-google-maps"></span>
            Ubicación Léctor
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render 'carga_ubicacion' %>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">

  //tooltip mensajes en los botones
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
	//muestra modal con mapa de las ubicaciones del lector
	// # > Muestra la Ubicación del Lector
	// # > Muestra la Ubicación del Lector
	function verUbicacion(ordenId) {
		$.ajax({
			url: "<%=url_for :controller => 'rep_reporte_control_coordenadas', :action => 'carga_ubicacion', :format => :js %>",
			data: 'ordenId=' + encodeURIComponent(ordenId),
			cache: false,
			success: function (data) {}
		})
		$('#modalUbicacion').modal();
		mapa();
	}
</script>
