<div id="carga_filtro">
	<br>
			<div class="table-responsive">
				<table class="table table-striped table-hover table-sm table-bordered animated fadeIn fast">
					<thead class="color-header-convenios">
						<tr>
							<th>Porción</th>
							<th>Unidad de Lectura</th>
							<th>Gestor</th>
							<th>Fecha Inicio</th>
							<th>Hora Inicio</th>
							<th>Fecha Termino</th>
							<th>Hora Termino</th>
							<th>Total Cartera</th>
							<th>Efectivo</th>
							<th>% Efectivo</th>
							<th>No Efectivo</th>
							<th>% No Efectivo</th>
						</tr>
					</thead>
					<tbody>
						<% if !@lista.nil?%>
							<% @lista.each do |l| %>
								<tr>
									<td><b><%= l[0] %></b></td>
									<td><b><%= l[1] %></b></td>
									<td><%= l[2] %></td>
									<td><%= l[3] %></td>
									<td><%= l[4] %></td>
									<td><%= l[5] %></td>
									<td><%= l[6] %></td>
									<td><b><%= l[7] %></b></td>
									<td><b><%= l[8] %></b></td>
									<td><b><%= l[9] %>%</b></td>
									<td><b><%= l[10] %></b></td>
									<td><b><%= l[11] %>%</b></td>
									<td><b><%= l[12] %></b></td>
									<td><b><%= l[13] %>%</b></td>
									<td><b><%= l[14] %></b></td>
									<td><b><%= l[15] %>%</b></td>
									<td><b><%= l[16] %></b></td>
								</tr>
							<% end %>
						<% end %>
					</tbody>
						<% if !@totales.blank? %>
							<tfooter >
									<tr class="bg-info text-white">
										<td style="font-size:18px;" colspan="7"><b class="pull-right">Totales:</b></td>
										<td style="font-size:18px;"><a class="badge badge-success" style="color: #ffffff !important;"><b><%= @totales[0]%></b></a></td>
										<td style="font-size:18px;"><a class="badge badge-success" style="color: #ffffff !important;"><b><%= @totales[1]%></b></a></td>
										<td style="font-size:18px;"><a class="badge badge-success" style="color: #ffffff !important;"><b><%= @totales[2]%>%</b></a></td>
										<td style="font-size:18px;"><a class="badge badge-success" style="color: #ffffff !important;"><b><%= @totales[3]%></b></a></td>
										<td style="font-size:18px;"><a class="badge badge-success" style="color: #ffffff !important;"><b><%= @totales[4]%>%</b></a></td>
										<td style="font-size:18px;"><a class="badge badge-success" style="color: #ffffff !important;"><b><%= @totales[5]%></b></a></td>
										<td style="font-size:18px;"><a class="badge badge-success" style="color: #ffffff !important;"><b><%= @totales[6]%>%</b></a></td>
										<td style="font-size:18px;"><a class="badge badge-success" style="color: #ffffff !important;"><b><%= @totales[7]%></b></a></td>
										<td style="font-size:18px;"><a class="badge badge-success" style="color: #ffffff !important;"><b><%= @totales[8]%>%</b></a></td>
										<td style="font-size:18px;"><a class="badge badge-success" style="color: #ffffff !important;"><b><%= @totales[9]%></b></a></td>
									</tr>
							</tfooter>
						<%end%>
					</table>
		</div>
	</div>
</div>

<script>
	function exportarCsv(){
		var zona    = document.getElementById("zona").value;
		var porcion = document.getElementById("porcion").value;
		var mes = document.getElementById("date_month").value;
		var ano = document.getElementById("date_year").value;
    url="<%=url_for :controller => 'lec_reporte_efectividad_porcion', :action => 'exportar_csv' %>",
    location.href= url + '?zona=' + encodeURIComponent(zona)+
												 '&porcion=' + encodeURIComponent(porcion)+
												 '&ano=' + encodeURIComponent(ano)+
												 '&mes=' + encodeURIComponent(mes);
  }
</script>
