<title>Efectividad Cartera</title>
<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to '<i class="fas fa-home"></i>'.html_safe, { :action => "index", :controller => :dashboard }%></span></li>
    <li class="breadcrumb-item">Convenios</li>
    <li class="breadcrumb-item">Reportes </li>
    <li class="breadcrumb-item active">Efectividad Cartera</li>
  </ol>
  <br>
  <div class="buscador-convenios">
  	<div class="row">
  		<div class="col-md-2">
  			<label for="">Región:</label>
  				<%=select_tag "region", options_from_collection_for_select(@regiones, "id", "nombre"), :prompt=> "Seleccionar", :class => "custom-select custom-select-sm" , :onchange => 'cargarZonas();'%>
  			</div>
  			<div class="col-md-2">
  				<label for="">Zonal:</label>
  				<%= render 'carga_zonas' %>
  			</div>
  			<div class="col-md-1">
  				<label for="">Mes:</label><br>
  				<%= select_month(Date.today, {use_month_names: %w(Enero Febrero Marzo Abril Mayo Junio Julio Agosto Septiembre Octubre Noviembre Diciembre)},{:class => "custom-select custom-select-sm",:onchange => "cargarPorciones();"})%>
  			</div>
  			<div class="col-md-1">
  				<label for="">Año:</label><br>
  				<%= select_year(2020,{start_year: 2020, end_year: 2040},{ :class => "custom-select custom-select-sm",:onchange => "cargarPorciones();"})%>
  			</div>
  			<div class="col-md-2">
  				<label for="">Porción:</label>
  				<%= render 'carga_porciones' %>
  			</div>

  			<div class="col-md-1">
  				<button type="button" onclick="cargarEfectividad();" class="btn-buscar btn-circle btn-lg"><span class="fas fa-magnify"></span> </button>
  			</div>
  	</div>
  </div>
  <!-- Agregar carga filtro -->
  <div>
    <%= render 'carga_filtro' %>
  </div>
</div>
<%= render 'modulos_colors/convenios' %>
