<div id="ordenes">
	<br>
	<div class="container-fluid row">
		<div class="col-md-4">
			<div class="buscador">
				<h5>Información:</h5><hr>
				<% if !@ordenLecturas.nil? %>
					<tr>
						<td>Nº Cliente:</td>
						<td></td>
						<td><%= @ordenLecturas.first.cliente.numero_cliente %></td>
					</tr><br>
					<td>Dirección:</td>
					<td></td>
					<td><%= @ordenLecturas.first.cliente.direccion_completa %></td>
					<tr><hr>
						<td>Nº Medidor:</td>
						<td></td>
						<td><%= @ordenLecturas.first.medidor.numero_medidor %></td>
					</tr><br>
						<tr>
						<td>Modelo:</td>
						<td></td>
						<td><%= @ordenLecturas.first.medidor.modelo_medidor.nombre %></td>
					</tr><br>
					</tr>
						<tr>
						<td>Marca:</td>
						<td></td>
						<td><%= @ordenLecturas.first.medidor.modelo_medidor.marca_medidor.nombre%></td>
					</tr><br>
					<tr>
						<td>Ubicación:</td>
						<td></td>
						<td><%= @ordenLecturas.first.medidor.ubicacion_medidor %></td>
					</tr><hr>
					<tr>
						<td>Nº Instalación:</td>
						<td></td>
						<td><%= @ordenLecturas.first.instalacion.codigo %></td>
					</tr><br>
				<% end %>
			</div>
		</div>
		<div class="col-md-8">
			<div class="table-responsive">
				<table class="table table-striped table-hover table-sm table-bordered animated fadeIn fast">
					<thead class="color-header">
						<tr>
							<th>ID</th>
							<th>Operador de Medidor</th>
							<th>Unidad de lectura</th>
							<th>Proceso</th>
							<th>Mes</th>
							<th>Lect. Actual</th>
							<th>Clave Lectura</th>
							<th>Fecha Ejecución</th>
							<th>Prioridad</th>
							<th colspan="4">
								<span class="fas fa-settings"></span>
								Acciones</th>
						</tr>
					</thead>
					<% if !@ordenLecturas.nil? %>
						<% @ordenLecturas.each do |orden_lectura| %>
							<tbody>
								<tr>
									<td><%= orden_lectura.id %></td>
									<td>
									<% if !orden_lectura.asignacion_lectura.nil? %>
										<%= orden_lectura.asignacion_lectura.empleado.nombre_completo %>
									<% else %> 
										-
									<%end%>
								</td>
									<td><%= orden_lectura.rutum.codigo%></td>
									<td><%= orden_lectura.tipo_lectura.nombre%></td>
									<td><%= orden_lectura.rutum.mes %></td>
									<td>
										<b><%= orden_lectura.lectura_actual %></b>
									</td>
									<% if !orden_lectura.clave_lectura.nil? %>
									<td>
										<b><%= orden_lectura.clave_lectura.nombre %></b>
									</td>
									<% else %>
										<b style="color:red">-</b>
									<%end%>
									<td>
									<% if !orden_lectura.fecha_ejecucion.nil? %>
										<b><%= orden_lectura.fecha_ejecucion.strftime("%H:%M:%S %d/%m/%Y") %></b>
									<% else %>
										<b>-</b>
									<% end %>
									<td>
										<% if orden_lectura.color == 0 %>
											Ninguno
										<% elsif orden_lectura.color == 1 %>
											Reclamos
										<% elsif orden_lectura.color == 2 %>
											Lectura Estimada
										<%end%>
									</td>
								</td>
									<td>
										<% if !orden_lectura.fotografium.blank? %>
											<button onclick="verFotografia('<%= orden_lectura.id%>');" type="button" class="btn-circle btn-success" style="border:none" data-toggle="tooltip" data-placement="top" title="Fotografías">
												<span class="fas fa-camera" style="color:white"></span>
											</button>
										<% else %>
											<button type="button" class="btn-circle btn-danger" disabled="disabled">
												<span class="fas fa-camera-off" style="color:white"></span>
											</button>
										<% end %>
									</td>
									<td>
										<button onclick="verUbicacion('<%= orden_lectura.id%>');" class="btn btn-info btn-circle" data-toggle="tooltip" data-placement="top" title="Ubicación Lector">
											<span class="fas fa-map-marker"></span>
										</button>
									</td>
									<td>
										<button onclick="enviarVerificacion('<%= orden_lectura.id%>');" style="border:none" type="button" class="btn btn-danger btn-circle" data-toggle="tooltip" data-placement="top" title="Verificar">
											<span class="fas fa-trash" style="color:white;"></span>
										</button>
									</td>
									<td>
										<button onclick="modificarOrden('<%= orden_lectura.id%>');" style="border:none" type="button" class="btn btn-danger btn-circle" data-toggle="tooltip" data-placement="top" title="Modificar">
											<span class="fas fa-edit" style="color:white;"></span>
										</button>
									</td>
								</tr>
							</tbody>
						<% end%>
					<%end%>
				</table>
			</div>
		</div>
	</div>
	<br>
</div>

<!-- Modal Fotografia -->
<div id="modal1">
	<div id="modalFotografia" class="modal fade" role="dialog">
		<div class="modal-dialog modal-sm">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">
						<span class="fas fa-camera"></span>
						Fotografías
					</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<%= render 'lec_operaciones/ver_fotografia' %>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Mostrar Ubicación -->
<div id="modal2">
	<div id="modalUbicacion" class="modal fade" role="dialog">
		<div class="modal-dialog modal-lg">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">
						<span class="fas fa-google-maps"></span>
						Ubicación Léctor
					</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<%= render 'lec_operaciones/ver_ubicacion' %>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Mostrar Ubicación -->
<div id="modal3">
	<div id="modalModificar" class="modal fade" role="dialog">
		<div class="modal-dialog modal-lg">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">
						<span class="fas fa-google-maps"></span>
						Modificar Lectura
					</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<%= render 'lec_operaciones/modificar_orden' %>
				</div>
			</div>
		</div>
	</div>
</div>

</div>
<div class="container">
	<%= render 'lec_mensajes_alerta/enviar_verificacion' %>
</div>
<script type="text/javascript">

// # > Mensajes de los botones
$(document).ready(function () {
	$('[data-toggle="tooltip"]').tooltip();
	$('.pagination a').attr('data-remote', 'true')
});

// # > Muestra la Ubicación del Lector
function verUbicacion(orden_id) {
	$.ajax({
		url: "<%=url_for :controller => 'lec_operaciones', :action => 'ver_ubicacion', :format => :js %>",
		data: 'orden_id=' + encodeURIComponent(orden_id),
		cache: false,
		success: function (data) {}
	})
	$('#modalUbicacion').modal();
	mapa();
}

// # > Mostrar Fotografias
function verFotografia(orden_id) {
	$.ajax({
		url: "<%=url_for :controller => 'lec_operaciones',:action => 'ver_fotografia', :format => :js %>",
		data: 'id_orden=' + encodeURIComponent(orden_id),
		cache: false,
		success: function (data) {}
	})
	$('#modalFotografia').modal();
}

// # > Mostrar Fotografias
function modificarOrden(orden_id) {
	$.ajax({
		url: "<%=url_for :controller => 'lec_operaciones',:action => 'modificar_orden', :format => :js %>",
		data: 'orden_id=' + encodeURIComponent(orden_id),
		cache: false,
		success: function (data) {}
	})
	$('#modalModificar').modal();
}

// # >  Exportar CSV
function exportarExcel() {
	var seleccion = document.getElementById("seleccion").value;
	var busqueda = document.getElementById("busqueda").value;
	url = "<%=url_for :controller => 'lec_historico_lecturas',:action => 'exportar_csv' %>",
	location.href = url + '?seleccion=' + encodeURIComponent(seleccion) + '&busqueda=' + encodeURIComponent(busqueda);
}

// # > Exportar PDF
function exportarPdf() {
	var seleccion = document.getElementById("seleccion").value;
	var busqueda = document.getElementById("busqueda").value;
	url = "<%=url_for :controller => 'lec_historico_lecturas',:action => 'exportar_pdf', :format => :js %>",
	location.href = url + '?seleccion=' + encodeURIComponent(seleccion) + '&busqueda=' + encodeURIComponent(busqueda);
}

function verUbicacionCliente(cliente) {
	$.ajax({
		url: "<%=url_for :controller => 'lec_operaciones', :action => 'ver_ubicacion_cliente', :format => :js %>",
		data: 'cliente=' + encodeURIComponent(cliente),
		cache: false,
		success: function (data) {}
	})
	$('#modalUbicacionCliente').modal();
	//mapaRecinto();
}
</script>
