<title>Histórico de Lecturas de un Cliente</title>
<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to '<i class="fas fa-home"></i>'.html_safe, { :action => "index", :controller => :dashboard }%></li>
    <li class="breadcrumb-item">Lecturas</li>
    <li class="breadcrumb-item">Análisis Online</li>
    <li class="breadcrumb-item active">Histórico de Lecturas de un Cliente</li>
  </ol>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Información!</strong> Busca todas lecturas por cliente o medidor
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
	<div class="buscador">
			<div class="row">
        <div class="col-md-2">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="Radios" id="exampleRadios1" value="1" checked>
            <label class="form-check-label">
              Número Cliente
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="Radios" id="exampleRadios2" value="2">
            <label class="form-check-label">
              Número Medidor
            </label>
          </div>
        </div>
				<div class="col-md-4">
					<label>Ingrese Nº: </label>
					<input class="form-control input-sm" type="text" id="busqueda">
				</div>
				<div class="col-md-1">
					<button type="button" class="btn-circle btn-lg" onclick="cargarOrdenes();">
						<span class="fas fa-magnify" ></span>
					</button>
				</div>
			</div>
		</div>
	</div>
<div>
	<%= render 'carga_filtro'%>
</div>
</div>


<script type="text/javascript">
	function cargarOrdenes() {
    var rates = document.getElementsByName('Radios');
    var seleccion;
    for(var i = 0; i < rates.length; i++){
      if(rates[i].checked){
        seleccion = rates[i].value;
      }
    }
    var busqueda = document.getElementById("busqueda").value;
	  $.ajax({
	  	url:"<%=url_for :controller => 'lec_historico_lecturas',:action => 'carga_filtro', :format => :js %>",
	  	data:'seleccion=' + encodeURIComponent(seleccion) + "&" +
           'busqueda=' + encodeURIComponent(busqueda),
	  	cache:false,
	    success:function (data) {}
	  })
	}

  function enviarVerificacion(orden_id){
    var analisis = 2;
    $.ajax({
      url:"<%=url_for :controller => 'lec_mensajes_alerta', :action => 'enviar_verificacion' %>",
      data:'orden_id=' + encodeURIComponent(orden_id)+ "&" +
           'analisis=' + encodeURIComponent(analisis),
      cache:false,
      success:function (data) {}
    })
  }
</script>
