<div id="carga_empleados">
	<% if !@empleados.nil?  %>
	    <%=select_tag "Empleado", options_from_collection_for_select(@empleados, "id", "nombre_completo"), :prompt=> "Seleccione" , :class => "custom-select custom-select-sm", :onchange => "carga_filtro_rsiete();"%>
	<%else%>
	  	<select name="Empleado" id="Empleado" class="custom-select custom-select-sm" ><option value="">Seleccione</option>></select>
	<%end%>
</div>