<title>Importar Ordenes Convenios</title>
<!-- # > BreadCrumb -->
<ol class="breadcrumb">
	<li class="breadcrumb-item"><%= link_to '<i class="fas fa-home"></i>'.html_safe, { :action => "index", :controller => :dashboard }%></li>
	<li class="breadcrumb-item">Cambio Medidor
	</li>
	<li class="breadcrumb-item">Importar
	</li>
	<li class="breadcrumb-item active">Importar Ordenes de Cambio de Medidor</li>
</ol>
<br>
<!-- # > Formulario Importar Lecturas -->
<%= form_tag({controller: "cm_importar_ordenes", action: "import_csv"}, {:multipart => true, :method => :post}) do %>
<div class="card">
	<div class="buscador-cambio_medidor">
		<h5>Formatos Soportados: CSV</h5><hr>
		<div class="row">
				<div class="card-body">
					<div class="custom-file">
						<%= file_field_tag :file, :class => "custom-file-input", :lang => "es"%>
					  <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
					</div>
					<hr>
					<%= button_tag(:class => "btn btn-importar float-right col-md-4") do %>
					<span class="fas fa-database"></span>
					Importar a DB
				<% end %>
			</div>
		</div>
	</div>
<%end%>
<!-- Fin Formulario -->
<br>
<%= render 'modulos_colors/cambio_medidor' %>

