<div id="filtro">
	<div class="table-responsive-sm">
		<table class="table table-sm table-hover table-striped table-bordered animated fadeIn fast">
			<thead class="color-header-cambio">
				<tr>
					<th><span class="fas fa-settings"></span></th>
					<th>Operador de Medidor</th>
					<th>Porción</th>
					<th>Unidad de Lectura</th>
					<th>Total CTE</th>
					<th>Pendientes Visita</th>
					<th>Efectivas</th>
					<th>Improcedentes</th>
					<th>Visitados</th>
					<th>% Efectividad</th>
					<th>Hora Inicio</th>
					<th>Hora Término</th>
				</tr>
			</thead>
			<tbody>
				<% if !@lista.nil?%>
					<% @lista.each do |l| %>
						<tr>
									<td>
										<button type="button" class="btn btn-info btn-circle btn-sm" onclick="mostrarModal('<%= l[10] %>', '<%=l[11]%>'); mapa();" >
											<span class="fas fa-google-maps"></span>
										</button>
									</td>
									<td><b><%= l[0]%></b></td>
									<td><b><%= l[1]%></b></td>
									<td><b><%= l[2]%></b></td>
									<td><span class="badge badge-info"><%= l[3] %></span></td>
									<td><span class="badge badge-success"><%= l[4] %></span></td>
									<td><span class="badge badge-danger"><%= l[5] %></span></td>
									<td><span class="badge badge-info"><%= l[6] %></span></td>
									<td><span class="badge badge-warning"><%= l[7] %> %</span></td>
									<td style="font-size:16px !important"><%= l[8] %> </td>
									<td style="font-size:16px !important"><%= l[9] %> </td>
								</tr>
						<% end %>
					<%end%>
						</tbody>
				</table>
			</div>
			<div class="row h-100 justify-content-center align-items-center">
				<% if !@lista.nil?%>
					<%= will_paginate @lista %> <br>
				<% end %>
			</div>
		</div>
	</div>
</div>
<!-- Modal Mostrar Ubicación -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
			<div class="modal-header-reparto">
        <h5 class="modal-title" id="exampleModalLongTitle"> <span class="fas fa-google-maps"></span> Recorrido Repartidor </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'carga_ubicacion' %>
      </div>
   </div>
 </div>
</div>


<script type="text/javascript">
  <%# muestra modal con mapa de las ubicaciones del lector %>
  function mostrarModal(x,y){
      var ruta_id = x
      var emp_id = y
    $.ajax({url:"<%=url_for :controller => 'rep_monitor_repartidores',:action => 'carga_ubicacion' %>",
            data:'ruta_id=' + encodeURIComponent(ruta_id) + "&" + 'emp_id=' + encodeURIComponent(emp_id),

            cache:false,
            success:function (data) {}})
    $('#myModal').modal();
    mapa();
  }
</script>
