<div id="carga_filtro">
			<div class="table-responsive-sm">
      	<table class="table table-striped table-hover table-sm table-bordered animated fadeIn fast">
        	<thead class="color-header-reparto">
            <tr>
            	<th>Porción</th>
              <th>Unidad de Lectura</th>
              <th style="width:30%">Lector</th>
              <th style="width:10%">CTE Asignados</th>
              <th>CTE Pendientes</th>
            	<th style="width:10%">Hora Comienzo</th>
            	<th style="width:10%">Hora Termino</th>
              <th style="width:10%">Total Horas</th>
            </tr>
          </thead>
          <tbody>
          	<% if !@lista.nil? %>
              <% @lista.each do |l| %>
                <tr>
                  <td><b><%= l[0]%></b></td>
                  <td><b><%= l[2]%></b></td>
                  <td><b><%= l[1]%></b></td>
                  <td><b><%= l[3]%></b></<b>
                  <td><b><%= l[4]%></b></td>
                  <td><b><%= l[5]%></b></td>
                  <td><b><%= l[6]%></b></td>
                  <td><b><%= l[7]%></b></td>
                </tr>
                <%end%>
            <% end %>
          </tbody>
        </table>
      </div>
      <div id="will_paginate_id" class="row h-100 justify-content-center align-items-center">
				<% if !@lista.nil?%>
					<%= will_paginate @lista %> <br>
				<% end %>
			</div>
</div>


<script type="text/javascript">
	$(function () {
		$('.pagination a').attr('data-remote', 'true')
	});
</script>
