<title>Control de Horas en Terreno Repartidor</title>
<div class="container-fluid">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><%= link_to '<i class="fas fa-home"></i>'.html_safe, { :action => "index", :controller => :dashboard }%></li>
		<li class="breadcrumb-item">Lectura</li>
		<li class="breadcrumb-item">Reportes</li>
		<li class="breadcrumb-item active">Control de Horas en Terreno Repartidor</li>
	</ol>
</div><br>
<div class="buscador-repartos">
	<div class="row">
		<div class="col-md-2">
			<label>Región</label>
			<%=select_tag "region", options_from_collection_for_select(@regiones, "id", "nombre"), :prompt=> "Seleccionar", :class => "custom-select custom-select-sm" , :onchange => 'cargarZonas();'%>
		</div>
		<div class="col-md-2">
			<label for="">Zonal:</label>
			<%= render 'rep_reporte_control_coordenadas/carga_zonas' %>
		</div>
		<div class="col-md-1">
			<label for="">Mes:</label><br>
			<%= select_month(Date.today, {use_month_names: %w(Enero Febrero Marzo Abril Mayo Junio Julio Agosto Septiembre Octubre Noviembre Diciembre)},{:class => "custom-select custom-select-sm",:onchange => "cargarPorciones();"})%>
		</div>
		<div class="col-md-1">
			<label for="">Año:</label><br>
			<%= select_year(2020,{start_year: 2020, end_year: 2040},{ :class => "custom-select custom-select-sm",:onchange => "cargarPorciones();"})%>
		</div>
		<div class="col-md-2">
			<label for="">Porción:</label>
			<%= render 'rep_reporte_control_coordenadas/carga_porciones' %>
		</div>

		<div class="col-md-1">
			<button class="btn-circle btn-lg" onclick="cargarOrdenes();">
				<span class="fas fa-magnify"></span></button>
		</div>
	</div>
</div>
<br>
<!-- # > Botones e Información -->
<div class="row">
	<div class="col-md-6 div-padding"></div>
	<div class="col-md-6">
		<b>Exportar:</b><br>
		<button onclick="exportarCsv();" class="btn btn-csv btn-sm" disabled>
			<span class="fas fa-file-excel"></span>CSV</button>
	</div>
</div><br>
<div class="container-fluid">
	<%= render 'carga_filtro' %>
</div>
</div>

<script type="text/javascript">

function cargarOrdenes() {
	var porcion = document.getElementById("porcion").value;
	$.ajax({
		url: "<%=url_for :controller => 'rep_reporte_control_horario',:action => 'carga_filtro' %>",
		data: 'porcion=' + encodeURIComponent(porcion),
		cache: false,
		success: function (data) {}
	})
}

// # Filtro Zonas
function cargarZonas() {
	/*Carga las porciones disponibles de una zona */
	var region = document.getElementById("region").value;
	$.ajax({
		url: "<%=url_for :controller => 'rep_reporte_control_coordenadas',:action => 'carga_zonas' %>",
		data: 'region=' + encodeURIComponent(region),
		cache: false,
		success: function (data) {}
	})
}
$(document).ready(function () {
	$('.bg-light').css(
		{'cssText': ' background: #3388c6; background: -moz-linear-gradient(45deg, #fe5000 0%, #ed8b00 100%);background: -webkit-linear-gradient(45deg, #3388c6 0%, #a1c056 100%);background: linear-gradient(45deg, #3388c6 0%, #a1c056 100%);'}
	);
});
</script>
