<div id="carga_ordenes">
  <% if !@ordenes.blank? %>
    <div class="row">
      <div class="col-md-6 div-padding">
        <b>Totales:</b><br>
        <ul>
          <li>Ordenes: <%= @ordenes.count %></li>
        </ul>
      </div>
      <div class="col-md-6">
        <b>Exportar:</b><br>
        <button onclick="exportarCsv()" class="btn btn-descargas btn-sm" disabled>
          <span class="fas fa-file-excel"></span>CSV</button>
        <button onclick="exportarPdf()" class="btn btn-descargas btn-sm" disabled>
          <span class="fas fa-file-excel"></span>PDF</button>
      </div>
    </div><br>
  <% end %>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header"><span class="fas fa-table-large"></span> <b>Listado de Ordenes</b></div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped table-hover table-sm table-bordered animated fadeIn fast">
            <thead>
              <tr>
              <th colspan="3"><span class="fas fa-settings"></span> Operaciones</th>
              <th>Número Cliente</th>
              <th>Número Medidor</th>
              <th>U.L</th>
              <th>Promedio</th>
              <th>Lect. Anterior</th>
              <th>Lect. Activa</th>
              <th>Consumo</th>
              <th>Lect. MIN Esperada</th>
              <th>Lect. MAX Esperada</th>
              <th>Tarifa</th>
              <th>Clave Lectura</th>
              <th>Lector</th>
              <th>Fecha</th>
            </tr>
            </thead>
            <% if !@ordenes.blank? %>
            <tbody>
              <% @ordenes.each do |orden_lectura| %>
                  <tr>
                    <td>
                      <button onclick="aprobarOrden('<%= orden_lectura.id%>');" style="background-color: #28a744; border: none;" type="button" class="btn btn-success btn-sm" style="border:none" data-toggle="tooltip" data-placement="top" title="Aprobar">
                        <span class="fas fa-check-square" style="color:white"></span>
                      </button>
                    </td>
                    <td>
                      <button onclick="modificarLectura('<%= orden_lectura.id%>');" type="button" class="btn btn-success btn-sm" style="border:none" data-toggle="tooltip" data-placement="top" title="Modificar Lectura">
                        <span class="fas fa-edit" style="color:white"></span>
                      </button>
                    </td>
                    <td>
                      <button onclick="enviarVerificacion('<%= orden_lectura.id%>');" type="button" class="btn btn-danger btn-sm" style="border:none" data-toggle="tooltip" data-placement="top" title="Verificar">
                         <span class="fas fa-trash" style="color:white;"></span>
                      </button>
                    </td>
                    <td class="text-azul"><%= orden_lectura.cliente.numero_cliente%></td>
                    <td class="text-orange"><%= orden_lectura.medidor.numero_medidor%></td>
                    <td><%= orden_lectura.rutum.nombre%></td>
                    <td><%= orden_lectura.detalle_orden_lectura.first.lectura_promedio %></td>
                    <td><%= orden_lectura.detalle_orden_lectura.first.lectura_anterior %></td>
                    <td><input class="form-control input-sm" type="number" id="lectura" value="<%= orden_lectura.detalle_orden_lectura.first.lectura_activa %>"></td>
                    <% if orden_lectura.detalle_orden_lectura.first.consumo < 0 %>
                      <td><span class="badge badge-primary"><%= orden_lectura.detalle_orden_lectura.first.consumo %></span></td>
                    <% else %>
                      <td><span class="badge badge-info"><%= orden_lectura.detalle_orden_lectura.first.consumo %></span></td>
                    <% end %>
                    <td><%= orden_lectura.detalle_orden_lectura.first.rango_inferior %></td>
                    <td><%= orden_lectura.detalle_orden_lectura.first.rango_superior %></td>
                    <td><%= orden_lectura.factor_cobro.descripcion %></td>
                    <td><%= orden_lectura.detalle_orden_lectura.first.clave_lectura.nombre%></td>
                    <td><%= orden_lectura.asignacion.empleado.nombre_completo%></td>
                    <% if !orden_lectura.detalle_orden_lectura.first.fecha_ejecucion.nil? %>
                      <td><%= orden_lectura.detalle_orden_lectura.first.fecha_ejecucion.strftime('%e/%m/%Y %I:%M:%S %p') %></td>
                    <% else %>
                      <td></td>
                    <% end %>
                  </tr>
              <% end%>
            <%else %>
              <tr>
                <center>
                  <td colspan="17" style="color: red"><h5>NO SE ENCONTRARON ORDENES DE LECTURA</h5></td>
                </center>
              </tr>
            </tbody>
          <%end%>
          </table>
        </div>
      </div>
      <div class="row h-100 justify-content-center align-items-center">
        <% if !@ordenes.nil?%>
          <%= will_paginate @ordenes %> <br>
        <% end %>
      </div>
      <br>
    </div>
  </div>
</div>
<!--  -->


<div class="container">
  <%= render 'lec_mensajes_alerta/aprobar_orden' %>
</div>

<div class="container">
  <%= render 'lec_mensajes_alerta/modificar_lectura' %>
</div>

<div class="container">
  <%= render 'lec_mensajes_alerta/enviar_verificacion' %>
</div>



<script type="text/javascript">

  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });

  function modificarLectura(orden_id){
    var lectura = document.getElementById("lectura").value;
    var analisis = 1;
    $.ajax({
      url:"<%=url_for :controller => 'lec_mensajes_alerta', :action => 'modificar_lectura' %>",
      data:'orden_id=' + encodeURIComponent(orden_id)+ "&" +
           'analisis=' + encodeURIComponent(analisis)+ "&" +
           'lectura=' + encodeURIComponent(lectura),
      cache:false,
      success:function (data) {}
    })
  }

  function enviarVerificacion(orden_id){
    var analisis = 1;
    $.ajax({
      url:"<%=url_for :controller => 'lec_mensajes_alerta', :action => 'enviar_verificacion' %>",
      data:'orden_id=' + encodeURIComponent(orden_id)+ "&" +
           'analisis=' + encodeURIComponent(analisis),
      cache:false,
      success:function (data) {}
    })
  }

  function aprobarOrden(orden_id){
    var analisis = 1;
    $.ajax({
	    url:"<%=url_for :controller => 'lec_mensajes_alerta',:action => 'aprobar_orden' %>",
	    data:'orden_id=' + encodeURIComponent(orden_id) + "&" +
           'analisis=' + encodeURIComponent(analisis),
	    cache:false,
	    success:function (data) {}
	  })
	}

</script>
