<title>Servicios Verificados</title>
<div class="container-fluid">
  <div class="card">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to '<i class="fas fa-home"></i>'.html_safe, { :action => "index", :controller => :dashboard }%></span></li>
      <li class="breadcrumb-item">Análisis Online</li>
      <li class="breadcrumb-item active">Servicios Verificados</li>
    </ol>
  </div>
  <br>
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    <strong>Información!</strong> Clientes enviados a verificación en estado leído
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card">
    <div class="card-header"><b>Buscador</b> <span class="fas fa-magnify"></span></div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-2">
              <label>Región:</label><br>
              <%= render 'filtros/carga_regiones' %>
            </div>
            <div class="col-md-2">
              <label>Zonal:</label><br>
              <%= render 'filtros/carga_zonas' %>
            </div>
            <div class="col-md-2">
              <label>Porción:</label><br>
              <%= render 'filtros/carga_porciones' %>
            </div>
            <div class="col-md-2">
              <label>Unidad de lectura:</label>
              <%= render 'filtros/carga_rutas' %>
            </div>
            <div class="col-md-2">
              <label>Lector:</label>
              <%= render 'filtros/carga_lectores' %>
            </div>

          </div>
        </div>
      </div>
		</div>
	</div>
</div>
<br>
<div>
  <%= render 'carga_ordenes' %>
</div>

<script>
  function cargarOrdenes(){
    var region = document.getElementById("region").value;
    var zona = document.getElementById("zona").value;
    var porcion = document.getElementById("porcion").value;
    var ruta = document.getElementById("ruta").value;
    var lector = document.getElementById("lector").value;

    $.ajax({
      url:"<%=url_for :controller => 'servicios_verificados',:action => 'carga_ordenes' %>",
      data:'region='+ encodeURIComponent(region) + "&" +
           'zona=' + encodeURIComponent(zona) + "&" +
           'porcion=' + encodeURIComponent(porcion) + "&" +
           'ruta=' + encodeURIComponent(ruta)+ "&" +
           'lector=' + encodeURIComponent(lector),
      cache:false,
      success:function (data) {}
    })
  }
</script>
