<div id="porciones">
<% if !@porciones.nil?  %>
    <%=select_tag "porcion", options_from_collection_for_select(@porciones, "id", "codigo"), :prompt=> "Todos" ,  :onchange => 'cargarRutas();', :class => "custom-select custom-select-sm"%>
<%else%>
    <select id="porcion" onchange="cargar_filtros();"  class="custom-select custom-select-sm"><option value="">Todos</option>></select>
<%end%>
</div>
