<title>Monitoreo de Repartidores en Terreno</title>
	<ol class="breadcrumb">
	  <li class="breadcrumb-item"><%= link_to '<i class="fas fa-home"></i>'.html_safe, { :action => "index", :controller => :dashboard }%></span></li>
		  <li class="breadcrumb-item">Repartos </li>
			<li class="breadcrumb-item">Operaciones </li>
			<li class="breadcrumb-item active">Monitoreo de Repartidores en Terreno</li>
		</ol>
  <br>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
  	<span class="fas fa-info-circle"></span>
  	<strong>Información! </strong> Recorrido de Repartidor en terreno, muestra ubicación GPS.
  	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    	<span aria-hidden="true">&times;</span>
  	</button>
	</div>
	<div class="buscador-repartos">
			<div class="row">
				<div class="col-md-2">
          <span class="fas fa-google-maps"></span><label>Regiones:</label><br>
            <%=select_tag "region", options_from_collection_for_select(@regiones, "id", "nombre"), :onchange => "cargarZonas();", :prompt=> "Seleccione", :class =>"custom-select custom-select-sm"%>
          <br>
        </div>
        <div class="col-md-2">
          <span class="fas fa-city"></span ><label>Zonal:</label><br>
          <%= render 'carga_zonas'%>
        </div>
        <div class="col-md-2">
          <span class="fas fa-chart-pie"></span> <label>Porción:</label><br>
          <%= render 'carga_porciones'%>
        </div>
        <div class="col-md-1">
          <button type="button" class="btn-buscar btn-circle btn-lg" onclick="cargaOrdenes();"><span class="fas fa-magnify"></span></button>
        </div>
      </div>
    </div>
<br>

	<div class="container-fluid">
		<%= render 'carga_filtro'%>
	</div>

<!--
  # Funciones JS
-->
<script type="text/javascript">
  // # Monitor lectores
  // # Muestra Tabla contenido
  function cargaOrdenes() {
    var zona = document.getElementById("zona").value;
    var porcion = document.getElementById("porcion").value;
    $.ajax({
      url: "<%=url_for :controller => 'rep_monitor_repartidores',:action => 'carga_filtro' %>",
      data:'zona=' + encodeURIComponent(zona) +  "&" +
           'porcion=' + encodeURIComponent(porcion),
      cache: false,
      success: function(data) {}
      })
  }

  // # Filtro
  // # Muestra Todas las Zonas
  function cargarZonas(){
    var region= document.getElementById("region").value;
    $.ajax({
      url: "<%=url_for :controller => 'rep_monitor_repartidores',:action => 'carga_zonas' %>",
      data: 'region=' + encodeURIComponent(region),
      cache: false,
      success: function(data) {}
    })
  }
  $( document ).ready(function() {
		$('.bg-light').css({
      'cssText': ' background: #3388c6; background: -moz-linear-gradient(45deg, #fe5000 0%, #ed8b00 100%);background: -webkit-linear-gradient(45deg, #3388c6 0%, #a1c056 100%);background: linear-gradient(45deg, #3388c6 0%, #a1c056 100%);'
    });
	});
</script>
