<title>Coordenadas GPS</title>
<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to '<i class="fas fa-home"></i>'.html_safe, { :action => "index", :controller => :dashboard }%></span></li>
    <li class="breadcrumb-item">Convenios</li>
    <li class="breadcrumb-item">Reportes </li>
    <li class="breadcrumb-item active">Coordenadas GPS</li>
  </ol>
  <br>
  <div class="buscador-convenios">
    <div class="row">
      <div class="col-md-2">
        <span class="fas fa-google-maps"></span><label>Regiones:</label><br>
        <%=select_tag "region", options_from_collection_for_select(@regiones, "id", "nombre"), :onchange => "cargarZonas();", :prompt=> "Seleccione", :class =>"custom-select custom-select-sm"%>
      </div>
      <div class="col-md-2">
        <span class="fas fa-city"></span>
        <label>Zonal:</label>
        <select name="select" class="custom-select custom-select-sm">
          <option value="value1">Todos</option>
        </select>
      </div>
      <div class="col-md-2">
        <span class="fas fa-chart-pie"></span>
        <label>Porción:</label>
        <select name="select" class="custom-select custom-select-sm">
          <option value="value1">Todos</option>
        </select>
      </div>
      <div class="col-md-2">
        <span class="fas fa-calendar-alt"></span>
        <label>Proceso:</label>
        <select name="select" class="custom-select custom-select-sm">
          <option value="value1">Todos</option>
        </select>
      </div>
      <div class="col-md-2">
        <span class="fas fa-calendar-alt"></span>
        <label>Técnico:</label>
        <select name="select" class="custom-select custom-select-sm">
          <option value="value1">Todos</option>
        </select>
      </div>
      <div class="col-md-1">
        <button type="button" class="btn-circle btn-lg" onclick="cargarRutas();">
          <span class="fas fa-search "></span>
        </button>
      </div>
    </div>
  </div>
  <!-- Agregar carga filtro -->
  <div>
    <%= render 'carga_filtro' %>
  </div>
</div>
<%= render 'modulos_colors/convenios' %>
