<div id="filtro">
  <div class="card">
    <div class="card-header">
      <b>Listado de Clientes</b> <span class="fas fa-format-list-bulleted"></span>
    </div>
    <div class="card-body">
      <div class="table-responsive-sm">
        <table class="table table-sm table-hover table-striped table-bordered">
          <thead>
          <tr>
            <th>Fecha Asignación</th>
            <th>Lector</th>
            <th>Tipo Lectura</th>
            <th>Ruta</th>
            <th>Comuna</th>
            <th>Nº Cliente</th>
            <th>Cliente</th>
            <th>Dirección</th>
            <th>Nº Instalación</th>
            <th>Nº Medidor</th>
            <th>Tarifa</th>
            <th>Observación Verificación</th>
          </tr>
          </thead>
          <tbody>
          <% if !@ordenes.nil?%>
            <% @ordenes.each do |o| %>
              <% if o.orden_lectura.tipo_lectura.id == 2 %>
                <tr class="danger">
              <%else%>
                <tr>
              <%end%>
              <%if !o.orden_lectura.fecha_asignacion.blank? %>
                <td><b><%= o.orden_lectura.fecha_asignacion.strftime("%d/%m/%Y  %H:%M:%S") %></b></td>
              <% else %>
                <td></td>
              <%end%>
              <td><%=o.empleado.nombre_completo%></td>
              <td><b><%= o.orden_lectura.tipo_lectura.nombre %> </b></td>
              <td><%= o.orden_lectura.rutum.codigo_nombre %></td>
              <td><%= o.orden_lectura.comuna.nombre%></td>
              <td><b><%= o.orden_lectura.cliente.numero_cliente%></b></td>
              <td><%= o.orden_lectura.cliente.nombre %></td>
              <td><%= o.orden_lectura.direccion %></td>
              <td><b><%= o.orden_lectura.instalacion.codigo %></b></td>
              <td><b><%= o.orden_lectura.medidor.numero_medidor %></b></td>
              <td><b><%= o.orden_lectura.factor_cobro.nombre %></b></td>

              <td>
                <% if o.orden_lectura.modulo_analisis == 1 %>
                  <span class="badge badge-success">Consumo Cero</span>
                <% end %>
                <% if o.orden_lectura.modulo_analisis == 2 %>
                  <span class="badge badge-danger">Consumo Mínimo</span>
                <% end %>
                <% if o.orden_lectura.modulo_analisis == 3 %>
                <span class="badge badge-danger">Consumo Máximo</span>
              <% end %>
              <% if o.orden_lectura.modulo_analisis == 4 %>
              <span class="badge badge-danger">Improcedencia</span>
            <% end %>
              </td>
              </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>
      </div>
      <!-- Paginación -->
      <div class="align-items-center">
        <% if !@ordenes.nil?%>
          <%= will_paginate @ordenes, list_classes: %w(pagination align-center) %>
        <% end %>
      </div>
    </div>
  </div>
</div>