<title>Clientes Pendientes de Verificación</title>
<div class="container">
  <div class="card">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to '<i class="fas fa-home"></i>'.html_safe, { :action => "index", :controller => :dashboard }%></span></li>
      <li class="breadcrumb-item">Lectura </li>
      <li class="breadcrumb-item">Análisis Online </li>
      <li class="breadcrumb-item active">Clientes Pendientes de Verificación</li>
    </ol>
  </div>
  <br>
   <div class="card">
     <div class="card-header"><b>Buscador</b> <span class="fas fa-magnify"></span> </div>
     <div class="card-body">
       <div class="row">
         <div class="col-md-3">
            <label>Zonal:</label><br>
            <%=select_tag "Zona", options_from_collection_for_select(@zonas, "id", "nombre"),:onchange => "mostrarPorciones();", :prompt=> "Seleccione", :class =>"custom-select custom-select-sm"%>
         </div>
         <div class="col-md-4">
           <div class="form-check">
             <input class="form-check-input" type="radio" name="Radios" id="exampleRadios1" value="1" checked>
             <label class="form-check-label">
               Todos
             </label>
           </div>
           <div class="form-check">
             <input class="form-check-input" type="radio" name="Radios" id="exampleRadios2" value="2">
             <label class="form-check-label">
               Clientes Dudosos
             </label>
           </div>
           <div class="form-check">
             <input class="form-check-input" type="radio" name="Radios" id="exampleRadios2" value="3">
             <label class="form-check-label">
               Clientes Improcedentes
             </label>
           </div>
         </div>
         <div class="col-md-3">
           <button onclick="mostrarFiltro();" class="btn btn-success">
             <span class="fas fa-magnify"></span>
           </button>
         </div>
       </div>
     </div>
   </div>
  <br>
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6 div-padding">
      <b>Exportar:</b><br>
      <button class="btn btn-descargas btn-sm" onclick="exportarCsv();">
        <span class="fas fa-file-excel"></span>CSV</button>
      <button class="btn btn-descargas btn-sm" onclick="exportarPdf();">
        <span class="fas fa-file-excel"></span>PDF
      </button>
    </div>
  </div>
  <br>
  <%= render "carga_filtro" %>
</div>

<script>
  //Carga el contenido de la tabla de resultados
  function mostrarFiltro(){
    //Rescato variables para enviar al controlador
    var rates = document.getElementsByName('Radios');
    var seleccion;
    var zona = document.getElementById("Zona").value;
    for(var i = 0; i < rates.length; i++){
      if(rates[i].checked){
        seleccion = rates[i].value;
      }
    }
    //Envio las variables al controlador
    $.ajax({
      url:"<%=url_for :controller => 'lec_clientes_repaso',:action => 'carga_filtro' %>",
      data:'seleccion=' + encodeURIComponent(seleccion) +
           '&zona=' + encodeURIComponent(zona),
      cache:false,
      success:function (data) {}
    })
  }
  //tooltip mensajes en los botones
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
