<title>Importar Despachos Postales</title>
	<!-- # > BreadCrumb -->
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><%= link_to '<i class="fas fa-home"></i>'.html_safe, { :action => "index", :controller => :dashboard }%></li>
				<li class="breadcrumb-item">Lecturas </li>
				<li class="breadcrumb-item">Operaciones</li>
				<li class="breadcrumb-item active">Importar Despachos Postales</li>
			</ol>
		<br>
	<!-- # > Formulario Importar Lecturas -->
	<%= form_tag({controller: "lec_importar_despachos_postales", action: "import_csv"}, {:multipart => true, :method => :post}) do %>
		<div class="card">
      <div class="card-header buscador">Agregar Despachos <span class="fas fa-file-plus"> </span></div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-7">
						<div class="card">
							<div class="card-header buscador">
								Formatos soportados <b>CSV</b>
							</div>
							<div class="card-body">
								<%= file_field_tag :file, class: 'form-control-file'%>
								<br>
								<%= button_tag(:class => "btn btn-success float-right col-md-4") do %>
									<span class="fas fa-database"></span>
									Importar a DB
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<%end%> <!-- Fin Formulario -->
<br>

<!-- # > Funciones JS  -->
<script>

	function comprueba_extension(formulario, archivo) {
		extensiones_permitidas = new Array(".gif", ".jpg", ".doc", ".pdf");
		mierror = "";
		if (!archivo) {
				//Si no tengo archivo, es que no se ha seleccionado un archivo en el formulario
					mierror = "No has seleccionado ningún archivo";
		}else{
				//recupero la extensión de este nombre de archivo
				extension = (archivo.substring(archivo.lastIndexOf("."))).toLowerCase();
				//alert (extension);
				//compruebo si la extensión está entre las permitidas
				permitida = false;
				for (var i = 0; i < extensiones_permitidas.length; i++) {
					if (extensiones_permitidas[i] == extension) {
					permitida = true;
					break;
					}
				}
				if (!permitida) {
					mierror = "Comprueba la extensión de los archivos a subir. \nSólo se pueden subir archivos con extensiones: " + extensiones_permitidas.join();
					}else{
						//submito!
					alert ("Todo correcto. Voy a submitir el formulario.");
					formulario.submit();
					return 1;
					}
		}
		//si estoy aqui es que no se ha podido submitir
		alert (mierror);
		return 0;
	}
	$( document ).ready(function() {
		$('.bg-light').css({
      	'cssText': 'background-color: #fa5000 !important; color: white;'
    });
	});
</script>
