<title>Monitoreo de Lectores en Terreno</title>
	<ol class="breadcrumb">
	  <li class="breadcrumb-item"><%= link_to '<i class="fas fa-home"></i>'.html_safe, { :action => "index", :controller => :dashboard }%></span></li>
		  <li class="breadcrumb-item">Lectura </li>
			<li class="breadcrumb-item">Operaciones </li>
			<li class="breadcrumb-item active">Monitoreo de Lectores en Terreno</li>
		</ol>
  <br>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
  	<span class="fas fa-info-circle"></span>
  	<strong>Información! </strong> Recorrido de Lector en terreno, muestra ubicación GPS.
  	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    	<span aria-hidden="true">&times;</span>
  	</button>
	</div>
	<div class="buscador">
			<div class="row">
				<div class="col-md-2">
          <span class="fas fa-globe-americas"></span> <label>Región</label><br>
            <%=select_tag "region", options_from_collection_for_select(@regiones, "id", "nombre"), :onchange => "cargarZonas();", :prompt=> "Seleccione", :class =>"custom-select custom-select-sm"%>
          <br>
        </div>
        <div class="col-md-2">
          <span class="fas fa-city"></span> <label>Zonal</label><br>
          <%= render 'carga_zonas'%>
        </div>
        <div class="col-md-1">
        <span class="fas fa-calendar"></span> <label for="">Mes</label><br>
					<%= select_month(Time.now.month, {use_month_names: %w(Enero Febrero Marzo Abril Mayo Junio Julio Agosto Septiembre Octubre Noviembre Diciembre)},{:class => "custom-select custom-select-sm",:onchange => "cargarPorciones();"})%>
				</div>
				<div class="col-md-1">
        <span class="fas fa-calendar"></span> <label for="">Año</label><br>
					<%= select_year(Time.now.year,{start_year: 2020, end_year: 2040},{ :class => "custom-select custom-select-sm",:onchange => "cargarPorciones();"})%>
				</div>
        <div class="col-md-2">
          <span class="fas fa-chart-pie"></span> <label>Porción</label><br>
          <%= render 'carga_porciones'%>
        </div>
        <div class="col-md-2">
          <span class="fas fa-exchange-alt"></span> <label>Proceso</label><br>
            <%=select_tag "tipo_lectura", options_from_collection_for_select(@tipoLecturas, "id", "nombre"), :onchange => "cargaOrdenes();", :class =>"custom-select custom-select-sm"%>
          <br>
        </div>
        <div class="col-md-1">
          <button type="button" class="btn-buscar btn-circle btn-lg" onclick="cargaOrdenes();"><span class="fas fa-search"></span></button>
        </div>
      </div>
    </div>
<br>

	<div id="lec_monitor_lectores">
  <div class="ldld full"></div>
		<%= render 'carga_filtro'%>
	</div>

<script type="text/javascript">
  function cargaOrdenes() {
    var region_id = document.getElementById("region").value;
    var zona = document.getElementById("zona").value;
    var porcion = document.getElementById("porcion").value;
    var tipo_lectura = document.getElementById("tipo_lectura").value;
    var ano = document.getElementById("date_year").value;
		var mes = document.getElementById("date_month").value;
    $.ajax({
      url: "<%=url_for :controller => 'lec_monitor_lectores',:action => 'carga_filtro' %>",
      data:'zona=' + encodeURIComponent(zona) +  "&" +
           '&tipo_lectura=' + encodeURIComponent(tipo_lectura) +
           '&region_id=' + encodeURIComponent(region_id) +
           '&porcion=' + encodeURIComponent(porcion) +
           '&mes=' + encodeURIComponent(mes) +
           '&ano=' + encodeURIComponent(ano),
      cache: false,
      success: function(data) {}
      })
      (new ldLoader({root: ".ldld.full"})).on();

    
    
    
	// $('#lec_monitor_lectores').append('<div class="d-flex justify-content-center"><div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div></div>');
  }

  function cargarZonas(){
    var region= document.getElementById("region").value;
    $.ajax({
      url: "<%=url_for :controller => 'lec_monitor_lectores',:action => 'carga_zonas' %>",
      data: 'region=' + encodeURIComponent(region),
      cache: false,
      success: function(data) {}
    })
  }
  $( document ).ready(function() {
		$('.bg-light').css({
      	'cssText': 'background-color: #fa5000 !important; color: white;'
    });
	});
</script>
