.btn-buscar {
  color: #000000;
  background-color:#ffffff;
  border-color: #ffffff;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 22px;
  line-height: 1.33;
  border-radius: 25px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 4px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
  border: none;
}
.btn-circle.disabled {
  color: #999999;
}
.btn-importar{
  color: #090909;
  background-color: #fff !important;
}

.btn-activar{
  color: #ffffff;
  background-color: #1D2326 !important;
}
.btn-editar{
  color: #ffffff;
  background-color: #FF9800 !important;
}
.btn-eliminar{
  color: #ffffff;
  background-color: #FF2019 !important;
}
.btn-reparto{
  color: #ffffff;
  background-color: #4290b7 !important;
}
.badge-reparto{
  color: #ffffff;
  background-color: #4290b7 !important;
  width: 50% !important;
}
