.color-header-corte-reposicion{
  color: white !important;
  -ms-flex: 1 1 auto;
  border-radius: 10px;
  background: linear-gradient(45deg, #ffd13c 0%, #a8832c 100%);
  flex: 1 1 auto;
  padding: 1.25rem;
}
