.buscador{
  color: white !important;
  -ms-flex: 1 1 auto;
  border-radius: 10px;
  background: #fe5000;
  background: -moz-linear-gradient(45deg,#fe5000 0%,#ed8b00 100%);
  background: -webkit-linear-gradient(45deg,#fe5000 0%,#ed8b00 100%);
  background: linear-gradient(45deg,#fe5000 0%,#ed8b00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe5000',endColorstr='#ed8b00',GradientType=1 );  flex: 1 1 auto;
  padding: 1.25rem;;
}

.buscador-repartos {
  color: white !important;
  -ms-flex: 1 1 auto;
  border-radius: 10px;
  background: #3388c6;
  background: -moz-linear-gradient(45deg, #fe5000 0%, #ed8b00 100%);
  background: -webkit-linear-gradient(45deg, #3388c6 0%, #a1c056 100%);
  background: linear-gradient(45deg, #3388c6 0%, #a1c056 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe5000',endColorstr='#ed8b00',GradientType=1 );
  flex: 1 1 auto;
  padding: 1.25rem;
}

.buscador-corte-reposicion {
  color: white !important;
  -ms-flex: 1 1 auto;
  border-radius: 10px;
  background: linear-gradient(45deg, rgb(255, 209, 60) 0%, rgb(168, 131, 44) 100%);
  flex: 1 1 auto;
  padding: 1.25rem;
}

.buscador-cambio_medidor {
  color: white !important;
  -ms-flex: 1 1 auto;
  border-radius: 10px;
  background: linear-gradient(45deg, rgb(152, 225, 125) 0%, rgb(44, 168, 92) 100%);
  flex: 1 1 auto;
  padding: 1.25rem;
}

.buscador-gas_inicial {
  color: white !important;
  -ms-flex: 1 1 auto;
  border-radius: 10px;
  background: linear-gradient(45deg, rgb(225, 125, 125) 0%, rgb(168, 67, 44) 100%);
  flex: 1 1 auto;
  padding: 1.25rem;
}



.color-header-reparto{
  background: #3388c6;
  background: -moz-linear-gradient(45deg, #fe5000 0%, #ed8b00 100%);
  background: -webkit-linear-gradient(45deg, #3388c6 0%, #a1c056 100%);
  background: linear-gradient(45deg, #3388c6 0%, #a1c056 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe5000',endColorstr='#ed8b00',GradientType=1 );
}

.color-header-cambio{
  background: linear-gradient(45deg, #93de7c 0%, #43b463 100%);
}