<div id="carga_ordenes">
  <div class="table-responsive-sm">
    <table class="table table-striped table-hover table-sm table-bordered animated fadeIn fast">
      <thead class="color-header-reparto">
        <tr>
          <th>Comuna</th>
          <th>Operador Medidor</th>
          <th>Unidad Reparto</th>
          <th>Instalación</th>
          <th>Cliente</th>
          <th>Medidor</th>
          <th style="width:15%">Dirección</th>
          <th>Fecha Lectura</th>
          <th>Hora Visita</th>
          <th>Latitud</th>
          <th>Longitud</th>
          <th>
            <span class="fas fa-map-marker"></span></th>
        </tr>
      </thead>
      <tbody>
        <% if !@listaOrdenes.nil? %>
          <% @listaOrdenes.each do |orden| %>
            <tr>
              <td><%= orden.comuna.nombre%></td>
              <td><%= orden.asignacion_reparto.empleado.nombre_completo%></td>
              <td><%= orden.ruta_reparto.codigo%></td>
              <td><%= orden.instalacion.codigo%></td>
              <td><%= orden.cliente.numero_cliente%></td>
              <td><%= orden.medidor.numero_medidor%></td>
              <td><%= orden.domicilio%></td>
              <td><%= orden.fecha_ejecucion.strftime("%d/%m/%Y")%></td>
              <td><%= orden.fecha_ejecucion.strftime("%H:%M:%S")%></td>
              <td><%= orden.gps_latitud%></td>
              <td><%= orden.gps_longitud%></td>
              <td>
                <button onclick="verUbicacion('<%= orden.id%>');" class="btn btn-info btn-circle" data-toggle="tooltip" data-placement="top" title="Ubicación Lector">
                  <span class="fas fa-map-marker"></span>
                </button>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <div class="row h-100">
      <% if !@listaOrdenes.nil?%>
        <%= will_paginate @listaOrdenes, {:class => "page-link-reparto"} %>
      <% end %>
    </div>
  </div>
  <br>
</div>

<script>
  $(function () {
    $('.pagination a').attr('data-remote', 'true')
  });
</script>
