<title>Visualización de Entregas</title>
<div class="container-fluid">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><%= link_to '<i class="fas fa-home"></i>'.html_safe, { :action => "index", :controller => :dashboard }%></li>
		<li class="breadcrumb-item">Repartos</li>
		<li class="breadcrumb-item">Gestión Repartos</li>
		<li class="breadcrumb-item active">Visualización de Entregas</li>
	</ol>
	<br>
	<div class="buscador-repartos">
		<div class="row">
			<div class="col-md-2">
				<span class="fas fa-globe-americas"></span>
				<label>Región:</label>
				<%=select_tag "region", options_from_collection_for_select(@regiones, "id", "nombre"), :onchange => 'cargarZonas();', :prompt=> "Seleccione", :class => "custom-select custom-select-sm"%>
			</div>
			<div class="col-md-2">
				<span class="fas fa-city"></span>
				<label>Zonal:</label>
				<%= render "carga_zonas"%>
			</div>
			<div class="col-md-2">
				<span class="fas fa-chart-pie"></span>
				<label>Porción:</label>
				<%= render 'carga_porciones' %>
			</div>
			<div class="col-md-2">
				<span class="fas fa-road"></span>
				<label>Rutas:</label>
				<%= render 'carga_rutas' %>
			</div>
			<div class="col-md-1">
				<button type="button" class="btn-buscar btn-circle btn-lg" onclick="cargarOrdenes();">
					<span class="fas fa-search "></span>
				</button>
			</div>
		</div>
	</div>
</div>
<br>

<%= render 'carga_ordenes' %>

<script type="text/javascript">
	$(function () {
		$('.pagination a').attr('data-remote', 'true')
	});
	// # Cargar Rutas
	function cargarOrdenes() {
		var zona = document.getElementById("zona").value;
		var porcion = document.getElementById("porcion").value;
		var ruta = document.getElementById("ruta").value;
		$.ajax({
			url: "<%=url_for :controller => 'rep_visualizacion_entregas',:action => 'carga_ordenes' %>",
			data: 'zona=' + encodeURIComponent(zona) + "&ruta=" + encodeURIComponent(ruta) + "&porcion=" + encodeURIComponent(porcion),
			cache: false,
			success: function (data) {}
		})
	}
	// # Filtro Zonas
	function cargarZonas() {
		/*Carga las porciones disponibles de una zona */
		var region = document.getElementById("region").value;
		$.ajax({
			url: "<%=url_for :controller => 'rep_visualizacion_entregas',:action => 'carga_zonas' %>",
			data: 'region=' + encodeURIComponent(region),
			cache: false,
			success: function (data) {}
		})
	}
	$(document).ready(function () {
		$('.bg-light').css(
			{'cssText': ' background: #3388c6; background: -moz-linear-gradient(45deg, #fe5000 0%, #ed8b00 100%);background: -webkit-linear-gradient(45deg, #3388c6 0%, #a1c056 100%);background: linear-gradient(45deg, #3388c6 0%, #a1c056 100%);'}
		);
	});
</script>
