<div id="carga_filtro">
	<br>
			<div class="table-responsive">
				<table class="table table-striped table-hover table-sm table-bordered animated fadeIn fast">
					<thead class="color-header">
						<tr>
							<th>Porción</th>
							<th>Ruta</th>
							<th>Total Cliente</th>
							<th>Efectivo</th>
							<th>% Efectivo</th>
							<th>Improcedencias</th>
							<th>% Improcedecias</th>
							<th>Nadie en Casa</th>
							<th>% Nadie en Casa</th>
							<th>Gas Natural</th>
							<th>% Gas Natural</th>
							<th>Otras Claves</th>
							<th>% Otras Claves</th>
						</tr>
						</tr>
					</thead>
					<tbody>
						<% if !@lista.nil?%>
							<% @lista.each do |l| %>
								<tr>
									<td><b><%= l[0]%></b></td>
									<td><b><%= l[1]%></b></td>
									<td><b><%= l[2]%></b></td>
									<td><b><%= l[3]%></b></td>
									<td><b><%= l[4]%>%</b></td>
									<td><b><%= l[5]%></b></td>
									<td><b><%= l[6]%>%</b></td>
									<td><b><%= l[7]%></b></td>
									<td><b><%= l[8]%>%</b></td>
									<td><b><%= l[9]%></b></td>
									<td><b><%= l[10]%>%</b></td>
									<td><b><%= l[11]%></b></td>
									<td><b><%= l[12]%>%</b></td>
								</tr>
							<% end %>
						<% end %>
					</tbody>
					<% if !@totales.blank? %>
					<tfooter >
							<tr class="bg-info text-white">
								<td style="font-size:18px;" colspan="2"><b class="pull-right">Totales:</b></td>
								<td style="font-size:18px;"><a class="badge badge-success" style="color: #ffffff !important;"><b><%= @totales[0]%></b></a></td>
								<td style="font-size:18px;"><a class="badge badge-success" style="color: #ffffff !important;"><b><%= @totales[1]%></b></a></td>
								<td style="font-size:18px;"><a class="badge badge-success" style="color: #ffffff !important;"><b><%= @totales[2]%></b>%</a></td>
								<td style="font-size:18px;"><a class="badge badge-success" style="color: #ffffff !important;"><b><%= @totales[3]%></b></a></td>
								<td style="font-size:18px;"><a class="badge badge-success" style="color: #ffffff !important;"><b><%= @totales[4]%></b>%</a></td>
								<td style="font-size:18px;"><a class="badge badge-success" style="color: #ffffff !important;"><b><%= @totales[5]%></b></a></td>
								<td style="font-size:18px;"><a class="badge badge-success" style="color: #ffffff !important;"><b><%= @totales[6]%></b>%</a></td>
								<td style="font-size:18px;"><a class="badge badge-success" style="color: #ffffff !important;"><b><%= @totales[7]%></b></a></td>
								<td style="font-size:18px;"><a class="badge badge-success" style="color: #ffffff !important;"><b><%= @totales[8]%></b>%</a></td>
								<td style="font-size:18px;"><a class="badge badge-success" style="color: #ffffff !important;"><b><%= @totales[9]%></b></a></td>
								<td style="font-size:18px;"><a class="badge badge-success" style="color: #ffffff !important;"><b><%= @totales[10]%></b>%</a></td>

							</tr>
					</tfooter>
				<%end%>
				</table>
			</div>
			</div>
		</div>
	</div>


	<script>
		function exportarCsv(){
			var zona    = document.getElementById("zona").value;
			var porcion = document.getElementById("porcion").value;
			var mes = document.getElementById("date_month").value;
			var ano = document.getElementById("date_year").value;

			url="<%=url_for :controller => 'lec_reporte_tipos_claves', :action => 'exportar_csv' %>",
			location.href= url + '?zona=' + encodeURIComponent(zona)+
													 '&porcion=' + encodeURIComponent(porcion)+
													 '&ano=' + encodeURIComponent(ano)+
													 '&mes=' + encodeURIComponent(mes);
		}
	</script>
