<title>Claves de Convenios</title>
<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to '<i class="fas fa-home"></i>'.html_safe, { :action => "index", :controller => :dashboard }%></span></li>
  <li class="breadcrumb-item">Convenios</li>
  <li class="breadcrumb-item">Catastros
  </li>
  <li class="breadcrumb-item active">Claves de Convenios</li>
</ol>
<br>
<!-- Información -->
<div class="row">
  <div class="col-md-6 div-padding">
    <b>Totales:</b><hr>
    <ul>
      <li>Claves Regitradas:
        <%= @claveConvenios.count %></li>
    </ul>
  </div>
  <div class="col-md-3">
    <b>Exportar:</b><hr>
    <button class="btn btn-csv btn-sm" onclick="exportarCsv();">
      <span class="fas fa-file-excel"></span>CSV</button>
  </div>
</div><br>
<!-- # > Tabla Contenido -->
<div class="table-responsive-sm ">
  <table class="table table-striped table-hover table-sm table-bordered">
    <thead class="color-header-convenios">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Secuencia</th>
        <th>Requerido</th>
        <th>Efectivo</th>
        <th>Activo</th>
      </tr>
    </thead>
    <tbody>
      <% @claveConvenios.each do |clave_convenio| %>
        <tr>
          <td><%= clave_convenio.id %></td>
          <td><%= clave_convenio.nombre %></td>
          <td><%= clave_convenio.secuencia %></td>
          <td>
            <b>
              <% if clave_convenio.requerido %>
                <input type="checkbox" checked="checked">
              <% else%>
                <input type="checkbox">
              <%end%>
            </b>
          </td>
          <td>
            <b>
              <% if clave_convenio.efectivo %>
                <input type="checkbox" checked="checked">
              <% else%>
                <input type="checkbox">
              <%end%>
            </b>
          </td>
          <td>
            <b>
              <% if clave_convenio.activo %>
                <input type="checkbox" checked="checked">
              <% else%>
                <input type="checkbox">
              <%end%>
            </b>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

  <%= render 'modulos_colors/convenios' %>
