<div id="tabla-contenido">
  <!-- # > Botones e Información -->	
	<div class="row">
    <div class="col-md-4 div-padding">
      <b>Detalles:</b><br>
      <ul>
        <li>Titular: 
          <% if !@cliente.nil? %> <%= @cliente.nombre %> <% end %>
        </li>
        <li>Domicilio:
          <% if !@cliente.nil? %> <%= @cliente.direccion %> <% end %>
        </li>
        <li>Teléfono:
          <% if !@cliente.nil? %> <%= @cliente.telefono %> <% end %>
        </li>
      </ul>
    </div>
    <div class="col-md-2">
      <b>Exportar:</b><br>
      <button class="btn btn-descargas btn-sm" onclick="exportarCsv();">
        <span class="fas fa-file-excel"></span>CSV</button>
      <button class="btn btn-descargas btn-sm" onclick="exportarPdf();">
        <span class="fas fa-file-excel"></span>PDF</button>
    </div>
 </div><br>
            
    <div class="card">
    <div class="card-header"><b>Lecturas Anteriores</b> <span class="fas fa-file-multiple"></span></div>
    <div class="card-body">
      <div class="table-responsive-sm">
        <table class="table table-sm table-hover table-striped table-bordered animated fadeIn fast">
          <thead>
            <tr>
              <th>Acciones</th>
              <th>Orden lectura</th>
              <th>Comuna</th>
              <th>Tipo lectura</th>
              <th>Mes/Año</th>
              <th>Fecha asignación</th>
              <th>Fecha lectura</th>
              <th>Empleado (Lector)</th>
              <th>Estado</th>
              <th>Clave lectura actual</th>
              <th>Clave lectura anterior</th>
              <th>Lectura actual</th>
              <th>Lectura dictada</th>
            </tr>
          </thead>
          <tbody>
            <% if !@listaOrdenes.nil?%>
              <% @listaOrdenes.each do |orden| %>
                <tr>
                  <td>
                <button type="button" onclick="mostrarModalAgregarLecturaDictada();" data-toggle="tooltip" data-placement="top" title="Agregar lectura dictada" class="btn btn-danger btn-sm">
                  <span class="fas fa-tooltip-edit"></span>
                </button>
                  </td>
                  <td><%= orden[0] %></td>
                  <td><%= orden[1] %></td>
                  <td><%= orden[2] %></td>
                  <td><%= orden[3] %></td>
                  <td><%= orden[4] %></td>
                  <td><%= orden[5] %></td>
                  <td><%= orden[6] %></td>
                  <td><%= orden[7] %></td>
                  <td><%= orden[8] %></td>
                  <td><b><%= orden[9] %></b></td>
                  <td><b><%= orden[10] %></b></td>
                  <td><b><%= orden[11] %></b></td>
                </tr>
              <% end%>
            <% end%>   
          <tbody>
        </table>
      </div>      
    </div>
  </div>
  </div>
</div>

<div id="Modal2">
  <div id="modalLecturaDictada" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <div class="panel panel-default" id="panel-titulos">
            <div class="panel-body">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><%= link_to '<i class="fas fa-home"></i>'.html_safe, { :action => "index", :controller => :dashboard }%></span></li>
                <li class="breadcrumb-item">Lectura </li>
                <li class="breadcrumb-item">Analisis Online </li>
                <li class="breadcrumb-item ">Lectura Dictada por Cliente</li>
                <li class="breadcrumb-item active">Agregar Lectura</li>
              </ol>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <div class="col-md-12">
            <%= render 'form_lectura_dictada' %>
          </div>
      </div>
        <div class="modal-footer">
          <button  type="button" class="btn btn-primary" data-dismiss="modal"><span class="fas fa-close-circle-outline"></span> Salir</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript"> 
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });

  function mostrarModalAgregarLecturaDictada(orden_id){
    $.ajax({
      url: "<%=url_for :controller => 'lectura_dictada_cliente',:action => 'form_lectura_dictada' %>",
      data: 'orden_id=' + encodeURIComponent(orden_id),     
      cache: false,
      success: function(data) {}
    })
    $("#modalLecturaDictada").modal();
  }
</script>
