<title>Efectividad por Porción</title>
<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to '<i class="fas fa-home"></i>'.html_safe, { :action => "index", :controller => :dashboard }%></span></li>
    <li class="breadcrumb-item">Cambio Medidores</li>
    <li class="breadcrumb-item">Reportes </li>
    <li class="breadcrumb-item active">Efectividad por Porción</li>
  </ol>
  <br>
  <div class="buscador-cambio_medidor">
    <div class="row">
  		<div class="col-md-2">
  			<label for="">Región:</label>
  				<%=select_tag "region", options_from_collection_for_select(@regiones, "id", "nombre"), :prompt=> "Seleccionar", :class => "custom-select custom-select-sm" , :onchange => 'cargarZonas();'%>
  			</div>
  			<div class="col-md-2">
  				<label for="">Zonal:</label>
  				<%= render 'carga_zonas' %>
  			</div>
  			<div class="col-md-1">
  				<label for="">Mes:</label><br>
  				<%= select_month(Date.today, {use_month_names: %w(Enero Febrero Marzo Abril Mayo Junio Julio Agosto Septiembre Octubre Noviembre Diciembre)},{:class => "custom-select custom-select-sm",:onchange => "cargarPorciones();"})%>
  			</div>
  			<div class="col-md-1">
  				<label for="">Año:</label><br>
  				<%= select_year(2020,{start_year: 2020, end_year: 2040},{ :class => "custom-select custom-select-sm",:onchange => "cargarPorciones();"})%>
  			</div>
  			<div class="col-md-2">
  				<label for="">Porción:</label>
  				<%= render 'carga_porciones' %>
  			</div>

  			<div class="col-md-1">
  				<button type="button" onclick="cargarEfectividad();" class="btn-buscar btn-circle btn-lg"><span class="fas fa-magnify"></span> </button>
  			</div>
  	</div>
  </div>
  <!-- Agregar carga filtro -->
  <div>
    <%= render 'carga_filtro' %>
  </div>
</div>

<script type="text/javascript">
	$( document ).ready(function() {
		$('.bg-light').css({
			'cssText': 'background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(152, 225, 125) 0%, rgb(44, 168, 92) 100%) repeat scroll 0% 0%'
    });
	});
</script>
