<div id="carga_rutas">
<% if !@rutas.nil?  %>
    <%=select_tag "ruta", options_from_collection_for_select(@rutas, "id", "codigo"), :prompt=> "Todos", :class => "custom-select custom-select-sm"%>
<%else%>
    <select id="ruta" class="custom-select custom-select-sm"><option value="">Todos</option>></select>
<%end%>
</div>
