<div id="carga_cierre">
  <div class="table-responsive-sm">
		<table class="table table-striped table-hover table-sm table-bordered animated fadeIn" style="width:100%">
			<thead class="color-header">
				<tr>
					<th colspan="2">Operaciones</th>
					<th>Unidad de Lectura</th>
					<th>Mes</th>
					<th>Asignado</th>
					<th>Leído</th>
					<th>% Visitas</th>
					<th>Total</th>
					<th>Verificaciones pendientes</th>
				</tr>
			</thead>
			<tbody>
				<% if !@listaRutas.blank? %>
					<% @listaRutas.each do |ruta| %>
					<tr>
							<% if !ruta[5] %>
							<td>
								<button style="background-color: gray; border: none;" type="button" class="btn-circle btn-danger btn-sm" style="border:none" data-toggle="tooltip" data-placement="top" disabled>
									<span class="fas fa-calendar-times" style="color:white;"></span>
								</button>
							</td>
							<td>
								<button onclick="descargarArchivo(<%=ruta[6]%>);" style="background-color: #217344; border: none;"  type="button" class="btn-circle btn-success btn-sm" style="border:none" data-toggle="tooltip" data-placement="top">
									<span class="fas fa-file-excel" style="color:white"></span>
								</button>
							</td>
							<% else %>
							<td>
								<button onclick="cerrarProceso(<%=ruta[6]%>);" style="background-color: #ff0000; border: none;" type="button" class="btn-circle btn-danger btn-sm" style="border:none" data-toggle="tooltip" data-placement="top" title="Cerrar Proceso">
									<span class="fas fa-calendar-times" style="color:white;"></span>
								</button>
							</td>
							<td>
								<button style="background-color: gray !important; border: none;"  type="button" class="btn-circle btn-success btn-sm" style="border:none" disabled>
									<span class="fas fa-file-excel" style="color:white"></span>
								</button>
							</td>
							<%end%>
							<td style="font-size: 18px;"><%=ruta[0]%></td>
							<td style="font-size: 18px;"><%=ruta[8]%></td>
							<td style="font-size: 18px;"><%=ruta[1]%></td>
							<td style="font-size: 18px;"><%=ruta[2]%></td>
							<td style="font-size: 18px;"><%=ruta[3]%> % </td>
							<td style="font-size: 18px;"><%=ruta[4]%></td>
							<td style="font-size: 18px;"><%=ruta[7]%></td>
					</tr>
					<% end %>
				<% end %>
			<tbody>
</div>

<%= render 'cerrar_proceso' %>

<script type="text/javascript">
	function cerrarProceso(ruta) {
		$.ajax({
			url: "<%=url_for :controller => 'lec_cierre_lecturas',:action => 'cerrar_proceso' %>",
			data: 'ruta=' + encodeURIComponent(ruta),
			cache: false,
			success: function(data) {}
		})
	}
  
  function descargarArchivo(ruta){
    url="<%=url_for :controller => 'lec_cierre_lecturas', :action => 'descargar_archivo' %>",
    location.href= url + '?ruta=' + encodeURIComponent(ruta);
	}

	$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>