<div id="cerrar_proceso">
   <%if !@mensaje.nil? %>
    <script>
      toastr.success('<%=@mensaje %>');
			cargarCierre();
			$('[data-toggle="tooltip"]').tooltip('dispose');
    </script>
   <% end%>
</div>