<title>Cerrar Procesos de Lectura</title>
<div class="container-fluid">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><%= link_to '<i class="fas fa-home"></i>'.html_safe, { :action => "index", :controller => :dashboard }%></span></li>
			<li class="breadcrumb-item">Lecturas </li>
			<li class="breadcrumb-item">Operaciones </li>
			<li class="breadcrumb-item active">Cerrar Procesos de Lectura</li>
		</ol>
	<br>
		<div class="buscador">
			<div class="row">
				<div class="col-md-2">
					<span class="fas fa-globe-americas"></span> <label>Región:</label>
					<%=select_tag "region", options_from_collection_for_select(@regiones, "id", "nombre"), :onchange => 'cargarZonas();', :prompt=> "Seleccione", :class => "custom-select custom-select-sm"%>
				</div>
				<div class="col-md-2">
					<span class="fas fa-city"></span> <label>Zonal:</label>
					<%= render "carga_zonas"%>
				</div>
				<div class="col-md-1">
					<span class="fas fa-calendar-alt"></span>	<label for="">Mes:</label><br>
					<%= select_month(Date.today, {use_month_names: %w(Enero Febrero Marzo Abril Mayo Junio Julio Agosto Septiembre Octubre Noviembre Diciembre)},{:class => "custom-select custom-select-sm",:onchange => "cargarPorciones();"})%>
				</div>
				<div class="col-md-1">
					<span class="fas fa-calendar-alt"></span> <label for="">Año:</label><br>
					<%= select_year(2020,{start_year: 2021, end_year: 2040},{ :class => "custom-select custom-select-sm",:onchange => "cargarPorciones();"})%>
				</div>
				<div class="col-md-2">
					<span class="fas fa-chart-pie"></span> <label>Porción:</label>
          <%= render 'carga_porciones' %>
				</div>
				<div class="col-md-2">
					<span class="fas fa-chart-pie"></span> <label>Unidad de Lectura:</label>
          <%= render 'carga_rutas' %>
				</div>
				<div class="col-md-1">
					<button type="button" class="btn-buscar btn-circle btn-lg" onclick="cargarCierre();">
						<span class="fas fa-search "></span>
					</button>
				</div>
			</div>
		</div>


<br>
<div class="container-fluid">
	<%= render 'carga_cierre' %>
</div>

<script type="text/javascript">


	function cargarCierre() {
  	/*Carga las porciones disponibles de una zona */
		var porcion = document.getElementById("porcion").value;
		var ruta = document.getElementById("ruta").value;
		var zona = document.getElementById("zona").value;
		var mes = document.getElementById("date_month").value;
		var ano = document.getElementById("date_year").value;

		$.ajax({
			url: "<%=url_for :controller => 'lec_cierre_lecturas',:action => 'carga_cierre' %>",
			data: 'porcion=' + encodeURIComponent(porcion) + "&" +
					  'ruta=' + encodeURIComponent(ruta) + "&" +
						'mes=' + encodeURIComponent(mes) + "&" +
					  'ano=' + encodeURIComponent(ano) + "&" +
					  'zona=' + encodeURIComponent(zona),
						cache: false,
			success: function(data) {}
		})
	}
	// # Filtro Zonas
	function cargarZonas() {
  	/*Carga las porciones disponibles de una zona */
		var region = document.getElementById("region").value;
		$.ajax({
			url: "<%=url_for :controller => 'lec_cierre_lecturas',:action => 'carga_zonas' %>",
			data: 'region=' + encodeURIComponent(region),
			cache: false,
			success: function(data) {}
		})
	}

	$( document ).ready(function() {
		$('.bg-light').css({
      	'cssText': 'background-color: #fa5000 !important; color: white;'
    });
	});
</script>
