3<div class="fixed-top navbar navbar-light bg-light navbar-static-top navbar-expand-md" id="navegacion">
  <div class="container">
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">☰</button>
      <%= link_to (image_tag 'logo_abastible_blanco.svg',:width => 120, :height => 50), {controller: "dashboard", action: "index",:class => "navbar-brand"} %>
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          <li class="dropdown menu-large nav-item"> <a href="#" onclick="fondoNav(1)" class="dropdown-toggle nav-link" data-toggle="dropdown"><span class="fas fa-file-invoice"></span> Lectura</a>
              <ul class="dropdown-menu megamenu">
                  <div class="row">
                  <li class="col-md-4 dropdown-item" >
                      <ul>
                          <li class="dropdown-header">Importar</li>
                          <div class="dropdown-divider"></div>
                          <li><%=link_to '<i class="fas fa-file-upload "></i> Importar Ordenes de lectura'.html_safe,lectura_operaciones_importar_ordenes_lectura_path,:class => "dropdown-item" %></li>
                          <li><%=link_to '<i class="fas fa-file-upload "></i> Importar Despachos Postales'.html_safe,lectura_operaciones_importar_despachos_postales_path,:class => "dropdown-item" %></li>
                          <div class="dropdown-divider"></div>
                          <li class="dropdown-header">Operaciones</li>
                          <div class="dropdown-divider"></div>
                          <li><%=link_to '<i class="fas fa-folder-plus"></i> Asignación de Libreta de O.L'.html_safe, lectura_operaciones_asignacion_lecturas_path,:class => "dropdown-item" %></li>
                          <li><%=link_to '<i class="fas fa-map-marked-alt "></i> Monitoreo de Lectores en Terreno'.html_safe, lectura_operaciones_monitor_lectores_path,:class => "dropdown-item"%></li>
                          <li><%=link_to ' <i class="fas fa-minus-circle "></i> Cerrar Procesos'.html_safe,lectura_operaciones_cierre_lecturas_path,:class => "dropdown-item"%></li>
                          <div class="dropdown-divider"></div>
                          <li class="dropdown-header">Catastros</li>
                          <div class="dropdown-divider"></div>
                          <li><%=link_to ' <i class="fas fa-list-alt"></i> Claves de Lectura'.html_safe,catastro_clave_lecturas_path,:class => "dropdown-item"%></li>
                          <div class="dropdown-divider"></div>
                      </ul>
                  </li>
                  <li class="col-md-4 dropdown-item">
                      <ul>
                        <li class="dropdown-header">Históricos</li>
                          <div class="dropdown-divider"></div>
                          <li><%=link_to '<i class="fas fa-search"></i> Histórico de Lecturas de un Cliente'.html_safe, lectura_analisis_online_historico_lecturas_path,:class => "dropdown-item"%></li>
                          <li><%=link_to '<i class="fas fa-list-ol"></i> Histórico Improcedencias'.html_safe, lectura_analisis_online_historico_improcedencias_path,:class => "dropdown-item"%></li>
                          <div class="dropdown-divider"></div>
                          <li class="dropdown-header">Análisis en Línea</li>
                          <div class="dropdown-divider"></div>
                          <li><%=link_to '<i class="fas fa-less-than"></i> Consumo Actual Cero'.html_safe, analisis_consumos_cero_path,:class => "dropdown-item"%></li>
                          <li><%=link_to '<i class="fas fa-angle-double-down"></i> Consumo Inferior'.html_safe, lec_consumos_inferiores_path,:class => "dropdown-item"%></li>
                          <li><%=link_to '<i class="fas fa-angle-double-up"></i> Consumo Máximo'.html_safe, analisis_consumos_maximos_path,:class => "dropdown-item"%></li>
                          <li><%=link_to '<i class="fas fa-exclamation-circle"></i> Improcedencias'.html_safe, analisis_improcedencias_path,:class => "dropdown-item"%></li>
                          <div class="dropdown-divider"></div>
                          <li class="dropdown-header">Verificaciones </li>
                          <div class="dropdown-divider"></div>
                          <li><%=link_to '<i class="fas fa-calendar-times"></i> Pendientes Verificación'.html_safe,lectura_analisis_online_clientes_pendientes_verificacion_path,:class => "dropdown-item"%></li>
                          <li><%#link_to '<i class="fas fa-check-double"></i> Servicios Verificados'.html_safe, verificaciones_servicios_verificados_path,:class => "dropdown-item"%></li>
                          <div class="dropdown-divider"></div>
                      </ul>
                  </li>
                  <li class="col-md-4 dropdown-item">
                      <ul>
                        <li class="dropdown-header">Reportes de Efectividad</li>
                        <div class="dropdown-divider"></div>
                        <li><%=link_to '<i class="fas fa-percent"></i> Efectividad por Porción'.html_safe,lectura_reportes_efectividad_porcion_path,:class => "dropdown-item"%></li>
                        <li><%=link_to '<i class="fas fa-percent"></i> Efectividad por Operador de Medidor'.html_safe,lectura_reportes_efectividad_lector_path,:class => "dropdown-item"%></li>
                        <div class="dropdown-divider"></div>
                        <li class="dropdown-header">Reportes de Gestión</li>
                        <div class="dropdown-divider"></div>
                        <li><%=link_to '<i class="fas fa-map-marker"></i> Coordenadas GPS'.html_safe,lectura_reportes_control_coordenadas_gps_path,:class => "dropdown-item"%><//i>
                        <li><%=link_to '<i class="fas fa-clock"></i> Horas por Lector'.html_safe,lectura_reportes_control_horas_lector_terreno_path,:class => "dropdown-item"%></li>
                        <div class="dropdown-divider"></div>
                        <li><%=link_to '<i class="fas fa-table"></i> Lectura Dictada Por Cliente'.html_safe,lectura_reportes_lectura_dictada_cliente_path,:class => "dropdown-item"%></li>
                        <li><%=link_to '<i class="fas fa-table"></i> Lecturas Estimadas'.html_safe,lectura_reportes_lecturas_estimadas_path,:class => "dropdown-item"%></li>
                        <li><%=link_to '<i class="fas fa-table"></i> Gestión de Calidad'.html_safe,lectura_reportes_gestion_calidad_path,:class => "dropdown-item"%></li>
                        <div class="dropdown-divider"></div>
                        <li><%=link_to '<i class="fas fa-exclamation-circle"></i> Tipo de Claves de Lectura'.html_safe,lectura_reportes_tipos_claves_path,:class => "dropdown-item"%></li>
                        <div class="dropdown-divider"></div>
                        <li class="dropdown-header">Resumen</li>
                        <div class="dropdown-divider"></div>
                        <li><%=link_to '<i class="fas fa-chart-bar"></i> Resumen Visitas'.html_safe,lectura_reportes_visitas_path,:class => "dropdown-item"%></li>
                        <li><%=link_to '<i class="fas fa-chart-bar"></i> Resumen General Lecturas'.html_safe,lectura_reportes_resumen_general_lecturas_path,:class => "dropdown-item"%></li>

                        <div class="dropdown-divider"></div>
                      </ul>
                  </li>
                </div>
            </ul>
          </li>
            <li class="dropdown menu-large nav-item"> <a href="#" onclick="fondoNav(2)" class="dropdown-toggle nav-link" data-toggle="dropdown"><span class="fas fa-truck"></span> Reparto </a>
              <ul class="dropdown-menu megamenu">
                <div class="row">
                  <li class="col-md-4 dropdown-item">
                    <ul>
                      <li class="dropdown-header">Operaciones</li>
                      <div class="dropdown-divider"></div>
                      <li ><%=link_to '<i class="fas fa-folder-plus "></i> Asignación de Repartos'.html_safe, reparto_operaciones_asignacion_repartos_path,:class => "dropdown-item" %></li>
                      <li><%=link_to '<i class="fas fa-map-marker-alt"></i> Monitoreo de Repartidores en Terreno'.html_safe, reparto_operaciones_monitor_repartidores_path,:class => "dropdown-item"%></li>
                      <div class="dropdown-divider"></div>
                    </ul>
                  </li>
                  <li class="col-md-4 dropdown-item">
                    <ul>
                      <li class="dropdown-header">Históricos</li>
                      <div class="dropdown-divider"></div>
                      <li><%=link_to '<i class="fas fa-search"></i> Histórico de Documentos'.html_safe, reparto_gestion_repartos_historico_documentos_path,:class => "dropdown-item"%></li>
                      <div class="dropdown-divider"></div>
                      <li class="dropdown-header">Gestión Repartos</li>
                      <div class="dropdown-divider"></div>
                      <li><%=link_to '<i class="fas fa-align-justify"></i> Visualización de Entregas'.html_safe, reparto_gestion_repartos_visualizacion_entregas_path,:class => "dropdown-item"%></li>
                    </ul>
                  </li>
                  <li class="col-md-4 dropdown-item">
                    <ul>
                      <li class="dropdown-header">Reportes de Efectividad</li>
                      <div class="dropdown-divider"></div>
                      <li><%=link_to '<i class="fas fa-percent"></i> Efectividad por Porción'.html_safe,reparto_reportes_efectividad_porcion_reparto_path,:class => "dropdown-item"%></li>
                      <!-- <li><%=link_to '<i class="fas fa-percent"></i> Efectividad por Operador de Medidor'.html_safe,:class => "dropdown-item"%></li> -->
                      <div class="dropdown-divider"></div>
                      <li class="dropdown-header">Reportes de Gestión</li>
                      <div class="dropdown-divider"></div>
                      <li><%=link_to '<i class="fas fa-map-marker"></i> Coordenadas GPS'.html_safe,reparto_reportes_control_coordenadas_gps_path,:class => "dropdown-item"%></li>
                      <li><%=link_to '<i class="fas fa-clock"></i> Horas por Repartidor'.html_safe,reparto_reportes_control_horas_path,:class => "dropdown-item"%></li>
                      <div class="dropdown-divider"></div>
                    </ul>
                  </li>
                </div>
              </ul>
            </li>      
          </ul>




          <ul class="navbar-nav ml-auto" >
           <li class="dropdown menu-large nav-item float-left"> <a href="#" onclick="fondoNav(6)" class="dropdown-toggle nav-link" data-toggle="dropdown">                     <%= current_usuario.email%> <span class="fas fa-account-circle mdi-18px"></span>
           </a>
            <ul class="dropdown-menu megamenu">
                <div class="row">
                <li class="col-md-6 dropdown-item">
                    <ul>
                      <li class="dropdown-header"><span class="fas fa-info-circle"></span> Información</li>
                      <div class="dropdown-divider"></div>
                      <div class="row">
                        <div class="col-md-3">
                          <%= image_tag 'userIcon', :size =>"120x120" %>
                          <div class="dropdown-divider"></div>
                        </div>
                        <div class="col-md-8">
                        <b>Nombre:</b> <%= current_usuario.empleado.nombre_completo %> <br>
                        <b>Usuario:</b> <%= current_usuario.email %> <br>
                        <b>Rut:</b> <%= current_usuario.empleado.rut %> <br>
                        <b>Empresa:</b> <%= current_usuario.empleado.empresa.razon_social %> <br>
                        <b>Contratista:</b> Provider <br>
                        <b>Perfil:</b> <%= current_usuario.perfil.nombre %> <br>
                        <% zonas = current_usuario.empleado.zona %>
                        <b>Zonas:</b><br>
                          <% zonas.each do |zona| %>
                            <ol> - <%= zona.nombre %></ol>
                          <% end %>
                        <b>Ultima Conexión:</b> <%= current_usuario.last_sign_in_at.strftime("%e-%m-%Y %H:%M:%S") %> <br>
                        <div class="dropdown-divider"></div>
                        </div>
                      </div>
                    </ul>

                </%>
                <li class="col-md-3 dropdown-item">
                  <ul>
                    <li class="dropdown-header">Descargas</li>
                    <div class="dropdown-divider"></div>
                    <li><%=link_to '<i class="fas fa-file-pdf"></i> Manual Usuario Web'.html_safe, {:controller => "dashboard", :action => "descargar_manual_web"}, :class => "dropdown-item" %></li>
                    <li><%=link_to '<i class="fas fa-file-pdf"></i> Manual Usuario APP'.html_safe,{:controller => "dashboard", :action => "descargar_manual_app"}, :class => "dropdown-item" %></li>
                    <div class="dropdown-divider"></div>
                  </ul>
              </li>
                <li class="col-md-3 dropdown-item">
                    <ul> <li class="dropdown-header">Mi Cuenta</li>
                      <div class="dropdown-divider"></div>
                      <li><%=link_to '<i class="fas fa-user-edit"></i> Modificar Contraseña'.html_safe, :class => "dropdown-item" %> </li>
                      <li><%=link_to '<i class="fas fa-power-off"></i> Cerrar Sesión'.html_safe, destroy_usuario_session_path, method: :delete, :class => "dropdown-item" %></li>
                      <div class="dropdown-divider"></div>
                    </ul>
                </li>
                </div>
                </ul>
            </li>
        </ul>
      </div>
  </div>
</div>


<script>
  function fondoNav(module){
    if (module == 1){
      $(function(){
        $('.bg-light').css({
          'cssText': 'background: #fe5000; background: -moz-linear-gradient(45deg, #fe5000 0%, #ed8b00 100%);background: -webkit-linear-gradient(45deg, #fe5000 0%, #ed8b00 100%); background: linear-gradient(45deg, #fe5000 0%, #ed8b00 100%);'
          });
      })
    }
    if (module == 2){
      $(function(){
        $('.bg-light').css({
          'cssText': ' background: #3388c6; background: -moz-linear-gradient(45deg, #fe5000 0%, #ed8b00 100%);background: -webkit-linear-gradient(45deg, #3388c6 0%, #a1c056 100%);background: linear-gradient(45deg, #3388c6 0%, #a1c056 100%);'
          });
      })
    }
    if (module == 3){
      $(function(){
        $('.bg-light').css({
          'cssText': 'background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(255, 209, 60) 0%, rgb(168, 131, 44) 100%) repeat scroll 0% 0%;'
          });
      })
    }
    if (module == 4){
      $(function(){
        $('.bg-light').css({
          'cssText': 'background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(152, 225, 125) 0%, rgb(44, 168, 92) 100%) repeat scroll 0% 0%'
          });
      })
    }
    if (module == 5){
      $(function(){
        $('.bg-light').css({
          'cssText': 'background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(225, 125, 125) 0%, rgb(168, 67, 44) 100%) repeat scroll 0% 0%'
          });
      })
    }

    if (module == 6){
      $(function(){
        $('.bg-light').css({
          'cssText': 'background:rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(138, 147, 135) 0%, rgb(204, 210, 207) 100%) repeat scroll 0% 0%;'
          });
      })
    }
    if (module == 7){
      $(function(){
        $('.bg-light').css({
          'cssText': 'background:rgba(0, 0, 0, 0) linear-gradient(45deg, #009cff 0%, #003c61 100%);'
          });
      })
    }
  }

</script>
