<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <%= include_gon %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon-32x32.ico' %>
   <!-- Fuentes -->
    <script src="https://cdn.jsdelivr.net/gh/loadingio/ldLoader@v1.0.0/dist/ldld.min.js"></script>
    <link href="https://cdn.jsdelivr.net/gh/loadingio/ldLoader@v1.0.0/dist/ldld.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
    <script src="//maps.google.com/maps/api/js?key=AIzaSyASB25f44OpBXVAUPFeLglmAZu5ZdE_2WI"></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    <script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script>
    <script src='//underscorejs.org/underscore-min.js' type='text/javascript'></script>
    <!-- Graficos Google -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" charset="utf-8"></script>
  </head>

  <%if usuario_signed_in? %>
    <body id="fondo">
      <% if current_usuario.perfil_id == 1 %>
        <%= render  'layouts/menu_administrador' %>
      <% elsif current_usuario.perfil_id == 2 %>
        <%= render 'layouts/menu_administrador_contratos' %>
      <% elsif current_usuario.perfil_id == 3 %>
        <%= render 'layouts/menu_coordinador_lecturas' %>
      <% elsif current_usuario.perfil_id == 4 %>
        <%= render 'layouts/menu_analista_lecturas' %>
      <% elsif current_usuario.perfil_id == 5 %>
        <%= render 'layouts/menu_atencion_clientes' %>
      <% elsif current_usuario.perfil_id == 6 || current_usuario.perfil_id == 7 %>
        <%= render 'layouts/menu_lector' %>
      <% end %>
      <div  class="container-fluid">
        <br><br><br>
        <div>
          <%  flash.each do |key, value| %>
            <%if key == "success" %>
              <div class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Completado! </strong> <%= value %>
              </div>
            <% end %>
            <%if key == "danger" %>
              <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Ups ha ocurrido un error! </strong>  <%= value %>
              </div>
            <% end %>
          <% end %>
        </div>
        <%= yield  %>
      </div>
    </body>
    <!--
      # Footer
     -->
    <footer class="footer">
      <%= link_to (image_tag 'fastbilling_footer.png',:width => 180, :height => 60), {controller: "dashboard", action: "index",:class => "animated rubberBand"} %>
    </footer>

  <%else%>
    <%= render 'login' %>
    <style>
    div.main{
      background: #0264d6; /* Old browsers */
      background: -moz-radial-gradient(center, ellipse cover,  #0264d6 1%, #eb6501 100%); /* FF3.6+ */
      background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#0264d6), color-stop(100%,#eb6501)); /* Chrome,Safari4+ */
      background: -webkit-radial-gradient(center, ellipse cover,  #0264d6 1%,#eb6501 100%); /* Chrome10+,Safari5.1+ */
      background: -o-radial-gradient(center, ellipse cover,  #0264d6 1%,#eb6501 100%); /* Opera 12+ */
      background: -ms-radial-gradient(center, ellipse cover,  #0264d6 1%,#eb6501 100%); /* IE10+ */
      background: radial-gradient(ellipse at center,  #ea7c54 1%,#eb6501 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0264d6', endColorstr='#eb6501',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
      height:calc(100vh);
      width:100%;
      }

      [class*="fontawesome-"]:before {
        font-family: 'FontAwesome', sans-serif;
      }

      /* ---------- GENERAL ---------- */

      * {
        box-sizing: border-box;
          margin:0px auto;

        &:before,
        &:after {
          box-sizing: border-box;
        }

      }

      body {

        color: #606468;
        font: 87.5%/1.5em 'Open Sans', sans-serif;
        margin: 0;
      }

      a {
        color: #eee;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }

      input {
        border: none;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 14px;
        line-height: 1.5em;
        padding: 0;
        -webkit-appearance: none;
      }

      p {
        line-height: 1.5em;
      }

      .clearfix {
        *zoom: 1;

        &:before,
        &:after {
          content: ' ';
          display: table;
        }

        &:after {
          clear: both;
        }

      }

      .container {
        left: 50%;
        position: fixed;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      /* ---------- LOGIN ---------- */

      #login form{
        width: 250px;
      }
      #login, .logo{
          display:inline-block;
          width:40%;
      }
      #login{
      border-right:1px solid #fff;
        padding: 0px 22px;
        width: 59%;
      }
      .logo{
      color:#fff;
      font-size:50px;
        line-height: 125px;
      }

      #login form span.fa {
        background-color: #fff;
        border-radius: 3px 0px 0px 3px;
        color: #000;
        display: block;
        float: left;
        height: 50px;
          font-size:24px;
        line-height: 50px;
        text-align: center;
        width: 50px;
      }

      #login form input {
        height: 50px;
      }
      fieldset{
          padding:0;
          border:0;
          margin: 0;

      }
      #login form input[type="text"], input[type="password"] {
        background-color: #fff;
        border-radius: 0px 3px 3px 0px;
        color: #000;
        margin-bottom: 1em;
        padding: 0 16px;
        width: 200px;
      }

      #login form input[type="submit"] {
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        background-color: #000000;
        color: #eee;
        font-weight: bold;
        /* margin-bottom: 2em; */
        text-transform: uppercase;
        padding: 5px 10px;
        height: 30px;
      }

      #login form input[type="submit"]:hover {
        background-color: #f4c800;
      }

      #login > p {
        text-align: center;
      }

      #login > p span {
        padding-left: 5px;
      }
      .middle {
        display: flex;
        width: 600px;
      }
     </style>
  <% end %>


  <script type="text/javascript" charset="utf-8">
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>
