<!-- Navegación Superior -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="logo-empresa">
    <!-- <%= link_to (image_tag 'isotipo_fas.png',:width => 60, :height => 50), {controller: "dashboard", action: "index"} %> -->
    <%= link_to (image_tag 'isotipo_fastbilling.png',:width => 60, :height => 50), {controller: "dashboard", action: "index"} %>
    <%= link_to (image_tag 'logo_cge.png',:width => 50, :height => 50), {controller: "dashboard", action: "index"} %>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse mr-auto " id="navbarNavDropdown">
    
  </div>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="fas fa-format-list-bulleted mdi-18px"></span> Catastros 
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%=link_to '<span class="fas fa-face-profile"></span> Perfiles de Usuario'.html_safe, catastro_perfiles_path, :class => "dropdown-item" %>
            <%=link_to '<span class="fas fa-account-multiple"></span> Usuarios Administrativos'.html_safe, catastro_empleados_administrativos_path, :class => "dropdown-item" %>
            <%=link_to '<span class="fas fa-account-multiple"></span> Usuarios Agentes de Terreno'.html_safe, catastro_empleados_agentes_terreno_path, :class => "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%=link_to '<span class="fas fa-file-tree"></span> Claves y Observaciones de Lectura'.html_safe, catastro_clave_lecturas_path, :class => "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%=link_to '<span class="fas fa-file-tree"></span> Observaciones de Reparto'.html_safe, catastro_observacion_repartos_path, :class => "dropdown-item" %>
          </div>
        </li>
        <li class="nav-item dropdown active">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"> <i class="fas fa-file-document mdi-18px"></i>Lecturas <b class="caret"></b></a>
          <ul class="dropdown-menu multi-level">
            <li class="dropdown-item dropdown-submenu">
              <a class="dropdown-toggle" data-toggle="dropdown"><span class="fas fa-worker"></span>  Operaciones</a>
              <ul class="dropdown-menu">
                <li><%=link_to '<span class="fas fa-file-import"></span> Importar Ordenes de lectura'.html_safe,lectura_operaciones_importar_ordenes_lectura_path,:class => "dropdown-item" %></li>
                <div class="dropdown-divider"></div>
                <li><%=link_to '<span class="fas fa-library-plus"></span> Asignación de Libreta de O.L'.html_safe, lectura_operaciones_asignacion_lecturas_path,:class => "dropdown-item" %></li>
                <li><%=link_to '<span class="fas fa-printer"></span> Impresión de Libreta de O.L'.html_safe, lectura_operaciones_impresion_ruteros_path,:class => "dropdown-item"%></li>
                <div class="dropdown-divider"></div>
                <li><%=link_to '<span class="fas fa-google-maps"></span> Monitoreo de Lectores en Terreno'.html_safe, lectura_operaciones_monitor_lectores_path,:class => "dropdown-item"%></li>
                <li><%=link_to '<span class="fas fa-minus-circle"></span> Cerrar Procesos'.html_safe, lectura_operaciones_cerrar_procesos_lecturas_path,:class => "dropdown-item"%></li>
              </ul>
              
            </li>

            <li class="dropdown-item dropdown-submenu">
              <a class="dropdown-toggle" data-toggle="dropdown"><span class="fas fa-chart-pie"></span>  Análisis en Línea</a>
              <ul class="dropdown-menu">
                <li><%=link_to '<span class="fas fa-file-plus"></span> Lectura Dictada Por Cliente'.html_safe,lectura_analisis_online_lectura_dictada_cliente_path,:class => "dropdown-item"%></li>
                <div class="dropdown-divider"></div>
                <li><%=link_to '<span class="fas fa-chart-bar-stacked"></span> Clientes Dudosos Máximos Y Mínimos'.html_safe, lectura_analisis_online_clientes_dudosos_path,:class => "dropdown-item"%></li>
                <li><%=link_to '<span class="fas fa-chart-bar-stacked"></span> Clientes Dudosos Improcedentes'.html_safe, lectura_analisis_online_clientes_improcedentes_path,:class => "dropdown-item"%></li>
                <div class="dropdown-divider"></div>
                <li><%=link_to '<span class="fas fa-file-multiple"></span> Histórico de Lecturas de un Cliente'.html_safe, lectura_analisis_online_historico_lecturas_path,:class => "dropdown-item"%></li>
                <li><%=link_to '<span class="fas fa-arrow-left"></span> Clientes Pendientes de Verificación'.html_safe,lectura_analisis_online_clientes_pendientes_verificacion_path,:class => "dropdown-item"%></li>
              </ul>
            </li>

            <li class="dropdown-item dropdown-submenu">
              <a class="dropdown-toggle" data-toggle="dropdown"><span class="fas fa-file-chart"></span> Reportes</a>
              <ul class="dropdown-menu">
                  <li><%=link_to '<span class="fas fa-file-chart"></span> Efectividad de Procesos'.html_safe,lectura_reportes_efectividad_procesos_path,:class => "dropdown-item"%></li>
                  <li><%=link_to '<span class="fas fa-file-chart"></span> Efectividad por Porción'.html_safe,lectura_reportes_efectividad_porcion_path,:class => "dropdown-item"%></li>
                  <li><%=link_to '<span class="fas fa-file-chart"></span>Efectividad por Lector'.html_safe,lectura_reportes_efectividad_lector_path,:class => "dropdown-item"%></li>
                  <div class="dropdown-divider"></div>
                  <li><%=link_to '<span class="fas fa-file-chart"></span> Control de Folios Casa Cerrada'.html_safe,lectura_reportes_casa_cerrada_path,:class => "dropdown-item"%></li>
                  <li><%=link_to '<span class="fas fa-file-chart"></span> Control de Coordenadas GPS'.html_safe,lectura_reportes_control_coordenadas_gps_path,:class => "dropdown-item"%></li>
                  <li><%=link_to '<span class="fas fa-file-chart"></span> Control de Horas por Lector'.html_safe,lectura_reportes_control_horas_lector_terreno_path,:class => "dropdown-item"%></li>

                  <div class="dropdown-divider"></div>
                  <li><%=link_to '<span class="fas fa-file-chart"></span> Números de Intentos de Ingreso de Lectura'.html_safe,lectura_reportes_numero_intentos_lector_path,:class => "dropdown-item"%></li>
                  <li><%=link_to '<span class="fas fa-file-chart"></span> Tipo de Claves de Lectura'.html_safe,lectura_reportes_tipos_claves_path,:class => "dropdown-item"%></li>
                  <div class="dropdown-divider"></div>
                  <li><%=link_to '<span class="fas fa-file-chart"></span> Llenado de Estanques'.html_safe,lectura_reportes_llenado_estanques_path,:class => "dropdown-item"%></li>
                  <li><%=link_to '<span class="fas fa-file-chart"></span> Clientes con "N" Veces sin Lectura Efectiva'.html_safe,reporte_nveces_sinlecturaefectiva_index_path,:class => "dropdown-item"%></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown active">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"> <i class="fas fa-file-document mdi-18px"></i>Repartos <b class="caret"></b></a>
          <ul class="dropdown-menu multi-level">
            <li class="dropdown-item dropdown-submenu">
              <a class="dropdown-toggle" data-toggle="dropdown"><span class="fas fa-worker" style="color:#FE7F2D"></span>  Operaciones</a>
              <ul class="dropdown-menu">
                  <li><%=link_to 'Importar Ordenes de Reparto', reparto_operaciones_importar_ordenes_reparto_path,:class => "dropdown-item"%></li>
                  <li class="dropdown-divider"></li>
                  <li><%=link_to 'Asignación de Libreta O.R', reparto_operaciones_asignacion_repartos_path,:class => "dropdown-item"%></li>
                  <li class="dropdown-divider"></li>
                  <li><%=link_to 'Monitoreo de Agentes en Terreno', reparto_operaciones_monitor_repartidores_path,:class => "dropdown-item"%></li>
                  <li class="dropdown-divider"></li>
                  <li><%=link_to 'Cerrar Procesos', reparto_operaciones_cerrar_procesos_repartos_path,:class => "dropdown-item"%></li>
              </ul>
            </li>

            <li class="dropdown-item dropdown-submenu">
              <a class="dropdown-toggle" data-toggle="dropdown"><span class="fas fa-chart-pie" style="color:#A1C181"></span>  Gestión Repartos</a>
              <ul class="dropdown-menu">
                  <li><%=link_to 'Historico Doc. de un Cliente', reparto_gestion_repartos_historico_documentos_path,:class => "dropdown-item"%></li>
                  <li><%=link_to 'Devolución de Documentos', reparto_gestion_repartos_devoluciones_path,:class => "dropdown-item"%></li>
              </ul>
            </li>

            <div class="dropdown-item dropdown-submenu">
              <a class="dropdown-toggle" data-toggle="dropdown"><span class="fas fa-file-chart" style="color:#233D4D"></span> Reportes</a>
              <ul class="dropdown-menu">
							  <li><%=link_to 'Efectividad de Procesos', reparto_reportes_efectividad_procesos_path,:class => "dropdown-item"%></li>
							  <div class="dropdown-divider"></div>
							  <li><%=link_to 'Devoluciones', reparto_reportes_devoluciones_path,:class => "dropdown-item"%></li>
							  <div class="dropdown-divider"></div>
							  <li><%=link_to 'Control Entregas', reparto_reportes_control_entregas_path,:class => "dropdown-item"%></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <%= link_to '<i class="fas fa-cash-usd mdi-18px"></i> Facturación'.html_safe, { :action => "catastros", :controller => :menus}, :class => "nav-link"%> 
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="fas fa-database mdi-18px"></span> Inventarios 
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%=link_to 'Empleados', empleados_path, :class => "dropdown-item" %>
              <%=link_to 'Equipos', empleados_path, :class => "dropdown-item" %>
              <%=link_to 'Marcas', empleados_path, :class => "dropdown-item" %>
              <%=link_to 'Modelos', empleados_path, :class => "dropdown-item" %>
            </div>
          </li>
          <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="fas fa-help-circle mdi-18px"></span>  Manuales 
              </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                
            </div>
          </li>
    </ul>
    <ul class="navbar-nav ml-auto" >
      
      <li class="nav-item dropdown float-left">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_usuario.email%> <span class="fas fa-account-circle mdi-18px"></span>
          </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%=link_to 'Cerrar Sesión', destroy_usuario_session_path, method: :delete, :class => "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</nav>
<br>
